<!-- List Study Cases -->
<div id="left-box" ng-if="vm.initial && !vm.addStudyCases && !vm.editStudyCase">
	<div class="container">
		<h1>Estudos de caso no sistema:</h1>
		<div ng-repeat="row in vm.studyCases" class="list-group">
			<span>
				<a href="#" class="list-group-item list-group-item-action"
					ng-click="vm.showStudyCaseInfo(row)">
					{{ row.slug }} || {{ row.descricao }}
				</a>
				<button type="button" ng-click="vm.enableAddForm('edit', row)">
					Editar
				</button>
				<a type="button" href="/api/cases/delcase/{{ row.fid }}/">
					Apagar
				</a>
				<button type="button" ng-click="vm.activateAddNewLayer(row.slug)">
					Adicionar novo tema
				</button>
			</span>
		</div>
	</div>
	
	<hr>
	
	<button type="button" ng-click="vm.enableAddForm('add')">
		Adicionar novo caso
	</button>
</div>

<!-- Add/Edit new Study Case Form -->
<edit-study-cases ng-if="vm.addStudyCases || vm.editStudyCase"
	addcases="vm.addStudyCases"
	editcase="vm.editStudyCase"></edit-study-cases>

<!-- List Data for Study Cases -->
<div id="right-box" ng-if="vm.caseSelected && vm.initial">
	<h3>Caso estudo {{ vm.caseSelected.slug }}:</h3>

	<h5>Descrição:</h5>
	<p>{{ vm.caseSelected.descricao }}</p>
	
	<h5>Temas associados a este caso de estudo:</h5>
	<ul>
		<li>
			<span ng-if="vm.pointsOpen"
				class="fa fa-minus" aria-hidden="true"
				style="color: #C0C0C0"
				ng-click="vm.openPointsList()"></span>
			<span ng-if="!vm.pointsOpen"
				class="fa fa-plus" aria-hidden="true"
				style="color: #C0C0C0"
				ng-click="vm.openPointsList()"></span>
			Temas Pontos:

			<ul ng-if="!vm.casePntLyr">
				<li>Ainda não há temas de pontos associados a este caso de estudo...</li>
			</ul>
			<ul ng-if="vm.casePntLyr && vm.pointsOpen">
				<li ng-repeat="pntlyr in vm.casePntLyr">
					{{ pntlyr.name }}
					<span>
						<a type="button" href="/api/cases/delpntlyr/{{ pntlyr.fid }}/">Apagar</a>
					</span>
				</li>
			</ul>
		</li>
		<li>
			<span ng-if="vm.polygonsOpen"
				class="fa fa-minus" aria-hidden="true"
				style="color: #C0C0C0"
				ng-click="vm.openPolygonsList()"></span>
			<span ng-if="!vm.polygonsOpen"
				class="fa fa-plus" aria-hidden="true" style="color: #C0C0C0"
				ng-click="vm.openPolygonsList()"></span>
			Temas Polígonos:

			<ul ng-if="!vm.casePolyLyr">
				<li>Ainda não há temas de poligonos associados a este caso de estudo...</li>
			</ul>
			<ul ng-if="vm.casePolyLyr && vm.polygonsOpen">
				<li ng-repeat="polyLyr in vm.casePolyLyr">{{ polyLyr.name }}
					<span><a type="button" href="/api/cases/delpolylyr/{{ polyLyr.fid }}/">
						Apagar
					</a></span>
				</li>
			</ul>
		</li>
		<li>
			<span ng-if="vm.indicatorsOpen"
				class="fa fa-minus" aria-hidden="true"
				style="color: #C0C0C0"
				ng-click="vm.openIndicatorsList()"></span>
			<span ng-if="!vm.indicatorsOpen"
				class="fa fa-plus" aria-hidden="true"
				style="color: #C0C0C0"
				ng-click="vm.openIndicatorsList()"></span>
			Indicadores sociodemográficos:
		
			<ul ng-if="!vm.caseIndicators">
				<li>Ainda não há dados de indicadores associados a este caso de estudo...</li>
			</ul>
			<ul ng-if="vm.caseIndicators && vm.indicatorsOpen">
				<li ng-repeat="lyr in vm.caseIndicators">
					{{ lyr.id_indicator.name }}
					<span>
						<a type="button" href="/pt/atlas/cases/delyr/{{ lyr.fid }}/">Apagar</a>
					</span>
					<p>Disponível para os seguintes anos:</p>
					<ul>
						<li>{{ lyr.id_year.year }}</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<hr>
</div>

<!-- Add New Layer Form -->
<div id="right-box" ng-if="vm.addNewLayer && vm.initial">
	<h1>Adicionar nova Layer:</h1>
	
	<form id="add-data-layer" method="POST" class="add-data-form ng-cloak"
		enctype="multipart/form-data" action="{{ vm.postURL }}">
		<h3>Caso de estudo:</h3>
		<input type="text" name="study-case" ng-model="vm.caseSlug" />
	
		<h3>Geometria dos dados:</h3>
		<select name="list-geom" form="add-data-layer" ng-model="vm.dataGeom" required>
			<option value="point">Pontos</option>
			<option value="polygon">Poligonos</option>
		</select>
	
		<h3 ng-if="vm.dataGeom==='polygon'">Tipo dos dados:</h3>
		<select ng-if="vm.dataGeom==='polygon'" name="list-type" form="add-data-layer"
			ng-model="vm.polygonType" required>
			<option value="indicator-data">
				Quantitativos referentes a uma unidade estatística de referência
				(e.g. Freguesia, Concelhos)
			</option>
			<option value="polygon-data">
				Categorias
			</option>
		</select>
	
		<h3>Upload dados:</h3>
		<input type="file" name="data-file" multiple required/>
		
		<h3 ng-if="vm.dataGeom==='polygon' && vm.polygonType==='indicator-data'">
			Escala mapa contexto:</h3>
		<select ng-if="vm.dataGeom==='polygon' && vm.polygonType==='indicator-data'"
			name="list-scale" form="add-data-layer"
			ng-model="vm.scaleType" required>
			<option value="a_mesma">Mesma escala</option>
			<option value="m_peq">Escala mais pequena</option>
		</select>
		
		<h3 ng-if="vm.scaleType==='m_peq' && vm.polygonType==='indicator-data'">
			Ficheiro dados - Escala mais pequena:</h3>
		
		<input ng-if="vm.scaleType==='m_peq' && vm.polygonType==='indicator-data'"
			type="file" name="scale-data-file" multiple required />
		
		<h3 ng-if="vm.dataGeom==='polygon' && vm.polygonType==='indicator-data'">
			Fazer correspondência entre colunas e indicadores?</h3>
		<select ng-if="vm.dataGeom==='polygon' && vm.polygonType==='indicator-data'"
			name="cols-map" form="add-data-layer" ng-model="vm.indicatorsColsMap" 
			ng-change="vm.changeURL(vm.colsMap)" required>
			<option value="sim">Sim</option>
			<option value="nao">Não</option>
		</select>

		<h3 ng-if="vm.dataGeom==='point' || vm.polygonType==='polygon-data'">
			Nome a atribuir ao tema:</h3>
		<input ng-if="vm.dataGeom==='point' || vm.polygonType==='polygon-data'"
			type="text" name="layer-name" />
	
		<hr>
		<button id="submitform" type="submit">Submeter...</button>
	</form>
</div>

<!-- Form with more information about Statistic Units Layer -->
<add-lyr-study-case ng-if="vm.addStatLyr && !vm.initial"
	rqstfid="vm.rqstid"
	scaledif="vm.ctxdif"></add-lyr-study-case>
<div ng-transclude></div>