<!-- Events Content Container -->
<div class="event-content-container">

    <!-- Events Filter -->
    <div class="actions-container d-flex align-items-center justify-content-between">
        <!-- Location Filter -->
        <div ngbDropdown class="action-dropdown d-inline-block" #locationDrop>
            <!-- Open/Close Dropdown -->
            <button type="button" class="d-flex align-items-center justify-content-center" ngbDropdownToggle
                id="locDropdown" (click)="toggleFilterMap(locationDrop)">
                <fa-icon [icon]="locIcon"></fa-icon>
                <p>{{ 'FILTERS.Location' | translate }}</p>
                <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
            </button>
            <!-- Dropdown Menu -->
            <div ngbDropdownMenu class="loc-filter action-dropdown-container dropdown-menu dropdown-menu-lg-end"
                aria-labelledby="locDropdown">
                <div class="loc-filter-actions d-flex align-items-center justify-content-between">
                    <button (click)="clearLocFilter()">{{ 'FILTERS.Clear' | translate }}</button>
                    <button (click)="filterLoc()" [disabled]="pointCounter < 4">
                        {{ 'FILTERS.Filter' | translate }}
                    </button>
                </div>
                <div *ngIf="showFilterMap" class="map-container">
                    <app-leafmap [map-settings]="filterMapsettings" (map)="receiveFilterMap($event)"
                        class="filterMapGeoEvents">
                    </app-leafmap>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Animation -->
    <div class="loading d-flex flex-column justify-content-center align-items-center" *ngIf="loadingEvents">
        <div class="dot-pulse"></div>
    </div>

    <!-- Empty Events Information -->
    <div class="no-events-container d-flex flex-column justify-content-center align-items-center"
        *ngIf="noEvents && !loadingEvents">
        <p>{{ 'EMPTY.NoEvents' | translate }}</p>
        <p>{{ 'EMPTY.AddYours' | translate }}</p>
    </div>

    <!-- Flex Container for Event List and Event Information -->
    <div class="event-list-info-container d-flex flex-column justify-content-between"
        *ngIf="filteredEvents.length > 0 && !loadingEvents">

        <!-- Event List Container -->
        <div class="event-list-container">

            <!-- Event Element Container -->
            <div class="event-element-container d-flex justify-content-between"
                *ngFor="let event of filteredEvents; let index=index" (click)="openEvent(event, index)"
                [ngClass]="eventIndex === index ? 'active' : '' ">

                <div class="event-element d-flex align-items-center justify-content-center">
                    <!-- Fire Icon -->
                    <fa-icon [icon]="fireIcon" size="lg" id="icon-fire"></fa-icon>

                    <div class="event-location">
                        <h3>{{event.place.name}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Event Information Container -->
        <div class="event-info-container d-flex flex-column" *ngIf="isEventOpen">
            <!-- Event Header -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Event Location -->
                <div class="event-info-location d-flex align-items-center">
                    <h3>{{eventPlaceName}}</h3>
                    <!-- Fire Icon -->
                    <fa-icon [icon]="fireIcon" size="lg" id="icon-fire"></fa-icon>
                </div>

                <!-- Close Icon -->
                <div (click)="closeEvent()" class="close-icon-container">
                    <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
                </div>
            </div>

            <!-- Buttons for Event Information Categories -->
            <div class="event-button-container d-flex justify-content-around align-items-center">
                <button class="event-button" (click)="seeEventInformation(1)" [disabled]="eventInformationToggle === 1"
                    [ngClass]="eventInformationToggle === 1 ? 'selected' : '' ">
                    {{ 'EVENTS.Info' | translate }}
                </button>
                <button class="event-button" (click)="seeEventInformation(2)" [disabled]="eventInformationToggle === 2"
                    [ngClass]="eventInformationToggle === 2 ? 'selected' : '' ">
                    {{ 'EVENTS.Services' | translate }}
                </button>
                <button class="event-button" (click)="seeEventInformation(3)" [disabled]="eventInformationToggle === 3"
                    [ngClass]="eventInformationToggle === 3 ? 'selected' : '' ">
                    {{ 'EVENTS.Photos' | translate }}
                </button>
            </div>

            <!-- Event Information Categories  -->
            <div class="event-info">
                <!-- Event Information -->
                <div *ngIf="eventInformationToggle === 1">
                    <div class="info-element d-flex justify-content-start">
                        <!-- Event Dates -->
                        <fa-icon [icon]="calendarIcon" size="lg" id="icon-info"></fa-icon>
                        <p>
                            {{ 'EVENTS.Duration' | translate }} {{startDate[0]}}.{{startDate[1]}}.{{startDate[2]}} -
                            <span *ngIf="endDate !== null">{{endDate[0]}}.{{endDate[1]}}.{{endDate[2]}}</span>
                            <span *ngIf="endDate === null">{{ 'EVENTS.OnGoing' | translate }}</span>
                        </p>
                    </div>

                    <!-- Event Attributes -->
                    <div *ngFor="let at of eventAttr">
                        <div class="info-element d-flex justify-content-start">
                            <!-- Event Attribute Icons -->
                            <fa-icon [icon]="fregIcon" size="lg" id="icon-info" *ngIf="at.slug === 'freg' ">
                            </fa-icon>
                            <fa-icon [icon]="munIcon" size="lg" id="icon-info" *ngIf="at.slug === 'mun' ">
                            </fa-icon>
                            <fa-icon [icon]="photoIcon" size="lg" id="icon-info" *ngIf="at.slug === 'nctb' ">
                            </fa-icon>
                            <fa-icon [icon]="fireIcon" size="lg" id="icon-info"
                                *ngIf="at.slug !== 'nctb' && at.slug !== 'mun' && at.slug !== 'freg'">
                            </fa-icon>
                            <!-- Event Attribute Information -->
                            <p>{{at.name}}: {{at.value}}</p>
                        </div>
                    </div>
                </div>

                <!-- Event Layers -->
                <div *ngIf="eventInformationToggle === 2">
                    <div *ngFor="let layer of eventLayers" class="event-layers d-flex align-items-center">
                        <label class="layer-container" (click)="selectEventLayer($event, layer)">{{layer.design}}
                            <input type="checkbox" name={{layer.design}} value={{layer.design}}>
                            <span class="layer-checkmark"></span>
                        </label>
                    </div>
                </div>

                <!-- Event Photos Authenticated -->
                <div *ngIf="eventInformationToggle === 3 && isLoggedIn">
                    <div class="event-photo-container d-flex justify-content-center align-items-start">
                        <div class="event-photo" *ngFor="let photo of eventPhotos">
                            <img [src]="photo" alt="Event Image" loading="lazy"
                                (click)="openContribPhoto(content, photo)" />
                        </div>
                    </div>
                </div>

                <!-- Event Photos Non-Authenticated-->
                <div *ngIf="eventInformationToggle === 3 && !isLoggedIn" class="login-info-container">
                    <p> {{ 'EVENTS.Auth' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Expand Image Popup Template -->
<ng-template #content let-modal id="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{eventPlaceName}}</h4>
        <div class="close-icon-container" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
        </div>
    </div>
    <div class="modal-body d-flex justify-content-center align-items-center">
        <img [src]="contribPhoto" alt="Contribution Image" loading="lazy" class="modal-image" />
    </div>
</ng-template>