<div class="d-flex flex-column align-items-center mt-5">
    <form [formGroup]="profileForm" (ngSubmit)="changeUserInfo()">
        <!-- First Name Errors -->
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
            class="error-container alert alert-danger">

            <div *ngIf="firstName && firstName.errors && firstName.errors['required']">
                {{ 'PROFILE.FirstNameMandatory' | translate }}
            </div>
        </div>

        <!-- First Name Input Field -->
        <div class="input-group">
            <input type="text" class="form-control" id="firstName" placeholder="{{ 'PROFILE.FirstName' | translate }}"
                value="{{userInfo.first_name}}" formControlName="firstName" required>
            <label for="firstName">{{ 'PROFILE.FirstName' | translate }}</label>
        </div>

        <!-- Last Name Errors -->
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
            class="error-container alert alert-danger">

            <div *ngIf="lastName && lastName.errors && lastName.errors['required']">
                {{ 'PROFILE.LastNameMandatory' | translate }}
            </div>
        </div>

        <!-- Last Name Input Field -->
        <div class="input-group">
            <input type="text" class="form-control" id="lastName" placeholder="{{ 'PROFILE.LastName' | translate }}"
                value="{{userInfo.last_name}}" formControlName="lastName" required>
            <label for="lastName">{{ 'PROFILE.LastName' | translate }}</label>
        </div>

        <!-- Email Input Field -->
        <div class="input-group">
            <input disabled type="email" class="form-control" id="email" placeholder="Email"
                value="{{userInfo.email}}">
            <label for="email">Email</label>
        </div>

        <!-- Change user information button -->
        <button type="submit" class="edit-button btn btn-secondary" [disabled]="!profileForm.valid">
            {{ 'PROFILE.Save' | translate }}
        </button>
    </form>
</div>
