<div class="main-container d-flex flex-column">
    <!-- Navbar -->
    <app-headmenu></app-headmenu>

    <div class="content-wrapper d-flex flex-column justify-content-center">
        <div class="content d-flex">
            <!-- Animation Container -->
            <div class="left d-flex flex-column justify-content-center">
                <ng-lottie height="auto" [options]="options"></ng-lottie>
            </div>
            <!-- Content container -->
            <div class="right d-flex flex-column justify-content-center">
                <h1>{{ 'NOTFOUND.Title' | translate }}</h1>
                <h2>{{ 'NOTFOUND.Subtitle' | translate }}</h2>
                <h2>{{ 'NOTFOUND.Text' | translate }}</h2>

                <!-- Action buttton -->
                <button class="home-btn btn btn-primary" routerLink="/">{{ 'NOTFOUND.Action' | translate }}</button>
            </div>
        </div>
    </div>
</div>