/*_________________ MAP _________________*/
#content-container {
    position: fixed;
    width: 100%;
    height: calc(100% - (65px + 35px + 55px));
    top: calc(65px + 35px + 55px);
    left: 0px;
    z-index: -1;
}

# full-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left : 0px;
    z-index: -1;
}

.map-full-page { width:100%; height: 100%; position: absolute; left: 0% }
.map-with-sidebar { width: 70%; height: 100%; position: absolute; right: 30% }

/*_________________ CONTROLS FOR THE MAP _________________*/

#MapControls {
    position: fixed;
    top: 184px;
    left: 2%;
    text-align: left;
    z-index: 20000;
}

#MapControls div {
    margin: 20%;
    padding: 1%;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: #2C709F;
    border-radius: 5px;
}

#MapControls img {
    width: 65%;
    margin: 17%;
    cursor: pointer;
}

#MapControls i {
    margin: 10% 30%;
    cursor: pointer;
}

#MapControls .fa-globe{
    margin: 10% 20%;
}

#SearchControl {
    position: fixed;
    top: calc(184px + calc(50px * 3.6));
    left: 2%;
    text-align: left;
    z-index: 20000;
}

#SearchControl div {
    margin: 20%;
    padding: 1%;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: #2C709F;
    border-radius: 5px;
}

#SearchControl i {
    margin: 10% 30%;
    cursor: pointer;
}

#search-dropdown p {
    color: black;
    background-color: white;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Layer Tree Styles */
ul.select-tree, ul.select-tree ul {
    list-style-type: none;
    background: url('/static/vgijs/img/tree-nodes/vline.png') repeat-y;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.select-tree ul {
    margin-left: 10px;
}

ul.select-tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url('/static/vgijs/img/tree-nodes/node.png') no-repeat;
    color: black;
    font-weight: bold;
}

ul.select-tree li:last-child {
    background: #fff url('/static/vgijs/img/tree-nodes/lastnode.png') no-repeat;
}

ul.select-tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);   
}

/* Search Places dropdown*/
#search-dropdown {
    width: 40%;
    position: fixed;
    top: calc(184px + calc(50px * 3.8));
    background-color: rgba(235,249,65,0);
    color: black;
    left: 7%;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 250px;
    overflow: auto;
    z-index: 10000;
}

#search-dropdown input {
    border: 1px solid black;
    background-color: white;
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

ul.places-drop, ul.places-drop ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.places-drop ul {
    margin-left: 25px;
}

ul.places-drop li {
    margin: 0;
    padding: 0 2px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

ul.places-drop li:last-child {
    border-left:none;
}

ul.places-drop li:before {
    position:relative;
    height:1em;
    width:12px;
    color:white;
    content:"";
}

.li_border {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #2C709F;
    cursor: pointer;
}

.li_border:hover {
    background: #06b4d1;
}

/* Styles used when users are not allowed to move in the map */
#bass-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 40000;
}

#not-login-div {
    position: absolute;
    width: 100%;
    top: calc(65px + 35px + 55px);
    background: black;
    opacity: 0.4;
    z-index: 30000;
    height: calc(100% - (65px + 35px + 55px));
}

/* Loading */
#loading-icon {
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    display: block;
    visibility: show;
    background: url('/static/vgijs/img/progress/eclipse.gif') no-repeat;
    background-size: 200px;
    margin: -100px 0 0 -100px;
}

/* Legend */
#osm-legend {
	position: fixed;
    bottom: 10px;
    left: 2%;
    text-align: left;
    z-index: 20000;
    background-color: white;
    width: 20%;
    font-size: 10px;
    line-height: 2;
}