/* Apply font everywhere */
* {
    font-family: 'Montserrat', sans-serif !important;
}

.left-panel {
	background-color: #CCDDE2;
}

.left-panel-open {
	width: 20%;
}

.images-container {
	background-color: white;
	border-radius: 10px;
	width: 75%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.images-container img {
	width: 45px;
	height: auto;
	border-radius: 10px;
}

.images-container img:hover {
	cursor: pointer;
}

.panel-arrow:hover {
	cursor: pointer;
}

.right-container {
	position: relative;
}

.container-map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.right-tabs {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: max-content;
	z-index: 10000;
	height: max-content;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	margin-left: 100px;
	width: calc(100% - 695px); /* calculate with tabs width and margin left */
	z-index: 1000;
}