ngb-pagination ::ng-deep ul>li:not(:last-child) {
    margin-right: 10px;
}

ngb-pagination ::ng-deep ul>li>a {
    border-radius: 5px;
    color: black;
}

ngb-pagination ::ng-deep ul>li>a:hover {
    color: #EE6112;
}

ngb-pagination ::ng-deep ul>li.active>a {
    background-color: #EE6112 !important;
    border: none;
}

ngb-pagination ::ng-deep ul>li.disabled>a {
    border: none !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

ngb-pagination ::ng-deep .page-item .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}