<!-- Main Tabs Container -->
<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="tabs d-flex bd-highlight">

    <!-- Content Container -->
    <li [ngbNavItem]="1" class="p-2 bd-highlight w-50 left-tab" [class.active]="activeTab===1">
        <!-- Tab link -->
        <a ngbNavLink>{{ 'MENUS.Content' | translate }}</a>
        <ng-template ngbNavContent>

            <!-- Layers Content -->
            <app-layersbar></app-layersbar>

        </ng-template>
    </li>

    <!-- Legend Container -->
    <li [ngbNavItem]="2" class="p-2 bd-highlight w-50 right-tab" [class.active]="activeTab===2">
        <!-- Tab link -->
        <a ngbNavLink>{{ 'MENUS.Legend' | translate }}</a>
        <ng-template ngbNavContent>

            <!-- Legend Content -->
            <app-legend></app-legend>

        </ng-template>
    </li>
</ul>

<!-- Outlet where current tab content is shown -->
<div [ngbNavOutlet]="nav" class="mt-2 p-3 tab-content"></div>