<div class="raster-container d-flex flex-column">
    <!-- Raster Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Dados Raster</h1>
            <h3>Todos os conjuntos de dados com informação raster</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Dados...'" (search)="searchDatasets($event)"></feat-search>
        </nav>
    </header>

    <!-- Raster Content -->
    <div class="content-container d-flex flex-column">
        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-between">

            <!-- Type Filter -->
            <div ngbDropdown class="type-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="typeIcon"></fa-icon>
                    <p>Tipos</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="type-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <label class="check-container" *ngFor="let type of types">
                        <p>{{type.name}}</p>
                        <input type="checkbox" (click)="selectType(type.id)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <!-- Add Dataset -->
            <button class="add d-flex align-items-center justify-content-center" (click)="open(createModal, 'new')">
                <p>Adicionar Dados</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isDatasetOpen ? 'dataset-open' : ''">
                <feat-table [component]="'raster'" [data]="filteredDatasets" [headers]="displayedHeaders"
                    [page]="currentPage" [searchFilter]="searchTerms" (rowCount)="updateRowCount($event)"
                    (selectedID)="toggleDatasetView($event)">
                </feat-table>
            </div>

            <!-- Dataset Details -->
            <div *ngIf="isDatasetOpen" class="data-details-container d-flex flex-column">
                <!-- Dataset Header -->
                <div class="data-header d-flex align-items-start justify-content-between">
                    <!-- Edit Dataset Details -->
                    <fa-icon [icon]="editIcon" size="2x" class="details-edit" ngbTooltip="Editar Dados"
                        placement="bottom" (click)="open(editModal, 'edit')"></fa-icon>
                    <div class="title d-flex flex-column align-items-center justify-content-start">
                        <h1>{{openDataset.name}}</h1>
                    </div>
                    <!-- Delete Dataset -->
                    <fa-icon [icon]="deleteIcon" size="2x" class="details-delete" ngbTooltip="Remover Dados"
                        placement="bottom" (click)="open(deleteModal, 'delete')"></fa-icon>
                </div>

                <div class="info-container d-flex flex-column align-content-center">
                    <div class="dataset-info d-flex flex-column">
                        <h1>Tipo de Dados</h1>
                        <div class="info-grid type">
                            <!-- Slug -->
                            <h2>Slug</h2>
                            <p>{{openDataset.type?.slug}}</p>
                            <!-- Name -->
                            <h2>Nome</h2>
                            <p>{{openDataset.type?.name}}</p>
                            <!-- Description -->
                            <h2>Descrição</h2>
                            <p>{{openDataset.type?.description}}</p>
                        </div>
                        <h1>Dados</h1>
                        <div class="info-grid">
                            <!-- Slug -->
                            <h2>Slug</h2>
                            <p>{{openDataset.slug}}</p>
                            <!-- Name -->
                            <h2>Nome</h2>
                            <p>{{openDataset.name}}</p>
                            <!-- Description -->
                            <h2>Descrição</h2>
                            <p>{{openDataset.description}}</p>
                            <!-- Source -->
                            <h2>Fonte</h2>
                            <p>{{openDataset.source}}</p>
                            <!-- Reference Year -->
                            <h2>Ano dos Dados</h2>
                            <p *ngIf="openDataset.refYear !== null">{{openDataset.refYear}}</p>
                            <p *ngIf="openDataset.refYear === null">Sem Informação</p>
                            <!-- Reference Production -->
                            <h2>Ano de Produção</h2>
                            <p *ngIf="openDataset.refProd !== null">{{openDataset.refProd}}</p>
                            <p *ngIf="openDataset.refProd === null">Sem Informação</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-end">
            <feat-pagination [rowCount]="rowCount" (page)="getPage($event)"></feat-pagination>
        </div>
    </div>
</div>

<!-- Create New Raster Dataset Modal -->
<ng-template #createModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Dados</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-data-form" [formGroup]="newDataForm">

            <!-- Type -->
            <div class="new-data-type d-flex flex-column align-items-start justify-items-center">
                <p>Tipo de Dados</p>
                <div ngbDropdown class="d-inline-block">
                    <button class="new-type-button" ngbDropdownToggle>
                        {{newData.type?.name}}
                    </button>
                    <div ngbDropdownMenu class="new-type-dropdown dropdown-menu dropdown-menu-lg-end">
                        <button *ngFor="let type of types" ngbDropdownItem [value]="type.name"
                            (click)="newData.type = type">
                            {{ type.name }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Source -->
            <div>
                <p>Fonte</p>
                <input type="text" class="new-data-input long-input" #newSource required formControlName="source"
                    (ngModelChange)="updateNewDataField(newSource.value, 'source')">
            </div>

            <!-- Description -->
            <div>
                <p>Descrição</p>
                <textarea type="text" class="new-data-input big-input" #newDesc required rows="4" cols="50"
                    formControlName="description"
                    (ngModelChange)="updateNewDataField(newDesc.value, 'description')"></textarea>
            </div>

            <div>
                <!-- Slug -->
                <div>
                    <p>Slug</p>
                    <input type="text" class="new-data-input" #newSlug required formControlName="slug"
                        (ngModelChange)="updateNewDataField(newSlug.value, 'slug')">
                </div>

                <!-- Name -->
                <div style="margin-top: 10px;">
                    <p>Nome</p>
                    <input type="text" class="new-data-input long-input" #newName required formControlName="name"
                        (ngModelChange)="updateNewDataField(newName.value, 'name')">
                </div>

                <div class="years-input-container d-flex">
                    <!-- Ref Year -->
                    <div>
                        <p>Ano dos Dados</p>
                        <input type="number" class="new-data-input" #newRefYear formControlName="refYear"
                            (ngModelChange)="updateNewDataField(newRefYear.valueAsNumber, 'refYear')">
                    </div>

                    <!-- Ref Production -->
                    <div>
                        <p>Ano de Produção</p>
                        <input type="number" class="new-data-input" #newRefProd formControlName="refProd"
                            (ngModelChange)="updateNewDataField(newRefProd.valueAsNumber, 'refProd')">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createNewDataset()"
            [disabled]="!newDataForm.valid">Adicionar Dados
        </button>
    </div>
</ng-template>

<!-- Edit Raster Dataset Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Dados</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-data-form" [formGroup]="editDataForm">

            <!-- Type -->
            <div class="new-data-type d-flex flex-column align-items-start justify-items-center">
                <p>Tipo de Dados</p>
                <div ngbDropdown class="d-inline-block">
                    <button class="new-type-button" ngbDropdownToggle>
                        {{editData.type?.name}}
                    </button>
                    <div ngbDropdownMenu class="new-type-dropdown dropdown-menu dropdown-menu-lg-end">
                        <button *ngFor="let type of types" ngbDropdownItem [value]="type.name"
                            (click)="editData.type = type">
                            {{ type.name }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Source -->
            <div>
                <p>Fonte</p>
                <input type="text" class="new-data-input long-input" #editSource required formControlName="source"
                    (ngModelChange)="updateEditDataField(editSource.value, 'source')">
            </div>

            <!-- Description -->
            <div>
                <p>Descrição</p>
                <textarea type="text" class="new-data-input big-input" #editDesc required rows="4" cols="50"
                    formControlName="description"
                    (ngModelChange)="updateEditDataField(editDesc.value, 'description')"></textarea>
            </div>

            <div>
                <!-- Slug -->
                <div>
                    <p>Slug</p>
                    <input type="text" class="new-data-input" #editSlug required formControlName="slug"
                        (ngModelChange)="updateEditDataField(editSlug.value, 'slug')">
                </div>

                <!-- Name -->
                <div style="margin-top: 10px;">
                    <p>Nome</p>
                    <input type="text" class="new-data-input long-input" #editName required formControlName="name"
                        (ngModelChange)="updateEditDataField(editName.value, 'name')">
                </div>

                <div class="years-input-container d-flex">
                    <!-- Ref Year -->
                    <div>
                        <p>Ano dos Dados</p>
                        <input type="number" class="new-data-input" #editRefYear formControlName="refYear"
                            (ngModelChange)="updateEditDataField(editRefYear.valueAsNumber, 'refYear')">
                    </div>

                    <!-- Ref Production -->
                    <div>
                        <p>Ano de Produção</p>
                        <input type="number" class="new-data-input" #editRefProd formControlName="refProd"
                            (ngModelChange)="updateEditDataField(editRefProd.valueAsNumber, 'refProd')">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateDataset()" [disabled]="!editDataForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Delete Raster Dataset Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Dados</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar este conjunto de dados?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga estes dados permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="removeDataset()">Apagar Dados</button>
    </div>
</ng-template>