<html>
{% load static %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Leaflet</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
    <!-- Include Leaflet CSS Core -->
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/dist/leaflet.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}" />
    <link rel='stylesheet' type="text/css" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="map"></div>
</body>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.markercluster/dist/leaflet.markercluster-src.js' %}"></script>
<script type="text/javascript" src="{% static 'mapcode.js' %}"></script>
</html>