<!-- Layers container -->

<ul class="d-flex flex-column main-list" *ngFor="let l of layers; let i = index">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="layersAux[i].isOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="layersAux[i].isOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="toggleCategory(layersAux[i])">
            </fa-icon>
            <fa-icon *ngIf="!layersAux[i].isOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="toggleCategory(layersAux[i])">
            </fa-icon>
            <span>{{l.designation}}</span>
        </div>

        <!-- Layer Children Recursive Template -->
        <ng-template #recursiveList let-list="list" let-parent="parent" let-laux="laux">
            <!-- For each child in children list -->
            <ul *ngFor="let item of list; let i = index">
                <!-- If the parent is open, display children -->
                <li class="d-flex flex-column" *ngIf="parent.isOpen">
                    <div class="d-flex flex-row separator"
                        [class.open-category]="laux[i].isOpen && laux[i].canOpen">
                        <!-- if this category has subcategories, option to open/close -->
                        <div *ngIf="laux[i].canOpen">
                            <fa-icon *ngIf="laux[i].isOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                                (click)="toggleCategory(laux[i])">
                            </fa-icon>
                            <fa-icon *ngIf="!laux[i].isOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                                (click)="toggleCategory(laux[i])">
                            </fa-icon>
                        </div>

                        <!-- If there are no more subcategories, option to chose this one as a layer -->
                        <div *ngIf="!laux[i].canOpen">
                            <input type="checkbox" class="checkbox-round" (change)="changeLayers()">
                        </div>

                        <!-- Child title display -->
                        <span>{{item.designation}}</span>
                    </div>

                    <!-- If there are more children, re-display the template -->
                    <div *ngIf="item.child !== null">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{list: item.child, parent: laux[i], laux: laux[i].child}"
                            class="d-flex">
                        </ng-container>
                    </div>
                </li>
            </ul>
        </ng-template>

        <!-- Start Template with First Level Children -->
        <ng-container *ngTemplateOutlet="recursiveList; context:{ list: l.child, parent: layersAux[i], laux: layersAux[i].child }"></ng-container>
    </li>
</ul>
