<div class="modal-body">
    <!-- Title -->
    <div>
        <h1 class="modal-title">{{ 'HOME.Login' | translate }}</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input -->
        <app-form-input [icon]="emailIcon" [inputType]="'email'" [inputPlaceholder]="'Email'" [required]="true"
            formControlName="email" [inputFormControl]="loginForm.get('email')"></app-form-input>

        <!-- Password Input -->
        <app-form-input [icon]="passwordIcon" [inputType]="'password'" [inputPlaceholder]="'Password'"
            [showIcon]="showIcon" [hideIcon]="hideIcon" [required]="true" formControlName="password"
            [inputFormControl]="loginForm.get('password')"></app-form-input>

        <!-- Remember Password Checkbox -->
        <div class="form-check checkbox-group">
            <label class="form-check-label" for="rememberPass">
                <input type="checkbox" class="form-check-input" id="rememberPass" formControlName="rememberSession">
                {{ 'LOGIN.KeepSession' | translate }}
            </label>
        </div>

        <!-- Login Button -->
        <div class="button-submit">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                {{ 'HOME.Login' | translate }}
            </button>
        </div>

    </form>

    <!-- Forgot Password Link -->
    <div class="forgot-wrapper">
        <a class="forgot-link" (click)="forgotPassword()">{{ 'LOGIN.ForgotPass' | translate }}</a>
    </div>
</div>
