urllib3==1.25.8
numpy==1.18.2
pygdal==3.0.4.6
psycopg2-binary==2.8.4
sqlalchemy==1.3.15
geoalchemy2==0.6.3
shapely==1.7.0
fiona==1.8.13
pyproj==2.5.0
pandas==0.25.0
geopandas==0.7.0
rasterio==1.1.3
netCDF4==1.5.3
xlrd==1.2.0
xlwt==1.3.0
xlsxwriter==1.2.8
dbf==0.98.3
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
flickrapi==2.4.0
tweepy==3.8.0
jupyter
scipy==1.4.1
scikit-learn==0.22.2
scikit-image==0.17.2
pyexcel-ods==0.5.6
bs4==0.0.1
seaborn==0.10.0
django==3.0.7
django-widget-tweaks==1.4.8
django-cors-headers==3.2.1
djangorestframework==3.11.0
sentinelsat==0.13
simpledbf==0.2.6
#mysqlclient==1.4.6
xmltodict