setuptools
setuptools_scm==8.3.1
urllib3==2.2.2
numpy==1.26.2
psycopg2-binary==2.9.9
sqlalchemy==2.0.23
geoalchemy2==0.14.2
shapely==2.0.2
fiona==1.10.1
pyproj==3.7.1
pandas==2.3.1
geopandas==1.1.1
dask
dask-geopandas==0.3.1
rasterio==1.3.9
netCDF4==1.6.5
xlrd==2.0.1
xlwt==1.3.0
xlsxwriter==3.1.9
openpyxl==3.1.2
dbf==0.99.9
requests==2.32.5
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
flickrapi==2.4.0
scipy==1.11.4
scikit-learn==1.5.0
scikit-image==0.22.0
pyexcel-ods==0.6.0
bs4
seaborn==0.13.0
sentinelsat==1.2.1
simpledbf==0.2.6
xmltodict==0.13.0
jupyterlab
polyline==2.0.1
py_expression_eval==0.3.14
jenkspy==0.4.0
pysal==23.07
geopy==2.4.1
rioxarray
#mysqlclient==1.4.6
#rpy2==3.5.10
django==5.1.4
mercantile==1.2.1
toml==0.10.2
pytest-runner==6.0.1
#sphinx==
pystac-client
planetary-computer
stackstac
xarray
tqdm
toml
pytest-runner
sphinx
sphinx-click
click>=5.0
affine
attrs>=18.1
botocore
boto3
cachetools
cloudpickle>=0.4.0
jsonschema>=4.18
lark
python-dateutil
pyyaml
alembic
toolz
odc-geo>=0.4.8
odc-loader<=0.5.1
odc-stac>=0.4.0
ruamel.yaml
pyarrow==21.0.0