<!-- Events Content Container -->
<div class="event-content-container">

    <!-- Loading Animation -->
    <div class="loading d-flex flex-column justify-content-center align-items-center" *ngIf="loadingEvents">
        <div class="dot-pulse"></div>
    </div>

    <!-- No Content Container -->
    <div class="no-events-container d-flex flex-column justify-content-center align-items-center"
        *ngIf="noEvents && !loadingEvents">
        <p>{{ 'EMPTY.NoRealEvents' | translate }}</p>
    </div>

    <!-- Flex Container for Event List and Event Information -->
    <div class="event-list-info-container d-flex flex-column justify-content-between"
        *ngIf="fullEvents.length > 0 && !loadingEvents">
        <!-- Event List Container -->
        <div class="event-list-container">
            <!-- Event Element Container -->
            <div class="event-element-container d-flex justify-content-between"
                *ngFor="let event of fullEvents; let index=index" (click)="openEvent(event, index)"
                [ngClass]="eventIndex === index ? 'active' : '' ">

                <div class="event-element d-flex align-items-center justify-content-center">
                    <!-- Fire Icon -->
                    <fa-icon [icon]="fireIcon" size="lg" id="icon-fire"></fa-icon>
                    <div class="event-location">
                        <h3>{{event.place}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Event Information Container -->
        <div class="event-info-container d-flex flex-column" *ngIf="isEventOpen">
            <!-- Event Header -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Event Location -->
                <div class="event-info-location d-flex align-items-center">
                    <h3>{{eventPlace}}</h3>
                    <!-- Fire Icon -->
                    <fa-icon [icon]="fireIcon" size="lg" id="icon-fire"></fa-icon>
                </div>

                <!-- Close Icon -->
                <div (click)="closeEvent()" class="close-icon-container">
                    <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
                </div>
            </div>

            <!-- Buttons for Event Information Categories -->
            <div class="event-button-container d-flex justify-content-around align-items-center">
                <button class="event-button" (click)="seeEventInformation(1)" [disabled]="eventInformationToggle === 1"
                    [ngClass]="eventInformationToggle === 1 ? 'selected' : '' ">
                    {{ 'EVENTS.Info' | translate }}
                </button>
                <button class="event-button" (click)="seeEventInformation(2)" [disabled]="eventInformationToggle === 2"
                    [ngClass]="eventInformationToggle === 2 ? 'selected' : '' ">
                    {{ 'EVENTS.Services' | translate }}
                </button>
            </div>

            <!-- Event Information Categories  -->
            <div class="event-info">
                <!-- Event Information -->
                <div *ngIf="eventInformationToggle === 1">
                    <div class="info-element d-flex justify-content-start">
                        <!-- Event Dates -->
                        <fa-icon [icon]="calendarIcon" size="lg" id="icon-info"></fa-icon>
                        <p>
                            {{ 'EVENTS.Duration' | translate }}: {{startDate[0]}}.{{startDate[1]}}.{{startDate[2]}} -
                            {{endDate[0]}}.{{endDate[1]}}.{{endDate[2]}}
                        </p>
                    </div>
                    <!-- Event Name -->
                    <div class="info-element d-flex justify-content-start">
                        <fa-icon [icon]="tagIcon" size="lg" id="icon-info" style="transform: scaleX(-1);"></fa-icon>
                        <p>{{ 'EVENTS.Name' | translate }}: {{eventName}}</p>
                    </div>
                    <!-- Event Cause -->
                    <div class="info-element d-flex justify-content-start">
                        <fa-icon [icon]="dangerIcon" size="lg" id="icon-info"></fa-icon>
                        <p>{{ 'EVENTS.Cause' | translate }}: {{eventCause}}</p>
                    </div>
                </div>

                <!-- Event Layers -->
                <div *ngIf="eventInformationToggle === 2">
                    <!-- <div *ngFor="let layer of eventLayers" class="event-layers d-flex align-items-center">
                        <label class="layer-container" (click)="selectEventLayer($event, layer)">{{layer.design}}
                            <input type="checkbox" name={{layer.design}} value={{layer.design}}>
                            <span class="layer-checkmark"></span>
                        </label>
                    </div> -->
                    <!-- TODO CHANGE THIS AFTER API AVAILABILITY -->
                    <div>
                        <p>{{ 'EVENTS.Unavailable' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>