body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Muli', sans-serif;
    background-color: whitesmoke;
    line-height: 33px;
}


#bass-div-g {
    position: absolute;
    width: 100%;
    height: calc(100% - 65px);
    background: black;
    opacity: 0.4;
    z-index: 40000;
    top: 65px;
}