<!-- Layers container -->

<ul class="d-flex flex-column main-list">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="ctbOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="ctbOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <fa-icon *ngIf="!ctbOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <span>Temas gerais</span>
        </div>

        <ul>
            <li class="d-flex flex-column">
                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="ctbIsActive"
                            (change)="activeCtbLayer()">
                    </div>
                    <span>Ocorrências/Contribuições PT</span>
                </div>

                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="ctbIsActive"
                            (change)="activeCtbLayer()">
                    </div>
                    <span>Detalhes Contribuições</span>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul class="d-flex flex-column main-list">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="ctbOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="ctbOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <fa-icon *ngIf="!ctbOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <span>Contribuições</span>
        </div>

        <ul>
            <li class="d-flex flex-column">
                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="ctbIsActive"
                            (change)="activeCtbLayer()">
                    </div>
                    <span>Contribuição</span>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul class="d-flex flex-column main-list">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="flocOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="flocOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <fa-icon *ngIf="!flocOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <span>Ocorrências</span>
        </div>

        <ul>
            <li class="d-flex flex-column">
                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="flocIsActive"
                            (change)="activeFlocLayer()">
                    </div>
                    <span>Ocorrência</span>
                </div>
            </li>
        </ul>
    </li>
</ul>


<ul class="d-flex flex-column main-list">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="flocOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="flocOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <fa-icon *ngIf="!flocOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <span>Incêndios registados</span>
        </div>

        <ul>
            <li class="d-flex flex-column">
                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="flocIsActive"
                            (change)="activeFlocLayer()">
                    </div>
                    <span>Evento</span>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul class="d-flex flex-column main-list">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="flocOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="flocOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <fa-icon *ngIf="!flocOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="openClose()">
            </fa-icon>
            <span>Temas base</span>
        </div>

        <ul>
            <li class="d-flex flex-column">
                <div class="d-flex flex-row separator">
                    <div>
                        <input type="checkbox" class="checkbox-round"
                            [(ngModel)]="flocIsActive"
                            (change)="activeFlocLayer()">
                    </div>
                    <span>Tema</span>
                </div>
            </li>
        </ul>
    </li>
</ul>


