{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Exploring VGI - Ups!{% endblock %}
{% block body_contents %}
<div>
	
	<div id="bass-div-g"></div>
	<div id="popUp">
		<h3>Upps!!! Something went wrong...</h3>
		<p>An error was recorded. Please contact the Administrator and give him the following ERROR ID
			{{ randa }}{{ service.name }}#{{ rqst }}{{ randb }}</p>
		
		<p>Please try again</p>
		
		<br>
		
		<a href="{{ gotourl }}" id="closeButton">Try it again</a>
	</div>
</div>
{% endblock %}