* {
    font-family: 'Montserrat', sans-serif !important;
}

.users-container {
    height: 100vh;
}

.header-container {
    background-color: #EE6112;
    height: 120px;
}

.greeting {
    color: white;
    margin-left: 24px;
}

.greeting h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 0;
}

.greeting h3 {
    font-size: 16px;
}

.search {
    margin-right: 42px;
}

.content-container {
    flex: 1;
    padding: 20px;
}

.actions-container {
    margin: 0 22px 20px 22px;
}

.actions-container button {
    height: 40px;
    width: 130px;
    background: white;
    border-radius: 10px;
    border: none;
}

.actions-container p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px;
}

.actions-container button.add {
    height: 40px;
    width: 182px;
    border-radius: 10px;
    background: #F5A32A;
    border: none;
    color: white;
}

.actions-container .add p {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px;
}

.group-dropdown .dropdown-toggle::after {
    display: none;
}

.group-dropdown-container {
    padding: 20px 20px 10px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.check-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
    height: 20px;
}

.group-dropdown-container .check-container p {
    color: black;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.check-container:hover input~.checkmark {
    background-color: rgb(240, 240, 240);
}

.check-container input:checked~.checkmark {
    background-color: #EE6112;
    border: 1px solid #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tables-container {
    flex: 1;
    min-height: 440px;
}

.table-container {
    margin: 0 22px 0 22px;
    flex: 1;
    background-color: white;
    border-radius: 10px;
}

.user-open {
    width: 35%;
}

.user-details-container {
    width: calc(45% - 10px);
    height: 100%;
    margin-right: 22px;
    background: #FFFFFF;
    border: 2px solid #EE6112;
    border-radius: 10px;
    padding: 25px 20px;
}

.user-header {
    height: 160px;
}

.details-edit {
    color: #F5A32A;
}

.details-delete {
    color: #B00600;
}

.details-edit:hover,
.details-delete:hover {
    cursor: pointer;
}

.profile {
    height: 100%;
}

.profile img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.user-details-container h5 {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.user-info-container {
    flex: 1;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto auto;
    column-gap: 10%;
    row-gap: 8%;
    justify-items: stretch;
    align-items: stretch;
    overflow-y: overlay;
    max-height: 28vh;
}

.user-info-container h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-top: 4px;
    color: black;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 10px;
}

.modal-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.modal-header .ng-fa-icon:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #EE6112;
}

.conf-intro {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
}

.modal-body form label {
    height: 40px;
    overflow: hidden;
}

.modal-body .check-container p {
    font-weight: 400;
    font-size: 12px;
}

.warn {
    font-weight: 600 !important;
    color: #B00600 !important;
}

.new-user-form {
    padding: 10px 30px;
    min-height: 320px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(auto-fit, minmax(9%, 1fr));
    column-gap: 8%;
    row-gap: 5%;
    justify-items: stretch;
    align-items: stretch;
}

.new-user-form p {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.new-user-group {
    grid-column: 1 / -1;
}

.new-user-input {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.new-group-button {
    height: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 9px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.new-group-button:hover {
    cursor: pointer;
}

.ng-invalid:not(form) {
    border-left: 5px solid #B00600;
}

.ng-dirty.ng-invalid:not(form) {
    border-left: 5px solid #EE6112 !important;
}

.new-user-checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    appearance: none;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    accent-color: #EE6112;
    cursor: pointer;
}

.new-user-checkbox::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
}

.new-user-checkbox:checked {
    background-color: #EE6112;
    border: 1px solid white;
}

.user-checkmark {
    display: inline-block;
    pointer-events: none;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.user-checkmark:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 13px;
    background-color: none;
    left: -6px;
    top: -19px;
}

.user-checkmark {
    cursor: pointer;
}

.user-checkmark:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background-color: none;
    left: -10px;
    top: -8px;
}

input[type="checkbox"]:checked+.user-checkmark:before,
input[type="checkbox"]:checked+.user-checkmark:after {
    background-color: white;
}

.pagination-container {
    margin: 20px 22px 0 22px;
    height: 50px;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}