<div class="users-container d-flex flex-column">
    <!-- Users Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Utilizadores FireLoc</h1>
            <h3>Todos os utilizadores registados no seu sistema</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Utilizadores...'" (search)="searchUsers($event)"></feat-search>
        </nav>
    </header>

    <!-- Users Content -->
    <div class="content-container d-flex flex-column">

        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-between">

            <!-- Group Filter -->
            <div ngbDropdown class="group-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="groupIcon"></fa-icon>
                    <p>Grupos</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="group-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <label class="check-container" *ngFor="let group of groups">
                        <p>{{group.name}}</p>
                        <input type="checkbox" (click)="selectGroup(group.id)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <!-- Add User -->
            <button class="add d-flex align-items-center justify-content-center" (click)="open(createModal, 'new')">
                <p>Adicionar Utilizador</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isUserOpen ? 'user-open' : ''">
                <feat-table [component]="'users'" [data]="users" [headers]="displayedHeaders" [page]="currentPage"
                    [searchFilter]="searchTerms" (rowCount)="updateRowCount($event)"
                    (selectedID)="toggleUserView($event)">
                </feat-table>
            </div>

            <!-- User Details -->
            <div *ngIf="isUserOpen" class="user-details-container d-flex flex-column">
                <!-- User Header -->
                <div class="user-header d-flex align-items-start justify-content-between">

                    <!-- Edit User Details -->
                    <fa-icon [icon]="userEditIcon" size="2x" class="details-edit" ngbTooltip="Editar Utilizador"
                        placement="bottom" (click)="open(editModal, 'edit')"></fa-icon>

                    <!-- User Profile -->
                    <div class="profile d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/profile/profile-default.png" alt="FireLoc">
                        <h2>{{openUser.firstName}} {{openUser.lastName}}</h2>
                        <!-- Title Options -->
                        <h5 *ngIf="openUser.groupName === 'superuser' || openUser.groupName === 'fireloc'">
                            Administrador
                        </h5>
                        <h5 *ngIf="openUser.groupName === 'riskmanager'">
                            Profissional Combate a Fogos
                        </h5>
                        <h5 *ngIf="openUser.groupName === 'volunteer'">
                            Voluntário
                        </h5>
                        <h5 *ngIf="openUser.groupName !== 'superuser' 
                            && openUser.groupName !== 'fireloc' 
                            && openUser.groupName !== 'riskmanager' 
                            && openUser.groupName !== 'volunteer'">
                            Utilizador Registado
                        </h5>
                    </div>

                    <!-- Delete User -->
                    <fa-icon [icon]="userDeleteIcon" size="2x" class="details-delete" ngbTooltip="Remover Utilizador"
                        placement="bottom" (click)="open(deleteModal, 'delete')"></fa-icon>
                </div>

                <!-- User Information -->
                <div class="user-info-container">
                    <!-- Email -->
                    <div class="d-flex flex-column">
                        <h5>Email</h5>
                        <h3>{{openUser.email}}</h3>
                    </div>

                    <!-- Active -->
                    <div class="d-flex flex-column">
                        <h5>Ativação</h5>
                        <h3 *ngIf="openUser.active">Ativo</h3>
                        <h3 *ngIf="!openUser.active">Inativo</h3>
                    </div>

                    <!-- Other User Attributes -->
                    <ng-container *ngIf="openUser.attr && openUser.attr.length > 0">
                        <ng-container *ngFor="let attribute of openUser.attr">
                            <div class="d-flex flex-column">
                                <h5>{{attribute.name}}</h5>
                                <h3> {{attribute.value}}</h3>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Table Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-end">
            <feat-pagination [rowCount]="rowCount" (page)="getPage($event)"></feat-pagination>
        </div>
    </div>
</div>

<!-- Create New User Modal -->
<ng-template #createModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Utilizador</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-user-form" [formGroup]="newUserForm">

            <!-- Group -->
            <div class="new-user-group d-flex flex-column align-items-start justify-items-center">
                <p>Grupo</p>
                <div ngbDropdown class="d-inline-block">
                    <button class="new-group-button" ngbDropdownToggle>
                        {{newUser.groupName}}
                    </button>
                    <div ngbDropdownMenu class="new-group-dropdown dropdown-menu dropdown-menu-lg-end">
                        <button *ngFor="let group of groups" ngbDropdownItem [value]="group.name"
                            (click)="updateNewUserField(group.name, 'groupName')">
                            {{ group.name }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- First Name -->
            <div>
                <p>Primeiro Nome</p>
                <input type="text" class="new-user-input" #newName required formControlName="firstName"
                    (ngModelChange)="updateNewUserField(newName.value, 'firstName')">
            </div>

            <!-- Last Name -->
            <div>
                <p>Apelidos</p>
                <input type="text" class="new-user-input" #newLastName required formControlName="lastName"
                    (ngModelChange)="updateNewUserField(newLastName.value, 'lastName')">
            </div>

            <!-- Email -->
            <div>
                <p>Email</p>
                <input type="email" class="new-user-input" #newEmail required formControlName="email"
                    (ngModelChange)="updateNewUserField(newEmail.value, 'email')">
            </div>

            <!-- Password -->
            <div>
                <p>Password</p>
                <input type="password" class="new-user-input" #newPass required formControlName="password"
                    (ngModelChange)="updateNewUserField(newPass.value, 'password')">
            </div>

            <!-- Optional User Attributes -->
            <ng-container *ngIf="userAttributes && userAttributes.length > 0">
                <ng-container *ngFor="let attribute of userAttributes">
                    <div>
                        <p>{{attribute.name}}</p>
                        <!-- Numbers -->
                        <ng-container *ngIf="attribute.type === 'int' || attribute.type === 'float'">
                            <input type="number" class="new-user-input" [formControlName]="attribute.slug">
                        </ng-container>
                        <!-- Strings -->
                        <ng-container *ngIf="attribute.type === 'str'">
                            <input type="text" class="new-user-input" [formControlName]="attribute.slug">
                        </ng-container>
                        <!-- Booleans -->
                        <ng-container *ngIf="attribute.type === 'bool'">
                            <div
                                class="user-check-container d-flex flex-column align-items-start justify-content-center">
                                <input type="checkbox" class="new-user-checkbox" [formControlName]="attribute.slug">
                                <span class="user-checkmark"></span>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createNewUser()"
            [disabled]="!newUserForm.valid">Adicionar Utilizador
        </button>
    </div>
</ng-template>

<!-- Edit User Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Utilizador</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-user-form" [formGroup]="editUserForm">
            <!-- Group -->
            <div class="new-user-group d-flex flex-column align-items-start justify-items-center">
                <p>Grupo</p>
                <div ngbDropdown class="d-inline-block">
                    <button class="new-group-button" ngbDropdownToggle>
                        {{editUser.groupName}}
                    </button>
                    <div ngbDropdownMenu class="new-group-dropdown dropdown-menu dropdown-menu-lg-end">
                        <button *ngFor="let group of groups" ngbDropdownItem
                            (click)="updateEditUserField(group.name, 'groupName')">
                            {{ group.name }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- First Name -->
            <div>
                <p>Primeiro Nome</p>
                <input type="text" class="new-user-input" #editName required formControlName="firstName"
                    (ngModelChange)="updateEditUserField(editName.value, 'firstName')">
            </div>

            <!-- Last Name -->
            <div>
                <p>Apelidos</p>
                <input type="text" class="new-user-input" #editLastName required formControlName="lastName"
                    (ngModelChange)="updateEditUserField(editLastName.value, 'lastName')">
            </div>

            <!-- Email -->
            <div>
                <p>Email</p>
                <input type="email" class="new-user-input" #editEmail required formControlName="email"
                    (ngModelChange)="updateEditUserField(editEmail.value, 'email')">
            </div>

            <!-- Optional User Attributes -->
            <ng-container *ngIf="userAttributes && userAttributes.length > 0">
                <ng-container *ngFor="let attribute of userAttributes">
                    <div>
                        <p>{{attribute.name}}</p>
                        <!-- Numbers -->
                        <ng-container *ngIf="attribute.type === 'int' || attribute.type === 'float'">
                            <input type="number" class="new-user-input" [formControlName]="attribute.slug">
                        </ng-container>
                        <!-- Strings -->
                        <ng-container *ngIf="attribute.type === 'str'">
                            <input type="text" class="new-user-input" [formControlName]="attribute.slug">
                        </ng-container>
                        <!-- Booleans -->
                        <ng-container *ngIf="attribute.type === 'bool'">
                            <div
                                class="user-check-container d-flex flex-column align-items-start justify-content-center">
                                <input type="checkbox" class="new-user-checkbox" [formControlName]="attribute.slug">
                                <span class="user-checkmark"></span>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateUser()" [disabled]="!editUserForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Delete User Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Utilizador</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar este utilizador?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga o utilizador permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="removeUser()">Apagar Utilizador</button>
    </div>
</ng-template>