.map-container {
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    width: 85%;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}

.layers-container {
    position: absolute;
    top: 0;
    left: 85%;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 100%;
}