<!DOCTYPE html>
<html>
{% load static %}
{% load widget_tweaks %}
{% load vgi_tags %}
{% debug as debug %}
<head>
	<title>Fireloc - Contributions</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'vgijs/img/logos/icon_tab.png' %}" />
	
	<!-- Include Leaflet CSS Core -->
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/dist/leaflet.css' %}">
    <!-- Play with nice fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
	 <!-- Home made Styles -->
	 {% if debug %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/fireloc.css' %}">
	{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/fireloc.min.css' %}">
	{% endif %}
</head>
{% if whatis == 'start' %}
<body ng-app="vgijs" ng-controller="FirelocReportController as mapVm">
<vgijs-fireloc-report 
	id="map_container" settings="mapVm.settings">
</vgijs-fireloc-report>
{% else %}
<body>
<div class="header">
	<a href="" class="logo">
		Fireloc - Onde está o Fogo?
	</a>
</div>
	
<div id="init_report">
	<div class="text_intro">
		Recebemos os seus dados! Se possuir novas informações, carregue no botão
		para enviar novos dados!
		<hr>
		<a href="{{ INTERFACE_DOMAIN }}/expvgi/fire/report" class="start-button">
			<i class="fa fa-refresh start-float"></i>
		</a>
	</div>
</div>
{% endif %}
</body>
<!-- Placed at the end of the document so the pages load faster -->
<!-- Import jQuery -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- Charge Angular into it-->
<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 're-tree/re-tree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-device-detector/ng-device-detector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ua-device-detector/ua-device-detector.min.js' %}"></script>
<!-- Leaflet Magic -->
<script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'esri-leaflet/dist/esri-leaflet.js' %}"></script>
<!-- VGIJS Angular App-->
{% if debug %}
<script type="text/javascript" src="{% static 'vgijs/vgijs.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/constants/constants.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/services.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/controllers/controllers.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/directives.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/constants/leaflet.constants.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/constants/expapi.constants.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/controllers/fireloc.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/firelocReport.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leaflet.layers.service.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leaflet.thematiclyr.service.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.layers.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.geosrv.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'vgijs/fireloc.min.js' %}"></script>
{% endif %}
</html>