{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}OSM to LULC{% endblock %}
{% block body_contents %}
<div ng-controller="OsmMapController as mapVm" ng-cloak>
	<div id="content-container">
		<vgijs-leaflet-mapping
			settings="mapVm.settings"
			rqstid="'{{ rqst_id }}'"
			servname="'osmtolulc'">
		</vgijs-leaflet-mapping>
	</div>
	
	{% if whatToDo == 'f-inputs' %}
	<form id="draw-form" method="POST" class="osm2lulc-draw-from ng-cloak"
		enctype="multipart/form-data" action="/expvgi/osm/osm2lulc/">
			
		{% csrf_token %}
		<div style="display:none">
			{{ form.draw_rectangle|attr:"ng-model:mapVm.settings.draw.output" }}
			{{ form.form_type }}
			{{ form.phase }}
			<button id="submitform" type="submit"></button>
		</div>
	</form>
		
	{% elif whatToDo == 's-inputs' %}
	<form id="run-procedure" method="POST" class="osm2lulc-run ngcloak"
		enctype="multipart/form-data" action="/expvgi/osm/osm2lulc/">
		{% csrf_token %}
		<div style="display:none">
			{{ form.nomenclature|attr:"ng-model:mapVm.settings.nomenclature" }}
			{{ form.rqst }}
			{{ form.phase }}
			<button id="submitform" type="submit"></button>
		</div>
	</form>
	{% endif %}
	
	<!-- Initial PopUp -->
    <div id="popUp" ng-if="mapVm.popup && mapVm.status==100" class="ng-cloak">
        <a class="info-box-close" ng-click="mapVm.togglePopup()"></a>
        <h3>OpenStreetMap to Land Use/Land Cover Maps</h3>
        <p>Use the map and the sidebar to select an interest area, download OSM
        	data and convert it to one Land Use/Land Cover Map.</p>
        <div ng-click="mapVm.togglePopup()" id="closeButton">Close</div>
    </div>
    
    <!-- PopUp if Interest Area is to large -->
    <div id="popUp" ng-if="mapVm.popup && mapVm.status==102" class="ng-cloak">
    	<a class="info-box-close" ng-click="mapVm.togglePopup()"></a>
    	<h3>Area of interest has a geographical extension that exceeds the allowed!</h3>
    	<p>The selected area has more than 30 million cells of 10 meters and 
    	therefore the service will not be able to produce a result in short time 
    	period.</p>
        <div ng-click="mapVm.togglePopup()" id="closeButton">Close</div>
    </div>
    
    <!-- PopUp if Data in Interest Area is to much -->
    <div id="popUp" ng-if="mapVm.popup && mapVm.status==103" class="ng-cloak">
    	<a class="info-box-close" ng-click="mapVm.togglePopup()"></a>
    	<h3>Area of Interest has a data volume that exceeds the allowed</h3>
    	<p>The downloaded OSM file has more than 500 MB and therefore 
    	the service will not be able to produce a result in a short time period.</p>
    	<div ng-click="mapVm.togglePopup()" id="closeButton">Close</div>
    </div>
	
	{% if user.is_anonymous %}
        <div id="not-login-div"></div>
        <div class="login-form">
            <h3>Login to see this page</h3>
            <form method="post" action="/expvgi/login/">
                {% csrf_token %}
                    Username:<br>
                    {{ auth_form.username|attr:"placeholder:Enter Username"|attr:"type:text" }}<br>
                    Password<br>
                    {{ auth_form.password|attr:"placeholder:Enter Password"|attr:"type:password" }}<br>
                    <br>
                    <input type="submit" value="Enter">
                    <input type="hidden" name="next" value="/expvgi/osm/osm2lulc/" />
            </form>
            <div ng-click="mapVm.goBack()" class="buttonBack" id="back">Go Back</div>
            <div class="buttonBack"><a href="/expvgi/login/?next=/expvgi/osm/osm2lulc/">Register</a></div>
        </div>
    {% endif %}
</div>
{% endblock %}