.modal-body {
    padding: 40px;
}

h1 {
    text-align: center;
    color: #EE7927;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
}

.button-submit {
    text-align: center;
    padding-top: 30px;
}

.button-submit button {
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    border: none;
    width: 100%;
    text-transform: uppercase;
}