* {
    font-family: 'Montserrat', sans-serif !important;
}

.sat-container {
    height: 100vh;
}

.header-container {
    background-color: #EE6112;
    height: 120px;
}

.greeting {
    color: white;
    margin-left: 24px;
}

.greeting h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 0;
}

.greeting h3 {
    font-size: 16px;
}

.search {
    margin-right: 42px;
}

.content-container {
    flex: 1;
    padding: 20px;
}

.tables-container {
    flex: 1;
    min-height: 440px;
}

.table-container {
    margin: 0 22px 0 22px;
    flex: 1;
    background-color: white;
    border-radius: 10px;
}

.dataset-open {
    width: 35%;
}

.data-details-container {
    width: calc(45% - 10px);
    height: 65vh;
    margin-right: 22px;
    background: #FFFFFF;
    border: 2px solid #EE6112;
    border-radius: 10px;
    padding: 25px 20px;
}

.data-header {
    height: 50px;
}

.details-delete {
    color: #B00600;
}

.details-delete:hover {
    cursor: pointer;
}

.title {
    height: 100%;
    width: 80%;
}

.title h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px;
    word-break: break-all;
}

.info-container {
    height: 100%;
    overflow-y: auto;
}

.dataset-info h1 {
    color: #EE6112;
    margin-top: 15px;
}

.dataset-info h1:hover {
    cursor: pointer;
}

.info-grid {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: repeat(auto-fill, max-content);
    column-gap: 5px;
    row-gap: 5px;
    overflow-y: auto;
    width: calc(100% - 10px);
}

.percent {
    grid-template-columns: 210px auto;
}

.other {
    grid-template-columns: 140px auto;
}

.info-grid h2 {
    justify-self: start;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.info-grid p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    word-break: break-all;
}

.pagination-container {
    margin: 20px 22px 0 22px;
    height: 50px;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

/* Modals */
.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 10px;
}

.modal-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.modal-header .ng-fa-icon:hover {
    cursor: pointer;
}

.conf-intro {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
}

.modal-body form label {
    height: 40px;
    overflow: hidden;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
    height: 20px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.check-container:hover input~.checkmark {
    background-color: rgb(240, 240, 240);
}

.check-container input:checked~.checkmark {
    background-color: #EE6112;
    border: 1px solid #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-body .check-container p {
    font-weight: 400;
    font-size: 12px;
}

.warn {
    font-weight: 600 !important;
    color: #B00600 !important;
}