<div class="sat-container d-flex flex-column">
    <!-- Satellite Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Dados Satélite</h1>
            <h3>Todos os conjuntos de dados com informação de satélite</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Dados...'" (search)="searchDatasets($event)"></feat-search>
        </nav>
    </header>

    <!-- Satellite Content -->
    <div class="content-container d-flex flex-column">
        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isDatasetOpen ? 'dataset-open' : ''">
                <feat-table [component]="'satellite'" [data]="datasets" [headers]="displayedHeaders" [page]="currentPage"
                    [searchFilter]="searchTerms" (rowCount)="updateRowCount($event)"
                    (selectedID)="toggleDatasetView($event)">
                </feat-table>
            </div>

            <!-- Dataset Details -->
            <div *ngIf="isDatasetOpen" class="data-details-container d-flex flex-column">
                <!-- Dataset Header -->
                <div class="data-header d-flex align-items-start justify-content-between">
                    <div class="title d-flex flex-column align-items-center justify-content-start">
                        <h1>{{openDataset.title}}</h1>
                    </div>
                    <!-- Delete Dataset -->
                    <fa-icon [icon]="deleteIcon" size="2x" class="details-delete" ngbTooltip="Remover Dados"
                        placement="bottom" (click)="openDeleteModal(deleteModal)"></fa-icon>
                </div>

                <div class="info-container d-flex flex-column align-content-center">
                    <!-- Initial Details -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('details')">
                            Detalhes
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isDetOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isDetOpen"></fa-icon>
                        </h1>
                        <div class="info-grid" *ngIf="isDetOpen">
                            <h2>Identificador</h2>
                            <p>{{openDataset.identifier}}</p>
                            <h2>Tipo Produto</h2>
                            <p>{{openDataset.productType}}</p>
                            <h2>ID Imagem</h2>
                            <p>{{openDataset.uuid}}</p>
                            <h2>Ficheiro</h2>
                            <p>{{openDataset.fileName}}</p>
                            <h2>Formato</h2>
                            <p>{{openDataset.format}}</p>
                            <h2>Link</h2>
                            <p>{{openDataset.link}}</p>
                            <h2>Tamanho</h2>
                            <p>{{openDataset.size}}</p>
                        </div>
                    </div>
                    <!-- ID's -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('ids')">
                            Outros Identificadores
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isIDsOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isIDsOpen"></fa-icon>
                        </h1>
                        <div class="info-grid" *ngIf="isIDsOpen">
                            <h2>Data Strip</h2>
                            <p>{{openDataset.dataStripIdentifier}}</p>
                            <h2>Granule</h2>
                            <p>{{openDataset.granuleIdentifier}}</p>
                            <h2>CPDI Nível 1</h2>
                            <p>{{openDataset.level1CpdiIdentifier}}</p>
                            <h2>Plataforma</h2>
                            <p>{{openDataset.platformIdentifier}}</p>
                            <h2>Plataforma Serial</h2>
                            <p *ngIf="openDataset.platformSerialIdentifier !== null">
                                {{openDataset.platformSerialIdentifier}}</p>
                            <p *ngIf="openDataset.platformSerialIdentifier === null">Sem Informação</p>
                            <h2>S2 Data Take</h2>
                            <p>{{openDataset.s2DataTakeId}}</p>
                        </div>
                    </div>
                    <!-- Dates -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('dates')">
                            Datas
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isDatesOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isDatesOpen"></fa-icon>
                        </h1>
                        <div class="info-grid" *ngIf="isDatesOpen">
                            <h2>Posição Inicial</h2>
                            <p>{{openDataset.beginPositionDate}}</p>
                            <h2>Posição Final</h2>
                            <p>{{openDataset.endPositionDate}}</p>
                            <h2>Ingestão</h2>
                            <p>{{openDataset.ingestionDate}}</p>
                            <h2>Geração</h2>
                            <p>{{openDataset.generationDate}}</p>
                        </div>
                    </div>
                    <!-- Percentages -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('percent')">
                            Percentagens
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isPercentOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isPercentOpen"></fa-icon>
                        </h1>
                        <div class="info-grid percent" *ngIf="isPercentOpen">
                            <h2>Cobertura Nuvens</h2>
                            <p>{{openDataset.cloudCoverPercentage}}%</p>
                            <h2>Probabilidade Média Nuvens</h2>
                            <p>{{openDataset.mediumProbCloudsPercentage}}%</p>
                            <h2>Probabilidade Alta Nuvens</h2>
                            <p>{{openDataset.highProbCloudsPercentage}}%</p>
                            <h2>Vegetação</h2>
                            <p>{{openDataset.vegetationPercentage}}%</p>
                            <h2>Não-Vegetação</h2>
                            <p>{{openDataset.notVegetatedPercentage}}%</p>
                            <h2>Água</h2>
                            <p>{{openDataset.waterPercentage}}%</p>
                            <h2>Neve e Gelo</h2>
                            <p>{{openDataset.snowIcePercentage}}%</p>
                            <h2>Sem Classificação</h2>
                            <p>{{openDataset.unclassifiedPercentage}}%</p>
                        </div>
                    </div>
                    <!-- Orbit and Geometry -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('geo')">
                            Órbita e Geometria
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isGeoOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isGeoOpen"></fa-icon>
                        </h1>
                        <div class="info-grid" *ngIf="isGeoOpen">
                            <h2>Órbita</h2>
                            <p>{{openDataset.orbitNumber}}</p>
                            <h2>Órbita Relativa</h2>
                            <p>{{openDataset.relativeOrbitNumber}}</p>
                            <h2>Direção Órbita</h2>
                            <p>{{openDataset.orbitDirection}}</p>
                            <h2>Geometria</h2>
                            <p>{{openDataset.geometry}}</p>
                            <h2>Ângulo Azimute de Iluminação</h2>
                            <p *ngIf="openDataset.illuminationAzimuthAngle !== null">
                                {{openDataset.illuminationAzimuthAngle}}</p>
                            <p *ngIf="openDataset.illuminationAzimuthAngle === null">Sem Informação</p>
                            <h2>Ângulo Zênite de Iluminação</h2>
                            <p *ngIf="openDataset.illuminationZenithAngle !== null">
                                {{openDataset.illuminationZenithAngle}}</p>
                            <p *ngIf="openDataset.illuminationZenithAngle === null">Sem Informação</p>
                        </div>
                    </div>
                    <!-- Processing -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('proc')">
                            Processamento
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isProcOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isProcOpen"></fa-icon>
                        </h1>
                        <div class="info-grid" *ngIf="isProcOpen">
                            <h2>Baseline</h2>
                            <p>{{openDataset.processingBaseline}}</p>
                            <h2>Nível</h2>
                            <p>{{openDataset.processingLevel}}</p>
                        </div>
                    </div>
                    <!-- Other -->
                    <div class="dataset-info d-flex flex-column">
                        <h1 (click)="toggleInfoDropdown('other')">
                            Outras Informações
                            <fa-icon [icon]="downIcon" size="sm" *ngIf="!isOtherOpen"></fa-icon>
                            <fa-icon [icon]="upIcon" size="sm" *ngIf="isOtherOpen"></fa-icon>
                        </h1>
                        <div class="info-grid other" *ngIf="isOtherOpen">
                            <h2>Sob Demanda</h2>
                            <p>{{openDataset.onDemand}}</p>
                            <h2>Download</h2>
                            <p>{{openDataset.isDownload}}</p>
                            <h2>Nome Plataforma</h2>
                            <p>{{openDataset.platformName}}</p>
                            <h2>Nome Instrumento</h2>
                            <p>{{openDataset.instrumentName}}</p>
                            <h2>Instrumento Short</h2>
                            <p>{{openDataset.instrumentShortName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-end">
            <feat-pagination [rowCount]="rowCount" (page)="getPage($event)"></feat-pagination>
        </div>
    </div>
</div>

<!-- Delete Satellite Dataset Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Dados</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar este conjunto de dados?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga estes dados permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="removeDataset()">Apagar Dados</button>
    </div>
</ng-template>