<div class="contribs-container d-flex flex-column">
    <!-- Contributions Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Contribuições FireLoc</h1>
            <h3>Todas as contribuições realizadas por voluntários</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Contribuições...'" (search)="searchContribs($event)"></feat-search>
        </nav>
    </header>

    <!-- Contribs Content -->
    <div class="content-container d-flex flex-column">
        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-start">

            <!-- Location Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block" #locationDrop>
                <!-- Open/Close Dropdown -->
                <button type="button" class="d-flex align-items-center justify-content-center" ngbDropdownToggle
                    id="locDropdown" (click)="toggleFilterMap(locationDrop)">
                    <fa-icon [icon]="locIcon"></fa-icon>
                    <p>Localização</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="loc-filter action-dropdown-container dropdown-menu dropdown-menu-lg-end"
                    aria-labelledby="locDropdown">
                    <div class="loc-filter-actions d-flex align-items-center justify-content-between">
                        <button (click)="clearLocFilter()">Limpar Filtro</button>
                        <button (click)="filterLoc()" [disabled]="pointCounter < 4">Filtrar</button>
                    </div>
                    <div *ngIf="showFilterMap" class="map-container">
                        <app-leafmap [map-settings]="filterMapsettings" (map)="receiveFilterMap($event)"
                            class="filterMap">
                        </app-leafmap>
                    </div>
                </div>
            </div>

            <!-- User Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="userIcon"></fa-icon>
                    <p>Utilizador</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="action-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <!-- Search users by name -->
                    <div class="user-search d-flex align-items-center justify-content-around">
                        <fa-icon [icon]="searchIcon" size="lg"></fa-icon>
                        <input type="search" [ngModel]="userSearchTerms" (ngModelChange)="searchUsers($event)"
                            name="search">
                    </div>
                    <!-- List of users -->
                    <div class="dropdown-selection-container">
                        <label class="check-container" *ngFor="let user of filteredUsers">
                            <p>{{user.name}}</p>
                            <input type="checkbox" (click)="selectUser(user.id)" [checked]="user.selected">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                </div>
            </div>

            <!-- Date Range Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="dateIcon"></fa-icon>
                    <div class="dates d-flex align-items-center justify-content-center">
                        <p *ngIf="fromDate === null">Data</p>
                        <p *ngIf="fromDate !== null">{{fromDate.day}}</p>
                        <p *ngIf="fromDate !== null">/{{fromDate.month}}</p>
                        <p *ngIf="fromDate !== null">/{{fromDate.year}}</p>
                        <p>&nbsp;-&nbsp;</p>
                        <p *ngIf="toDate === null">Data</p>
                        <p *ngIf="toDate !== null">{{toDate.day}} </p>
                        <p *ngIf="toDate !== null">/{{toDate.month}} </p>
                        <p *ngIf="toDate !== null">/{{toDate.year}} </p>
                    </div>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="action-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                        outsideDays="hidden">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isContribOpen ? 'contrib-open' : ''">
                <feat-table [component]="'contribs'" [data]="contribs" [headers]="displayedHeaders" [page]="currentPage"
                    [searchFilter]="searchTerms" (rowCount)="updateRowCount($event)"
                    (selectedID)="toggleContribView($event)">
                </feat-table>
            </div>

            <!-- Contribution Details -->
            <div *ngIf="isContribOpen" class="contrib-details-container d-flex flex-column">
                <!-- Contribtuion Header -->
                <div class="contrib-header d-flex align-items-start justify-content-between">

                    <!-- Toggle Map/Photo Viewer -->
                    <fa-icon [icon]="mapIcon" size="2x" class="details-toggle" ngbTooltip="Ver no Mapa"
                        placement="bottom" (click)="toggleMapImage()" *ngIf="!isMapVisible"></fa-icon>
                    <fa-icon [icon]="cameraIcon" size="2x" class="details-toggle" ngbTooltip="Ver Foto"
                        placement="bottom" (click)="toggleMapImage()" *ngIf="isMapVisible"></fa-icon>

                    <!-- Contribution Image -->
                    <!-- TODO CHANGE TO ACTUAL IMAGE -->
                    <div class="contrib-image d-flex flex-column align-items-center justify-content-center"
                        *ngIf="!isMapVisible">
                        <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                            alt="FireLoc" (click)="open(contribImage)">
                    </div>

                    <!-- Contribution Map -->
                    <div *ngIf="isMapVisible"
                        class="contrib-image d-flex flex-column align-items-center justify-content-center">
                        <app-leafmap [map-settings]="mapsettings" (map)="receiveMap($event)" class="map">
                        </app-leafmap>
                    </div>

                    <!-- Delete Contribution -->
                    <fa-icon [icon]="deleteIcon" size="2x" class="details-delete" ngbTooltip="Remover Contribuição"
                        placement="bottom" (click)="open(deleteModal)"></fa-icon>
                </div>

                <!-- Contribution Information -->
                <div class="contrib-info-container">
                    <!-- Location -->
                    <div class="d-flex flex-column">
                        <h5>Localização</h5>
                        <h3>{{this.openContrib.place}}</h3>
                    </div>

                    <!-- Date -->
                    <div class="d-flex flex-column">
                        <h5>Data</h5>
                        <h3>{{this.openContrib.date}}</h3>
                    </div>

                    <!-- Direction -->
                    <div class="d-flex flex-column">
                        <h5>Direção</h5>
                        <h3>{{this.openContrib.dir}}</h3>
                    </div>

                    <!-- Sun Direction -->
                    <div class="d-flex flex-column">
                        <h5>Direção do Sol</h5>
                        <h3>{{this.openContrib.sunDir}}</h3>
                    </div>

                    <!-- Associated Fire Event -->
                    <div class="d-flex flex-column">
                        <h5>Fogo Associado</h5>
                        <h3>{{this.openContrib.fire}}</h3>
                    </div>

                </div>
            </div>
        </div>

        <!-- Tables Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-end">
            <feat-pagination [rowCount]="rowCount" (page)="getPage($event)"></feat-pagination>
        </div>

    </div>
</div>

<!-- Expand Image Popup Template -->
<ng-template #contribImage let-modal id="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{openContrib.place}}</h4>
        <div class="close-icon-container" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
        </div>
    </div>
    <div class="modal-body d-flex justify-content-center align-items-center">
        <!-- TODO CHANGE TO ACTUAL IMAGE -->
        <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
            alt="Contribution Image" loading="lazy" class="modal-image" />
    </div>
</ng-template>

<!-- Delete Contribution Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Contribuição</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar esta contribuição?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga a contribuiçãp permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteContrib()">Apagar Contribuição
        </button>
    </div>
</ng-template>