input {
    border: 2px solid #F9BE2D;
    padding: 20px 10px 20px 10px;
    font-size: 14px;
    font-weight: 200;
    transition: 0.5s;
}

input:focus {
    border: 2px solid #F9BE2D;
    box-shadow: none;
}

.input-symbol-bg {
    background-color: #F9BE2D;
}

.input-symbol-no-bg {
    background: none;
    border-bottom: 2px solid #F9BE2D;
    border-top: 2px solid #F9BE2D;
    border-right: 2px solid #F9BE2D;
}

.input-symbol {
    color: #FFF;
}

.show-symbol {
    color: #F9BE2D;
}

.show-symbol:hover {
    cursor: pointer;
}

.input-errors {
    font-size: 14px;
    font-weight: 500;
}