<!-- Header Stuff -->
<div class="header">
	<a href="" class="logo" ng-if="vm.showInit">
		Fireloc - Onde está o Fogo?
	</a>
	<a href="" class="logo" ng-if="vm.showMap">
		Indique a sua localização...
	</a>
	<a href="" class="logo" ng-if="vm.showImg">
		Mais alguns dados...
		</a>
	<a href="" class="logo" ng-if="vm.showCompass">
		Direcção em relação ao incêndio...
	</a>
</div>

<!-- Map -->
<div id="map" ng-show="vm.showMap">
	<div ng-if="vm.notPosition" class="text_intro">
		Não foi possível obter a sua posição.
		<hr>
		Active a sua localização e dê permissões ao seu browser para aceder a ela!
	</div>
	<div ng-if="vm.showWarning" class="text_intro">
		O marcador azul no mapa indica a sua posição. Se essa não
		é a sua localização real, recarregue a página.
		<hr>
		Se o problema persistir, reinicie o browser e tente novamente!
		<hr>
		<button class="start-button">
			<i ng-click="vm.hideWarning()" class="fa fa-check start-float"></i>
		</button>
	</div>
</div>

<div id="init_report" ng-show="vm.showInit">
	<div class="text_intro">
		Onde está o Fogo? Vê uma situação de Incêndio Florestal
		no horizonte? Diga-nos onde...
		<hr>
		<button class="start-button">
			<i ng-click="vm.ttShowMap()" class="fa fa-play start-float"></i>
		</button>
	</div>
</div>

<div id="box-report" ng-if="vm.showForm">
	<form id="report-form" method="POST" class="report-fire-form ng-cloak"
		enctype="multipart/form-data" action="/api/fireloc/report/">
		
		<div style="display:none">
			<input type="text" name="latlng" ng-model="vm.settings.form.latlng"/>
			<input type="text" name="direction" ng-model="vm.final_north" />
			<input type="text" name="orientation" ng-model="vm.final_cell" />
			<input type="text" name="beta" ng-model="vm.final_beta" />
			<input type="text" name="gamma" ng-model="vm.final_gama" />
		</div>
		
		<!-- Informação sobre orientação -->
		<p ng-show="vm.showCompass"><b>
			Posicione-se de frente para o local do incêndio e 
			depois clique no botão abaixo para definir a sua orientação
			em relação ao Norte Magnético
		</b></p>
		
		<p ng-show="vm.showCompass && vm.north_direction !== 999">
			A sua orientação actual é de {{ vm.north_direction }} em relação ao 
			Norte Magnético.
		</p>
		
		<p ng-show="vm.showCompass && vm.north_direction === 999"
			style="color:red">
			Não é possível obter a orientação em relação ao Norte Magnético.
			Certifique-se de que o seu equipamento possui magnetómetro.
			O botão "Definir Orientação" não funcionará, mas é possível avançar.
		</p>
		
		<button type="button" ng-if="vm.showCompass && vm.north_direction" class="btn"
			ng-click="vm.setNorth()" ng-disabled="vm.north_direction === 999"
			>Definir orientação</button>
		
		<p ng-show="vm.final_north !== 999 && vm.showCompass"
			style="color:green"><b>
			O valor {{ vm.final_north }} foi definido como sendo a sua orientação.
			Pode avançar.
		</b></p>
		<p ng-show="vm.final_north === 999 && vm.showCompass"
			style="color:red"><b>
			Orientação ainda não foi definida.
		</b></p>
		
		<p ng-show="vm.showCompass">
			Qual é o sentido de medição do magnetómetro do seu equipamento?
		</p>
		<select ng-show="vm.showCompass" name='list-compass' form="report-form">
			<option value="none">Não sabe</option>
			<option value="directo">Sentido contrário aos ponteiros do relógio</option>
			<option value="retrogado">Sentido dos ponteiros do relógio</option>
		</select>
		
		<p ng-show="vm.showCompass">
			<b>No momento, interessa-nos identificar diferenças entre os valores
			de orientação (em relação ao Norte Magnético) fornecidos por um
			equipamento móvel e os obtidos com uma Bússola</b> Se
			tiver possibilidade de utilizar uma Bússola, posicione-se de
			frente para o local do incêndio e indique
			o valor que esse instrumento indica.
		</p>
		<input ng-show="vm.showCompass" type="text" name="real_direction" />
		
		<!-- Outros dados -->
		<p ng-show="vm.showImg">Qual é o seu nome?</p>
		<input ng-show="vm.showImg" type="text" name="utilizador" />
		<p ng-show="vm.showImg">Onde se encontra?</p>
		<input ng-show="vm.showImg" type="text" name="lugar" />
		<p ng-show="vm.showImg">Onde está a decorrer o incêndio?</p>
		<input ng-show="vm.showImg" type="text" name="incendio" />
		
		<p ng-show="vm.showImg">Envie-nos uma fotografia do que observa...</p>
		<div ng-show="vm.showImg" class="upload-btn-wrapper">
			<button class="btn">Tirar fotografia</button>
			<input type="file" name="fire_photo" accept="image/*;capture=camera"
				onchange="angular.element(this).scope().vm.isUploadTrue()">
		</div>
		
		<div ng-show="vm.showImg" class="form-container">
			<div class="row">
				 <div class="col-25">
				 	<label for="fname">
				 		A que distância julga estar do incêndio?
				 	</label>
				 </div>
				 <div class="col-75">
				 	<select name="list-dist" form="report-form">
				 		<option value="none">Não sabe</option>
				 		<option value="en_0_500">Menos que 500 metros</option>
				 		<option value="en_500_1000">Entre 500 metros e 1 km</option>
				 		<option value="en_1000_2000">Entre 1 e 2 Km</option>
				 		<option value="en_2000_3000">Entre 2 e 3 Km</option>
				 		<option value="en_2000_3000">Entre 4 e 5 Km</option>
				 		<option value="en_2000_3000">Entre 5 e 10 Km</option>
				 		<option value="en_3000_10000">Mais que 10 Km</option>
				 	</select>
				 </div>
			</div>
			<div class="row">
      			<div class="col-25">
        			<label for="subject">Outros comentários...</label>
      			</div>
      			<div class="col-75">
        			<textarea name="other-text"
        				placeholder="Outros comentários.."
        				style="height:100px">
        			</textarea>
      			</div>
    		</div>
		</div>
		<button id="submitform" ng-if="!vm.showInit && vm.showImg"
			type="submit" class="submit-button">Submeter...</button>
			
		<button ng-if="vm.showCompass" class="next-btn" 
			ng-click="vm.nextForm()" ng-disabled="vm.notPosition">Seguinte...</button>
	</form>
</div>
<div id="lower-buttons" ng-show="!vm.showInit && !vm.showImg && !vm.showCompass">
	<button class="next-btn" ng-click="vm.nextForm()" ng-disabled="vm.notPosition">Seguinte...</button>
</div>
<div ng-transclude></div>