<div id="SearchControl">
<div id="Localization" ng-click="vm.searchOn()">
	<i class="fa fa-map-marker" aria-hidden="true"
		style="font-size:36px; color: #FFFFFF"></i>
</div>
</div>
<div id="search-dropdown" ng-if="vm.searchbox">
	<input type="search" ng-model="vm.searchKeyword"
		placeholder="Type a place name">
	<ul ng-if="vm.locations" class="places-drop">
		<li ng-repeat="location in vm.places">
			<div class="li_border"
				ng-click="vm.zoomToLocation(location.lat, location.lng)">
				<a>{{ location.name }}</a>
			</div>
		</li>
	</ul>
</div>