/*_________________ Add study case _________________*/

#left-box {
	position: absolute;
	height: 100%;
	left:0%;
	width: 50%;
	overflow: auto;
}

#right-box {
	position: absolute;
	height: 100%;
	left:50%;
	width:50%;
	overflow: auto;
}

#bass-div {
	position: absolute;
	height: 100%;
	left:50%;
	width:50%;
	background-color: black;
	opacity: 0.4;
	z-index: 10000;
}

.list-group a {
	color: black;
}

.list-group a:hover{
    color: #F8E71C;
    text-decoration: underline;
}