<div class="groups-container d-flex flex-column">
    <!-- Groups Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Grupos FireLoc</h1>
            <h3>Todos os grupos presentes no seu sistema</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Grupos...'" (search)="searchGroups($event)"></feat-search>
        </nav>
    </header>
</div>

