.tabs a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.left-tab {
    background-color: #7EA59D;
}

.right-tab {
    background-color: #98A68B;
}

.left-tab:hover,
.left-tab.active,
.right-tab:hover,
.right-tab.active {
    background-color: #575756;
}

.tab-content {
    height: 62vh;
    overflow-y: auto;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #7EA59D;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #575756;
}