<! DOCTYPE html>
<html lang="pt">
<!-- Base HTML for Atlas App Views -->
{% load static %}
{% load atags %}
{% debug as debug %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="JUSTICIA, SOSTENIBILIDAD Y TERRITORIO - SISTEMAS DE INFRAESTRUCTURAS DE DATOS ESPACIALES | JUST Side">
	<meta name="keywords" content="JUSTICIA, justiça, SOSTENIBILIDAD, sustentabilidade, TERRITORIO, INFRAESTRUCTURAS, infraestruturas, DATOS, dados, ESPACIALES, esaciais, JUST-Side">
	<meta name="author" content="JUST Side">
	
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{% static 'jsidejs/img/js-logo.png' %}">
	<link rel="stylesheet" href="{%  static 'bootstrap/dist/css/bootstrap.min.css' %}" />
	{% if service.about == 'viewer-service' or service.about == 'manage-service' %}
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet/dist/leaflet.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw-src.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
	{% endif %}
	
	{% if service.about == 'viewer-service' %}
		{% if debug %}
		<!-- Home made styles -->
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-body.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-nav.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-map.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/compare-map.css' %}" />
		{% else %}
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="{% static 'jsidejs/atlasviewer.min.css' %}" />
		{% endif %}
	{% elif service.about == 'manage-service' %}
		{% if debug %}
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-body.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-nav.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-map.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/manage-cases.css' %}" />
		{% else %}
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="{% static 'jsidejs/atlasmanage.min.css' %}" />
		{% endif %}
	{% else %}
		{% if debug %}
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="{% static 'jsidejs/css/meta-pages.css' %}" />
		{% else %}
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="{% static 'jsidejs/atlasmeta.min.css' %}" />
		{% endif %}
	{% endif %}
</head>
{% if service.about == 'index-page' %}
<body id="page-top">
{% else %}
<body ng-app="jsidejs">
{% endif %}
<div class="conteudo">
	<!-- Header -->
	{% include 'header.html' %}
	<!-- Body -->
	{% block body_contents %}{% endblock %}
	<!-- Footer -->
	{% if service.about == 'meta-page' %}
		{% include 'footer.html' %}
	{% endif %}
</div>
</body>
<!-- Placed at the end of the document so the pages load faster -->
<!-- Import jQuery -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% if service.about == 'viewer-service' or service.about == 'manage-service' %}
<!-- Charge Angular into it-->
<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
<!-- Leaflet Magic -->
<script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw-src.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script type="text/javascript" src="{% static 'esri-leaflet/dist/esri-leaflet.js' %}"></script>
<!-- D3 -->
<script type="text/javascript" src="{% static 'd3/dist/d3.min.js' %}"></script>
{% endif %}

<!-- JustSide Atlas AngularJS APP -->
{% if service.about == 'viewer-service'  %}
	{% if debug %}
	<script type="text/javascript" src="{% static 'jsidejs/jside.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/constants/constants.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/constants/leaf.constants.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/api/api.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/api/api.dbtables.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/services.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leaf.cntr.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leaf.layers.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leafletdraw.service.js' %}"></script>

	<script type="text/javascript" src="{% static 'jsidejs/components/components.module.js' %}"></script>

	<script type="text/javascript" src="{% static 'jsidejs/directives/directives.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/viewerMap.directive.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/compareMap.directive.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/thermometer.directive.js' %}"></script>
	{% else %}
	<script type="text/javascript" src="{% static 'jsidejs/atlasviewer.min.js' %}"></script>
	{% endif %}
{% elif service.about == 'manage-service' %}
	{% if debug %}
	<script type="text/javascript" src="{% static 'jsidejs/jside.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/constants/constants.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/constants/leaf.constants.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/api/api.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/api/api.dbtables.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/services.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leaf.cntr.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leaf.layers.service.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/services/leafletdraw.service.js' %}"></script>

	<script type="text/javascript" src="{% static 'jsidejs/components/components.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/components/editStudyCases.directive.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/components/addLyrStudyCases.directive.js' %}"></script>

	<script type="text/javascript" src="{% static 'jsidejs/directives/directives.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/studyCases.directive.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/themeLayers.directive.js' %}"></script>
	<script type="text/javascript" src="{% static 'jsidejs/directives/statUnitsGroups.directive.js' %}"></script>
	{% else %}
	<script type="text/javascript" src="{% static 'jsidejs/atlasmanage.min.js' %}"></script>
	{% endif %}
{% else %}
	{% if debug %}
	<script type="text/javascript" src="{% static 'jsidejs/bjs/metaPages.js' %}"></script>
	{% else %}
	<script type="text/javascript" src="{% static 'jsidejs/atlasmeta.min.js' %}"></script>
	{% endif %}
{% endif %}
<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</html>