{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}JS Atlas - Erro!{% endblock %}
{% block body_contents %}
<div>
	<div id="bass-div-g"></div>
	<div id="popUp">
		<h3>Upps!!! Alguma coisa correu mal...</h3>
		<p>Um erro ocorreu. Pedimos desculpa pelo inconveniente. 
			Tentaremos resolver o problema o mais brevemente possível.</p>
		
		<p>Por favor, tente novamente mais tarde</p>
		
		<br>
		
		<a href="/pt/home/" id="closeButton">Volte à página inicial</a>
	</div>
</div>
{% endblock %}