{% load static %}
<div class="cabecalho">
	<div class="zona-nome">
		<a href="/gui/{{ atlas_lang }}/home/">
			<img src="{% static 'jsidejs/img/js-logo.png' %}" alt="JUST Side Logo">
		</a>
	</div>
	<div class="zona-menu">
		<ul>
		{% if atlas_lang == 'es' %}
			<li><a href="/gui/es/project/">SOBRE LA RED</a></li>				
		  	<li><a href="/gui/es/organigrama/">GRÁFICO</a></li>					
		  	<li><a href="/gui/es/links/">ENLACES ÚTILES</a></li>				
		  	<li><a href="/gui/es/contacts/">CONTACTO</a></li>
		  	<li id="atlas">
		  		<a href="#" data-toggle="tooltip"
		  			title="Página en construcción! Estará disponible brevemente!">
		  			ATLAS
		  		</a>
		  	</li>	
		  	<li id="login">
				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}?next=/gui/{{ atlas_lang }}/home/">logout</a>
				{% else %}
		  		<a href="{% url 'login' %}" data-toggle="tooltip"
		  			title="Haga clic para iniciar sesión en la Aplicación">
		  			login
		  		</a>
				{% endif %}
		  	</li>
		  	<li id="lingua"><a href="/gui/pt/{{ service.url }}">PT</a></li>
		{% else %}
			<li><a href="/gui/pt/project/">PROJETO</a></li>				
		  	<li><a href="/gui/pt/organigrama/">ORGANOGRAMA</a></li>					
		  	<li><a href="/gui/pt/links/">LIGAÇÕES</a></li>				
		  	<li><a href="/gui/pt/contacts/">Contacto</a></li>
		  	<li id="atlas">
		  		<a href="#" data-toggle="tooltip"
		  			title="Página em construção! Estará disponível brevemente!">
		  			Atlas
		  		</a>
		  	</li>	
		  	<li id="login">
				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}?next=/gui/{{ atlas_lang }}/home/">logout</a>
				{% else %}
		  		<a href="{% url 'login' %}"
		  			data-toggle="tooltip"
		  			title="Aceda para realizar Login na aplicação">
		  			login
		  		</a>
				{% endif %}
		  	</li>
		  	<li id="lingua"><a href="/gui/es/{{ service.url }}">ES</a></li>
		 {% endif %}
		</ul>
	</div>		
		
</div>