/* Location filter */
.actions-container button {
    height: 40px;
    width: max-content;
    background: white;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    margin-right: 10px;
}

.actions-container p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px;
}

.action-dropdown .dropdown-toggle::after {
    display: none;
}

.action-dropdown-container {
    padding: 20px 20px 10px 20px;
    width: max-content;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.dropdown-selection-container {
    max-height: 200px;
    overflow-y: auto;
}

.loc-filter {
    width: 350px;
    height: max-content;
}

.loc-filter-actions {
    margin-bottom: 10px;
}

.loc-filter-actions button {
    height: 30px;
    width: max-content;
    padding: 5px 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    margin-right: 0;
}

.loc-filter .map-container {
    width: 310px;
    height: 350px;
}

/* Event filter */
.dropdown-selection-container {
    max-height: 200px;
    overflow-y: auto;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
    height: 20px;
}

.action-dropdown-container .check-container p {
    color: black;
    font-weight: 400;
    font-size: 12px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.check-container:hover input~.checkmark {
    background-color: rgb(240, 240, 240);
}

.check-container input:checked~.checkmark {
    background-color: #EE6112;
    border: 1px solid #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.event-search {
    margin-bottom: 20px;
}

.event-search input {
    width: 90%;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
}

input[type="search"]:focus {
    color: black;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(100%);
}

.event-search .ng-fa-icon {
    color: #ACACAC;
    margin-right: 10px;
}

/* Contribution selection */
.contrib-selection-container {
    margin-bottom: 10px;
}

.contrib-button {
    padding: 3px 10px;
    border-radius: 15px;
    border: 3px solid #575756;
    height: 40px;

    font-size: small;
    font-weight: 400;
    background-color: none;
}

.contrib-button:hover,
.selected {
    background-color: #575756;
    color: white;
}

.spacer {
    margin-right: 10px;
}

/* List */
.contrib-list-info-container {
    height: calc(100vh - 250px);
}

.contrib-list-container {
    overflow-y: auto;
}

.contrib-date-container {
    margin-bottom: 15px;
}

.contrib-date {
    padding: 10px;
}

.contrib-time {
    margin-right: 10px;
    min-width: max-content;
    width: 40px;
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

p {
    margin: 0;
}

span {
    font-weight: 600;
}

#date-title {
    font-weight: 600;
}

.contrib-element-container {
    padding: 10px;
    border-bottom: 1px solid #575756;
}

.contrib-date+.contrib-element-container {
    border-top: 1px solid #575756;
}


.contrib-element-container:hover {
    cursor: pointer;
    background-color: #DDD9D3;
}

.contrib-element-container.active {
    background-color: #DDD9D3;
}

#icon {
    margin-right: 10px;
}

.contrib-info-container {
    border-top: 3px solid #DDD9D3;
    margin-top: 15px;
    padding: 5px 10px;

    overflow-y: auto;
    min-height: 250px;
}

.contrib-info-wrapper {
    margin-top: 15px;
}

.info-coord-container,
.info-direction-container,
.info-sun-container {
    margin-top: 10px;
}

.info-time,
.info-coord,
.info-direction,
.sun-direction {
    margin-left: 0px;
}

.right-panel {
    padding: 5px 15px;
}

.right-panel img {
    width: 100px;
    height: auto;
}

.right-panel img:hover {
    cursor: pointer;
}

.login-info-container {
    height: calc(100vh - 360px);
}

.register-info p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    overflow-wrap: break-word;
}

.login-info p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    overflow-wrap: break-word;
}

a {
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
}

.no-contrib-container {
    height: calc(100vh - 200px);
}

.no-contrib-container p {
    width: 250px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.close-icon-container {
    margin-top: 4px;
}

.close-icon-container:hover {
    cursor: pointer;
}

.modal-body {
    padding: 10px;
}

.modal-image {
    max-height: calc(100vh - 225px);
    max-width: calc(100vw - 500px);
}

/* Loading Animation */
.loading {
    height: calc(100vh - 200px);
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
    box-shadow: 9999px 0 0 -5px #EE7927;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #EE7927;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #EE7927;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9984px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9999px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 10014px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}