<!-- Contributions Content Container -->
<div class="contrib-content-container" *ngIf="isLoggedIn">
    <div class="contrib-selection-container d-flex justify-content-between">
        <!-- Filler Div for when user can't see filters -->
        <div *ngIf="!hasPermission || !allContribSelected"></div>

        <!-- Contribution Filters -->
        <div *ngIf="hasPermission && allContribSelected" class="actions-container">
            <!-- Location Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block" #locationDrop>
                <!-- Open/Close Dropdown -->
                <button type="button" class="d-flex align-items-center justify-content-center" ngbDropdownToggle
                    id="locDropdown" (click)="toggleFilterMap(locationDrop)">
                    <fa-icon [icon]="filterLocIcon"></fa-icon>
                    <p>{{ 'FILTERS.Location' | translate }}</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="loc-filter action-dropdown-container dropdown-menu dropdown-menu-lg-end"
                    aria-labelledby="locDropdown">
                    <div class="loc-filter-actions d-flex align-items-center justify-content-between">
                        <button (click)="clearLocFilter()">{{ 'FILTERS.Clear' | translate }}</button>
                        <button (click)="filterLoc()" [disabled]="pointCounter < 4">
                            {{ 'FILTERS.Filter' | translate }}
                        </button>
                    </div>
                    <div *ngIf="showFilterMap" class="map-container">
                        <app-leafmap [map-settings]="filterMapsettings" (map)="receiveFilterMap($event)"
                            class="filterMapGeoContrib">
                        </app-leafmap>
                    </div>
                </div>
            </div>

            <!-- Event Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="fireIcon"></fa-icon>
                    <p>{{ 'FILTERS.Event' | translate }}</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>

                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="action-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <!-- Search events by name -->
                    <div class="event-search d-flex align-items-center justify-content-around">
                        <fa-icon [icon]="searchIcon" size="lg"></fa-icon>
                        <input type="search" [ngModel]="eventSearchTerms" (ngModelChange)="searchEvents($event)"
                            name="search">
                    </div>
                    <!-- List of events -->
                    <div class="dropdown-selection-container">
                        <label class="check-container" *ngFor="let event of filteredEvents">
                            <p>{{event.name}}</p>
                            <input type="checkbox" (click)="selectEvent(event.id)" [checked]="event.selected">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contributions Selection Buttons -->
        <div>
            <button class="contrib-button spacer" [ngClass]="allContribSelected ? 'selected' : '' "
                (click)="allContrib()" [disabled]="allContribSelected" *ngIf="hasPermission">
                {{ 'FILTERS.All' | translate }}
            </button>
            <button class="contrib-button" [ngClass]="allContribSelected ? '' : 'selected' " (click)="myContrib()"
                [disabled]="!allContribSelected">
                {{ 'FILTERS.Mine' | translate }}
            </button>
        </div>
    </div>

    <div class="loading d-flex flex-column justify-content-center align-items-center" *ngIf="loadingContribs">
        <div class="dot-pulse"></div>
    </div>

    <div class="no-contrib-container d-flex flex-column justify-content-center align-items-center"
        *ngIf="noContribs && !loadingContribs">
        <p>{{ 'EMPTY.NoContribs' | translate }} </p>
        <p>{{ 'EMPTY.AddYours' | translate }}</p>
    </div>

    <!-- Flex Container for Contribution List and Contribution Information -->
    <div class="contrib-list-info-container d-flex flex-column justify-content-between"
        *ngIf="filteredContrib.length > 0 && !loadingContribs">
        <!-- Contributions List Container -->
        <div class="contrib-list-container">
            <!-- Contributions Date Container -->
            <div class="contrib-date-container d-flex flex-column"
                *ngFor="let day of filteredContrib; let i = index">
                <!-- Contribution Date -->
                <div class="contrib-date">
                    <p id="date-title">
                        {{filteredAux[i].date.day}} {{filteredAux[i].date.month}} {{filteredAux[i].date.year}}
                    </p>
                </div>

                <!-- Contribution Element Container -->
                <div class="contrib-element-container d-flex justify-content-between"
                    *ngFor="let ctb of day.ctbs; let e = index"
                    (click)="openContribution(ctb, i, e)" [ngClass]="contribIndex === e ? 'active' : '' ">

                    <!-- Contribution Location -->
                    <div class="contrib-location">
                        <p>{{filteredAux[i].ctbs[e].location}}</p>
                    </div>

                    <!-- Contribution Right Information -->
                    <div class="contrib-time-container d-flex align-items-center">
                        <!-- Clock Icon -->
                        <fa-icon [icon]="clockIcon" size="sm" id="icon"></fa-icon>

                        <!-- Contribution Time -->
                        <div class="contrib-time">
                            <p>{{filteredAux[i].ctbs[e].hour}}:{{filteredAux[i].ctbs[e].minute}}</p>
                        </div>

                        <!-- Map Control -->
                        <fa-icon [icon]="plusIcon" size="sm" id="icon1"
                            (click)="addContribToMap(ctb)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contribution Information Container -->
        <div class="contrib-info-container d-flex flex-column" *ngIf="isContribOpen">

            <!-- Contribution Location -->
            <div class="d-flex justify-content-between align-items-center">
                <h3>{{contribLocation}}</h3>
                <div (click)="closeContribution()" class="close-icon-container">
                    <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
                </div>

            </div>

            <!-- Container for Information on Left and Photo on Right -->
            <div class="contrib-info-wrapper d-flex justify-content-between">
                <!-- Left Panel -->
                <div class="left-panel d-flex justify-content-start flex-column align-self-center">
                    <!-- Contribution Time -->
                    <div class="info-time-container d-flex">
                        <!-- Clock Icon -->
                        <fa-icon [icon]="clockIcon" size="lg" id="icon"></fa-icon>

                        <!-- Contribution Time -->
                        <div class="info-time">
                            <p><span>{{contribTime}}</span></p>
                        </div>
                    </div>

                    <!-- Contribution Coordinates -->
                    <div class="info-coord-container d-flex align-items-center">

                        <!-- Location Icon -->
                        <fa-icon [icon]="locIcon" size="lg" id="icon"></fa-icon>

                        <!-- Contribution Coordinates -->
                        <div class="info-coord">
                            <p><span>Latitude:</span> {{contribLat}}</p>
                            <p><span>Longitude:</span> {{contribLong}}</p>
                        </div>

                    </div>

                    <!-- Contribution Direction -->
                    <div class="info-direction-container d-flex">

                        <!-- Direction Icon -->
                        <fa-icon [icon]="directionIcon" size="lg" id="icon"></fa-icon>

                        <!-- Contribution Direction -->
                        <div class="info-direction">
                            <p><span>{{ 'CONTRIBS.Direction' | translate }}:</span> {{contribDirection}}</p>
                        </div>
                    </div>

                    <!-- Contribution Sun Direction -->
                    <div class="info-sun-container d-flex" *ngIf="contribSun != -1">

                        <!-- Direction Icon -->
                        <fa-icon [icon]="sunIcon" size="lg" id="icon"></fa-icon>

                        <!-- Contribution Time -->
                        <div class="sun-direction">
                            <p><span>{{ 'CONTRIBS.SunDirection' | translate }}:</span> {{contribSun}}</p>
                        </div>
                    </div>
                </div>

                <!-- Right Panel -->
                <div class="right-panel d-flex justify-content-center align-items-center">
                    <img [src]="contribPhoto" alt="Contribution Image" loading="lazy"
                        (click)="openContribPhoto(content)" />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Login Information Container -->
<div class="login-info-container d-flex flex-column justify-content-around" *ngIf="!isLoggedIn">

    <!-- Register container -->
    <div class="register-info d-flex flex-column justify-content-center align-items-center">
        <p>{{ 'CONTRIBS.Register' | translate }}</p>

        <!-- Authentication Button -->
        <a class="btn btn-primary btn-sm" role="button" (click)="openRegister()">
            {{ 'HOME.Register' | translate }}
        </a>
    </div>

    <!-- Login container -->
    <div class="login-info d-flex flex-column justify-content-center align-items-center">
        <p> {{ 'CONTRIBS.Login' | translate }}</p>

        <!-- Authentication Button -->
        <a class="btn btn-secondary btn-sm" role="button" (click)="openLogin()">
            {{ 'HOME.Login' | translate }}
        </a>

    </div>
</div>

<!-- Expand Image Popup Template -->
<ng-template #content let-modal id="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{contribLocation}}</h4>
        <div class="close-icon-container" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
        </div>
    </div>
    <div class="modal-body d-flex justify-content-center align-items-center">
        <img [src]="contribPhoto" alt="Contribution Image" loading="lazy" class="modal-image" />
    </div>
</ng-template>