.navbar {
  z-index: 100000;
  height: 70px;
}

.nav-collapsed {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.navbar-brand {
  margin-left: 5%;
}

img {
  width: auto;
  height: 60px;
}

.nav-item {
  font-weight: 600;
  font-size: 14px;
}

.nav-link.login {
  color: #EE7927;
}

.nav-link.backoffice {
  color: #CC2F23;
}

.nav-link.login:hover {
  color: #F9BE2D;
  cursor: pointer;
}

.profile-nav {
  margin-left: 20px;
}

.profile-nav img {
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.profile-nav img:hover {
  cursor: pointer;
}

#userProfile {
  border: none;
  background: none;
}

.profile-nav .dropdown-toggle::after {
  display: none;
}

.profile-dropdown {
  right: 4px;
  left: auto;
}

.profile-menu-container {
  width: min-content;
  padding: 15px 30px;
}

.main-profile {
  padding-bottom: 20px;
  border-bottom: 1px solid #575756;
}

.main-profile img {
  margin-right: 25px;
  height: auto;
  width: 80px;
  border-radius: 50%;
}

#profile-name {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-bottom: 0;
}

#profile-email {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.edit-button {
  border: none;
  font-size: 14px;
  transition: 0.1s ease-in-out;
}

.edit-button:hover {
  background-color: #EE7927;
}

.contrib,
.change-password,
.logout {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 15px;
  padding-bottom: 0;
  color: black;
  border-radius: 10px;

  transition: 0.1s ease-in-out;
}

.change-password,
.logout {
  margin-top: 0;
}

.contrib:hover,
.change-password:hover,
.logout:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.ng-fa-icon {
  margin-right: 10px;
}

.nav-languages {
  margin-left: 20px;
}

.nav-languages button {
  font-weight: 500;
  font-size: 14px;
}

.lang-dropdown {
  right: 0px;
  left: auto;
}