<div class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <app-headmenu></app-headmenu>

    <!-- Main Container -->
    <div class="main-container d-flex flex-column align-items-center">
        <!-- Main Tabs Container -->
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="tabs d-flex justify-content-center">
            <!-- Contributions Container -->
            <li [ngbNavItem]="1" class="p-2 left-tab" [class.active]="activeTab===1"
                (click)="navigate('/profile/contributions')">
                <!-- Tab link -->
                <a ngbNavLink>
                    <span>
                        <fa-icon [icon]="listIcon"></fa-icon>
                    </span>
                    {{ 'PROFILE.Contribs' | translate }}
                </a>
                <ng-template ngbNavContent>
                    <prof-contrib></prof-contrib>
                </ng-template>
            </li>

            <!-- Profile Container -->
            <li [ngbNavItem]="2" class="p-2 left-tab" [class.active]="activeTab===2"
                (click)="navigate('/profile')">
                <!-- Tab link -->
                <a ngbNavLink>
                    <span>
                        <fa-icon [icon]="userIcon"></fa-icon>
                    </span>
                    {{ 'PROFILE.Profile' | translate }}
                </a>

                <ng-template ngbNavContent>
                    <!-- Profile Content -->
                    <prof-profile></prof-profile>
                </ng-template>
            </li>

            <!-- Password Container -->
            <li [ngbNavItem]="3" class="p-2 right-tab" [class.active]="activeTab===3"
                (click)="navigate('/profile/password')">
                <!-- Tab link -->
                <a ngbNavLink>
                    <span>
                        <fa-icon [icon]="passwordIcon"></fa-icon>
                    </span>
                    {{ 'PROFILE.ChangePass' | translate }}
                </a>
                <ng-template ngbNavContent>
                    <!-- Password Content -->
                    <prof-passw></prof-passw>
                </ng-template>
            </li>
        </ul>

        <!-- Outlet where current tab content is shown -->
        <div [ngbNavOutlet]="nav" class="mt-2 p-3 tab-content"></div>
    </div>
</div>
