* {
    font-family: 'Montserrat', sans-serif !important;
}

.groups-container {
    height: 100vh;
}

.header-container {
    background-color: #EE6112;
    height: 120px;
}

.greeting {
    color: white;
    margin-left: 24px;
}

.greeting h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 0;
}

.greeting h3 {
    font-size: 16px;
}

.search {
    margin-right: 42px;
}

.content-container {
    flex: 1;
    padding: 20px;
}

.actions-container {
    margin: 0 22px 20px 22px;
}

.actions-container button {
    height: 40px;
    padding-right: 15px;
    background: #F5A32A;
    border-radius: 10px;
    border: none;
    color: white;
}

.actions-container p {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px;
}

.tables-container {
    flex: 1;
    min-height: 440px;
}

.table-container {
    margin: 0 22px 0 22px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.pagination-container {
    margin: 20px 22px 0 22px;
    height: 50px;
}

.modal-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.modal-header .ng-fa-icon:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #EE6112;
}

.new-group-form {
    padding: 10px 30px;
    min-height: 80px;
}

.new-group-form p {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.new-group-input {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.ng-invalid:not(form) {
    border-left: 5px solid #B00600;
}

.ng-dirty.ng-invalid:not(form) {
    border-left: 5px solid #EE6112 !important;
}

.conf-intro {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
    height: 20px;
}

.modal-body .check-container p {
    font-weight: 400;
    font-size: 12px;
    margin-top: -3px;
}

.modal-body .check-container p.layers {
    margin-top: 0;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.check-container:hover input~.checkmark {
    background-color: rgb(240, 240, 240);
}

.check-container input:checked~.checkmark {
    background-color: #EE6112;
    border: 1px solid #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.warn {
    font-weight: 600 !important;
    color: #B00600 !important;
}

.layer-search {
    margin-bottom: 20px;
}

.layer-search input {
    width: 90%;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
}

input[type="search"]:focus {
    color: black;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    filter: grayscale(100%);
}

.layer-search .ng-fa-icon {
    color: #ACACAC;
}

.layers-form {
    height: 210px;
    overflow: auto;
}