<div class="groups-container d-flex flex-column">
    <!-- Groups Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Grupos FireLoc</h1>
            <h3>Todos os grupos presentes no seu sistema</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Grupos...'" (search)="searchGroups($event)"></feat-search>
        </nav>
    </header>

    <!-- Groups Content -->
    <div class="content-container d-flex flex-column">
        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-between">

            <!-- Add Group -->
            <button class="d-flex align-items-center justify-content-center" (click)="open(createModal, -1)">
                <p>Adicionar Grupo</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>

            <!-- Associate Layer -->
            <button *ngIf="isGroupOpen" class="d-flex align-items-center justify-content-center"
                (click)="openLayerModal(layerModal)">
                <p>Associar Camadas</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container">
                <feat-table [component]="'groups-groups'" [data]="groups" [headers]="groupHeaders"
                    [page]="currentGroupPage" [searchFilter]="searchTerms" (rowCount)="updateGroupRowCount($event)"
                    (selectedID)="toggleGroupLayers($event)" (rowEditID)="open(editModal, $event)"
                    (rowDeleteID)="open(deleteModal, $event)">
                </feat-table>
            </div>

            <!-- Associated Layers Data Table -->
            <div class="table-container" *ngIf="isGroupOpen">
                <feat-table [component]="'groups-layers'" [data]="layersData" [headers]="layerHeaders"
                    [page]="currentLayerPage" (rowDeleteID)="unlinkLayer($event)">
                </feat-table>
            </div>
        </div>

        <!-- Tables Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-between">
            <feat-pagination [rowCount]="groupRowCount" (page)="getGroupPage($event)"></feat-pagination>
            <feat-pagination *ngIf="isGroupOpen" [rowCount]="layerRowCount" (page)="getLayerPage($event)">
            </feat-pagination>
        </div>
    </div>
</div>

<!-- Create New Group Modal -->
<ng-template #createModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Grupo</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-group-form" [formGroup]="newGroupForm">
            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="new-group-input" #newName required formControlName="name"
                    (ngModelChange)="updateNewGroupName(newName.value)">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createNewGroup()"
            [disabled]="!newGroupForm.valid">Adicionar Grupo
        </button>
    </div>
</ng-template>

<!-- Edit Group Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Grupo</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="new-group-form" [formGroup]="editGroupForm">
            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="new-group-input" #editName required formControlName="name"
                    (ngModelChange)="updateEditGroupName(editName.value)">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateGroup()" [disabled]="!editGroupForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Delete Group Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Grupo</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar este grupo?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga o grupo permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteGroup()">Apagar Grupo
        </button>
    </div>
</ng-template>

<!-- Associate Layers Modal -->
<ng-template #layerModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Associar Camadas</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <div class="layer-search d-flex align-items-center justify-content-around">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <input type="search" [ngModel]="layerSearch" (ngModelChange)="searchLayers($event)" name="search">
        </div>
        <form class="layers-form">
            <label class="check-container" *ngFor="let layer of filteredMissingLayers">
                <p class="layers">{{layer.designation}}</p>
                <input type="checkbox" (click)="selectLayer(layer)" [checked]="layer.selected">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="associateLayers()">Associar Camadas
        </button>
    </div>
</ng-template>