.layers-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
}

.map-container {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    width: 40%;
}

.legend-container {
    position: absolute;
    top: 0;
    left: 70%;
    bottom: 0;
    width: 30%;
    height:100%;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}

i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }