<div class="layers-container d-flex flex-column">
    <!-- Layers Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Camadas Geoespaciais FireLoc</h1>
            <h3>Todas as camadas geoespaciais presentes no Geoportal FireLoc</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Categorias...'" (search)="searchLayers($event)"></feat-search>
        </nav>
    </header>

    <!-- Layers Content -->
    <div class="content-container d-flex flex-column">
        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-end">
            <!-- Add Category -->
            <button class="add d-flex align-items-center justify-content-center"
                (click)="openCreateModal(createCategoryModal)">
                <p>Adicionar Categoria</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>
            <!-- Add Layer -->
            <button class="add d-flex align-items-center justify-content-center"
                (click)="openCreateModal(createLayerModal)">
                <p>Adicionar Camada</p>
                <fa-icon [icon]="plusIcon" size="xs"></fa-icon>
            </button>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isLayerOpen ? 'layer-open' : ''">
                <table>
                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <!-- Header space for icon -->
                            <th></th>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Workspace</th>
                            <th>Store</th>
                            <th>Servidor</th>
                            <th>Style</th>
                            <!-- Header space for actions -->
                            <th></th>
                        </tr>
                    </thead>

                    <!-- Table Body -->
                    <tbody>
                        <ng-container *ngFor="let layer of filteredLayers">
                            <tr [ngClass]="{'can-open': true, 'is-open': layer.isOpen}"
                                (click)="toggleCategory(layer.id, $event)">
                                <!-- Expand/Colappse Icon -->
                                <td>
                                    <fa-icon *ngIf="layer.isOpen" [icon]="upIcon" size="sm" class="input-symbol">
                                    </fa-icon>
                                    <fa-icon *ngIf="!layer.isOpen" [icon]="dropIcon" size="sm" class="input-symbol">
                                    </fa-icon>
                                </td>

                                <td>{{layer.id}}</td>
                                <td colspan="5">{{layer.designation}}</td>
                                <td class="not-clickable">
                                    <fa-icon [icon]="editIcon" id="editIcon"
                                        (click)="openEditModal(layer, editCategoryModal)"></fa-icon>
                                    <fa-icon [icon]="deleteIcon" id="deleteIcon"
                                        (click)="openDeleteModal(layer, deleteModal)">
                                    </fa-icon>
                                </td>
                            </tr>

                            <!-- Start Template with First Level Children -->
                            <ng-container
                                *ngTemplateOutlet="recursiveList; context:{ list: layer.child, parent: layer }">
                            </ng-container>
                        </ng-container>

                        <!-- Layer Children Recursive Template -->
                        <ng-template #recursiveList let-list="list" let-parent="parent">

                            <!-- For each child in children list -->
                            <ng-container *ngFor="let item of list">

                                <!-- 'active': item.isOpen && item.child === null, -->
                                <tr [ngClass]="{'can-open': item.child !== null, 'child': item.child === null, 'is-open': item.isOpen}"
                                    (click)="toggleCategory(item.id, $event)">

                                    <!-- If the parent is open, display children -->
                                    <ng-container class="d-flex flex-column" *ngIf="parent.isOpen">
                                        <!-- Expand/Colappse Icon -->
                                        <td *ngIf="item.canOpen">
                                            <fa-icon *ngIf="item.isOpen" [icon]="upIcon" size="sm" class="input-symbol">
                                            </fa-icon>
                                            <fa-icon *ngIf="!item.isOpen" [icon]="dropIcon" size="sm"
                                                class="input-symbol">
                                            </fa-icon>
                                        </td>

                                        <!-- Icon Spacer -->
                                        <td *ngIf="!item.canOpen"></td>

                                        <!-- If there are no more subcategories, display layer info -->
                                        <ng-container *ngIf="!item.canOpen">
                                            <td>{{item.id}}</td>
                                            <td>{{item.designation}}</td>
                                            <td>{{item.workspace}}</td>
                                            <td>{{item.store}}</td>
                                            <td>{{item.serverLayer}}</td>
                                            <td>{{item.style}}</td>
                                            
                                            <td class="not-clickable">
                                                <fa-icon [icon]="editIcon" id="editIcon"
                                                    (click)="openEditModal(item, editLayerModal)">
                                                </fa-icon>
                                                <fa-icon [icon]="deleteIcon" id="deleteIcon"
                                                    (click)="openDeleteModal(item, deleteModal)">
                                                </fa-icon>
                                            </td>
                                        </ng-container>

                                        <!-- If there are more subcategories, display layer name -->
                                        <ng-container *ngIf="item.canOpen">
                                            <td>{{item.id}}</td>
                                            <td colspan="5">{{item.designation}}</td>

                                            <td class="not-clickable">
                                                <fa-icon [icon]="editIcon" id="editIcon"
                                                    (click)="openEditModal(item, editCategoryModal)">
                                                </fa-icon>
                                                <fa-icon [icon]="deleteIcon" id="deleteIcon"
                                                    (click)="openDeleteModal(item, deleteModal)">
                                                </fa-icon>
                                            </td>
                                        </ng-container>

                                    </ng-container>
                                </tr>

                                <!-- If there are more children, re-display the template -->
                                <ng-container *ngIf="item.child !== null">
                                    <ng-container
                                        *ngTemplateOutlet="recursiveList; context:{list: item.child, parent: item}"
                                        class="d-flex">
                                    </ng-container>
                                </ng-container>

                            </ng-container>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Create Category Modal -->
<ng-template #createCategoryModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Categoria</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body category">
        <form class="new-category-form" [formGroup]="newCategoryForm">
            <!-- Optional Parent Category -->
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <label class="check-container">
                        <p>Sub Categoria?</p>
                        <input type="checkbox" #hasParentInput formControlName="hasParent"
                            (ngModelChange)="updateNewCategoryField(hasParentInput.checked, 'hasParent')">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <!-- Parent Category -->
                <div class="new-parent-category d-flex flex-column align-items-start justify-items-center"
                    *ngIf="newCategory.hasParent">
                    <p>Categoria</p>
                    <div ngbDropdown class="d-inline-block">
                        <button class="new-layer-button d-flex align-items-center justify-content-between"
                            ngbDropdownToggle>
                            <p> {{ newCategory.parent.designation }}</p>
                        </button>
                        <div ngbDropdownMenu class="new-layer-dropdown dropdown-menu dropdown-menu-lg-end">
                            <button *ngFor="let category of categories" ngbDropdownItem [value]="category"
                                (click)="updateNewCategoryField(category, 'parent')">
                                {{ category.designation }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Category -->
            <div class="category-section">
                <h2>Nova Categoria</h2>
                <!-- Name -->
                <div>
                    <p>Nome</p>
                    <input type="text" class="edit-layer-input" #newCategoryName required
                        formControlName="catDesignation" [value]="newCategory.catDesignation"
                        (ngModelChange)="updateNewCategoryField(newCategoryName.value, 'catDesignation')">
                </div>
                <!-- Slug -->
                <div>
                    <p>Slug</p>
                    <input type="text" class="edit-layer-input" #newCategorySlug required
                        formControlName="catSlug" [value]="newCategory.catSlug"
                        (ngModelChange)="updateNewCategoryField(newCategorySlug.value, 'catSlug')">
                </div>
            </div>

            <!-- Child Layer -->
            <div class="layer-section">
                <h2>Nova Camada</h2>
                <!-- Name -->
                <div>
                    <p>Nome</p>
                    <input type="text" class="edit-layer-input" #newLayerName required
                        formControlName="layerDesignation" [value]="newCategory.layerDesignation"
                        (ngModelChange)="updateNewCategoryField(newLayerName.value, 'layerDesignation')">
                </div>
                <!-- Slug -->
                <div>
                    <p>Slug</p>
                    <input type="text" class="edit-layer-input" #newLayerSlug required formControlName="layerSlug"
                        [value]="newCategory.layerSlug"
                        (ngModelChange)="updateNewCategoryField(newLayerSlug.value, 'layerSlug')">
                </div>

                <!-- Workspace -->
                <div>
                    <p>Workspace</p>
                    <input type="text" class="edit-layer-input" #newLayerWorkspace required
                        formControlName="layerWorkspace" [value]="newCategory.layerWorkspace"
                        (ngModelChange)="updateNewCategoryField(newLayerWorkspace.value, 'layerWorkspace')">
                </div>
                <!-- Store -->
                <div>
                    <p>Store</p>
                    <input type="text" class="edit-layer-input" #newLayerStore required formControlName="layerStore"
                        [value]="newCategory.layerStore"
                        (ngModelChange)="updateNewCategoryField(newLayerStore.value, 'layerStore')">
                </div>
                <!-- Server Layer -->
                <div>
                    <p>Camada Servidor</p>
                    <input type="text" class="edit-layer-input" #newLayerServerLayer required
                        formControlName="layerServerLayer" [value]="newCategory.layerServerLayer"
                        (ngModelChange)="updateNewCategoryField(newLayerServerLayer.value, 'layerServerLayer')">
                </div>
                <!-- Style -->
                <div>
                    <p>Style</p>
                    <input type="text" class="edit-layer-input" #newLayerStyle required formControlName="layerStyle"
                        [value]="newCategory.layerStyle"
                        (ngModelChange)="updateNewCategoryField(newLayerStyle.value, 'layerStyle')">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createCategory()"
            [disabled]="!newCategoryForm.valid">Adicionar
            Categoria
        </button>
    </div>
</ng-template>

<!-- Create Layer Modal -->
<ng-template #createLayerModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Camada Geoespacial</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="edit-layer-form d-flex flex-column align-items-start justify-content-start"
            [formGroup]="newLayerForm">
            <!-- Category -->
            <div class="new-layer-category d-flex flex-column align-items-start justify-items-center">
                <p>Categoria</p>
                <div ngbDropdown class="d-inline-block">
                    <button class="new-layer-button d-flex align-items-center justify-content-between"
                        ngbDropdownToggle>
                        <p> {{ newLayer.category.designation }}</p>
                    </button>
                    <div ngbDropdownMenu class="new-layer-dropdown dropdown-menu dropdown-menu-lg-end">
                        <button *ngFor="let category of categories" ngbDropdownItem [value]="category"
                            (click)="updateNewLayerField(category, 'category')">
                            {{ category.designation }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="edit-layer-input" #newName required formControlName="designation"
                    [value]="newLayer.designation" (ngModelChange)="updateNewLayerField(newName.value, 'designation')">
            </div>

            <div class="d-flex">
                <!-- Slug -->
                <div>
                    <p>Slug</p>
                    <input type="text" class="edit-layer-input small-width" #newSlug required formControlName="slug"
                        [value]="newLayer.slug" (ngModelChange)="updateNewLayerField(newSlug.value, 'slug')">
                </div>
                <!-- Workspace -->
                <div>
                    <p>Workspace</p>
                    <input type="text" class="edit-layer-input" #newWorkspace required formControlName="workspace"
                        [value]="newLayer.workspace"
                        (ngModelChange)="updateNewLayerField(newWorkspace.value, 'workspace')">
                </div>
            </div>

            <!-- Server Layer -->
            <div>
                <p>Camada Servidor</p>
                <input type="text" class="edit-layer-input" #newServerLayer required formControlName="serverLayer"
                    [value]="newLayer.serverLayer"
                    (ngModelChange)="updateNewLayerField(newServerLayer.value, 'serverLayer')">
            </div>

            <div class="d-flex">
                <!-- Store -->
                <div>
                    <p>Store</p>
                    <input type="text" class="edit-layer-input small-width" #newStore required formControlName="store"
                        [value]="newLayer.store" (ngModelChange)="updateNewLayerField(newStore.value, 'store')">
                </div>

                <!-- Style -->
                <div>
                    <p>Style</p>
                    <input type="text" class="edit-layer-input" #newStyle required formControlName="style"
                        [value]="newLayer.style" (ngModelChange)="updateNewLayerField(newStyle.value, 'style')">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createLayer()" [disabled]="!newLayerForm.valid">Adicionar
            Camada
        </button>
    </div>
</ng-template>

<!-- Edit Category Modal -->
<ng-template #editCategoryModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Categoria</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="edit-layer-form d-flex flex-column align-items-start justify-content-start"
            [formGroup]="editCategoryForm">
            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="edit-layer-input" #editCatName required formControlName="designation"
                    [value]="openLayer.designation" (ngModelChange)="updateEditLayerField(editCatName.value, 'designation')">
            </div>
            <!-- Slug -->
            <div>
                <p>Slug</p>
                <input type="text" class="edit-layer-input" #editCatSlug required formControlName="slug"
                    [value]="openLayer.slug" (ngModelChange)="updateEditLayerField(editCatSlug.value, 'slug')">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateCategory()"
            [disabled]="!editCategoryForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Edit Layer Modal -->
<ng-template #editLayerModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Camada Geoespacial</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="edit-layer-form d-flex flex-column align-items-start justify-content-start"
            [formGroup]="editLayerForm">
            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="edit-layer-input" #editLayerName required formControlName="designation"
                    [value]="openLayer.designation" (ngModelChange)="updateEditLayerField(editLayerName.value, 'designation')">
            </div>
            <!-- Slug -->
            <div>
                <p>Slug</p>
                <input type="text" class="edit-layer-input" #editLayerSlug required formControlName="slug"
                    [value]="openLayer.slug" (ngModelChange)="updateEditLayerField(editLayerSlug.value, 'slug')">
            </div>
            <!-- Workspace -->
            <div>
                <p>Workspace</p>
                <input type="text" class="edit-layer-input" #editWorkspace required formControlName="workspace"
                    [value]="openLayer.workspace"
                    (ngModelChange)="updateEditLayerField(editWorkspace.value, 'workspace')">
            </div>
            <!-- Store -->
            <div>
                <p>Store</p>
                <input type="text" class="edit-layer-input" #editStore required formControlName="store"
                    [value]="openLayer.store" (ngModelChange)="updateEditLayerField(editStore.value, 'store')">
            </div>
            <!-- Server Layer -->
            <div>
                <p>Camada Servidor</p>
                <input type="text" class="edit-layer-input" #editServerLayer required formControlName="serverLayer"
                    [value]="openLayer.serverLayer"
                    (ngModelChange)="updateEditLayerField(editServerLayer.value, 'serverLayer')">
            </div>
            <!-- Style -->
            <div>
                <p>Style</p>
                <input type="text" class="edit-layer-input" #editStyle required formControlName="style"
                    [value]="openLayer.style" (ngModelChange)="updateEditLayerField(editStyle.value, 'style')">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateLayer()" [disabled]="!editLayerForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Delete Category/Layer Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="openLayer.child">Apagar Categoria</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="openLayer.child === null">Apagar Camada</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro" *ngIf="openLayer.child">
                Tem a certeza que deseja apagar esta categoria?
                <br />
                <b>Sub categorias e sub camadas serão também removidas.</b>
            </p>
            <p class="conf-intro" *ngIf="openLayer.child === null">Tem a certeza que deseja apagar esta camada?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga a informação permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="removeLayer()" *ngIf="openLayer.child">
            Apagar Categoria</button>
        <button type="button" class="btn btn-danger" (click)="removeLayer()" *ngIf="openLayer.child === null">
            Apagar Camada</button>
    </div>
</ng-template>