<p>Option 1</p>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Profile</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listUsers$ | async">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.profile }}</td>
        </tr>
    </tbody>
</table>

<p>Option 2</p>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Profile</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listUsers">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.profile }}</td>
        </tr>
    </tbody>
</table>

<p>Option 3</p>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Profile</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listUsers3">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.profile }}</td>
        </tr>
    </tbody>
</table>

<p>Option 4</p>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Profile</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listUsers4">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.profile }}</td>
        </tr>
    </tbody>
</table>

<p>Option 5</p>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Profile</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listUsers5$ | async">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.profile }}</td>
        </tr>
    </tbody>
</table>