<div id="sidebar-header">
	<h3>Mapping Social Network Data</h3>
</div>
<div class="sidebar-div">
	<h4>Search point data in social networks according your interests:</h4>
</div>

<div class="sidebar-div">
	<h4>1. Specify one or more keywords (Optional): 
		<a href="">
			<i class="fa fa-question-circle" 
				aria-hidden="true"
				style="color:#2C709F; margin-left:5%;">
			</i>
        </a>
    </h4>
    <input type="text" ng-model="vm.keyword" placeholder="Type Keyword"
    	class="form-control text-input">
</div>

<div class="sidebar-div">
	<h4>2. Select one or more data sources:
		<a href="">
			<i class="fa fa-question-circle"
				aria-hidden="true"
				style="color:#2C709F; margin-left:5%;">
			</i>
		</a>
	</h4>
	
	<div ng-repeat="d in vm.dataSources"
		class="check-container">
		<label>
			{{ d.label }}
			<input type="checkbox"
				ng-change="vm.selectingDataSources(d)"
				ng-model="d.select">
			<span class="checkmark"></span>
		</label>
	</div>
</div>

<div class="sidebar-div">
	<h4>3. Define a search radius: 
		<a href="">
			<i class="fa fa-question-circle"
				aria-hidden="true"
				style="color:#2C709F; margin-left:5%;">
			</i>
		</a>
	</h4>
	
	<span class="input-group-btn">
		<button type="button"
			ng-click="vm.activeDrawCircle()"
			class="searchButtons"
			title="Select Search Area">Select Search Area
		</button>
	</span>
</div>

<br>

<div class="sidebar-div">
	<button ng-if="vm.drawout==='default'"
		class="searchButtons"
		ng-click="vm.pleaseDraw()"
		title="Search data"
		type="button">Search
	</button>
	<button ng-if="vm.drawout!=='default' && vm.datasrc===''"
		class="searchButtons"
		ng-click="vm.pleaseSelectDataSource()"
		title="Search data"
		type="button">Search
	</button>
	<button ng-if="vm.drawout!=='default' && vm.datasrc!==''"
		type="button" class="searchButtons"
		ng-click="vm.submitForm()"
		title="Search for data">Search
	</button>
	<button type="button" onclick="reload()"
		title="Refresh form..."
		ng-click="mapVm.delDrawed()"
		class="searchButtons">Reset
	</button>
</div>