<ul class="word-tree">
    <li ng-repeat="event in vm.wordTree">
        <span ng-if="event.toogle"
            class="collapse-icon glyphicon glyphicon-minus"
            ng-click="vm.toogleNode(event)">
        </span>
        <span ng-if="!event.toogle"
            class="collapse-icon glyphicon glyphicon-plus"
            ng-click="vm.toogleNode(event)">
        </span>
        <input type="checkbox"
            ng-change="vm.checkWords(event)"
            ng-model="event.all_check">
        {{ event.event }}
        <ul ng-if="event.toogle">
            <li ng-repeat="word in event.words">
                <input type="checkbox"
                    ng-model="word.check">
                {{ word.word }}
            </li>
        </ul>
    </li>
</ul>