<div class="dash-container d-flex flex-column">
    <!-- Dashboard Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>{{timeGreeting}}, {{userName}}</h1>
            <h3>Veja aqui as estatísticas do sistema FireLoc</h3>
        </div>

        <!-- Header Nav  -->
        <nav class="header-nav d-flex align-items-center justify-content-around">
            <a [routerLink]="'/geoportal'">Geoportal</a>
            <a (click)="logout()">Logout</a>
        </nav>
    </header>

    <!-- Dashboard Content -->
    <div class="content-container">

        <!-- Graphs -->
        <div class="element contribs-graph contribs d-flex flex-column align-items-start justify-content-between">
            <h5>Contribuições</h5>
            <div class="chart-container">
                <canvas baseChart [datasets]="contribsChartData" [labels]="contribsChartLabels"
                    [options]="contribsChartOptions" [colors]="contribsChartColors" [legend]="chartLegend"
                    [chartType]="chartType" [plugins]="chartPlugins">
                </canvas>
            </div>
        </div>

        <div class="element fires-graph fires d-flex flex-column align-items-start justify-content-between">
            <h5>Fogos</h5>
            <div class="chart-container">
                <canvas baseChart [datasets]="fireChartData" [labels]="fireChartLabels" [options]="fireChartOptions"
                    [colors]="fireChartColors" [legend]="chartLegend" [chartType]="chartType" [plugins]="chartPlugins">
                </canvas>
            </div>
        </div>

        <!-- Statistics -->
        <div class="element users d-flex align-items-center justify-content-between">
            <div>
                <h5>Utilizadores</h5>
                <h1>{{totalUsers}}</h1>
            </div>
            <fa-icon [icon]="userIcon" size="4x"></fa-icon>
        </div>
        <div class="element contribs d-flex align-items-center justify-content-between">
            <div>
                <h5>Contribuições</h5>
                <!-- TODO CHANGE TO REAL VALUES FROM API -->
                <h1>80K</h1>
            </div>
            <fa-icon [icon]="contribIcon" size="4x"></fa-icon>
        </div>

        <!-- Map -->
        <div class="element map">
            <app-leafmap [map-settings]="mapsettings" (map)="receiveMap($event)">
            </app-leafmap>
        </div>

        <!-- Statistics -->
        <div class="element fires d-flex align-items-center justify-content-between">
            <div>
                <h5>Fogos</h5>
                <!-- TODO CHANGE TO REAL VALUES FROM API -->
                <h1>50K</h1>
            </div>
            <fa-icon [icon]="fireIcon" size="4x"></fa-icon>
        </div>
        <div class="element groups d-flex align-items-center justify-content-between">
            <div>
                <h5>Grupos</h5>
                <h1>{{totalGroups}}</h1>
            </div>
            <fa-icon [icon]="groupIcon" size="4x"></fa-icon>
        </div>

    </div>

    <!-- Dashboard Footer -->
    <footer class="footer-container d-flex align-items-center justify-content-end">
        <img src="https://fireloc.org/wp-content/uploads/2019/12/CISUC-logo.png">
        <img src="https://fireloc.org/wp-content/uploads/2019/12/UC-logo.png">
        <img src="https://fireloc.org/wp-content/uploads/2019/12/nesc-logo.png">
        <img src="https://fireloc.org/wp-content/uploads/2019/12/FCT-logo-320x159.png">
        <img src="https://fireloc.org/wp-content/uploads/2020/03/republica_portuguesa_300.png">
    </footer>
</div>