<div class="modal-body">
    <!-- Title -->
    <div>
        <h1 class="modal-title">{{ 'ACCOUNT.RecoverPassword' | translate }}</h1>
    </div>
    
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <!-- Email Input -->
        <app-form-input 
            [icon]="emailIcon" 
            [inputType]="'email'" 
            [inputPlaceholder]="'Email'"
            [required]="true"
            formControlName="email"
            [inputFormControl]="resetForm.get('email')"
        ></app-form-input>

        <!-- Submit button -->
        <div class="button-submit">
            <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">
                {{ 'ACCOUNT.Send' | translate }}
            </button>
        </div>
    </form>
</div>
