<!DOCTYPE html>
<html lang="en">
<!-- Base HTML for VGI App Views -->
{% load static %}
{% load vgi_tags %}
{% debug as debug %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{% static 'vgijs/img/logos/icon_tab.png' %}">

	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
	{% if service.about == 'service' %}
	<!-- Include Leaflet CSS Core -->
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet/dist/leaflet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw-src.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}" />
	<link rel='stylesheet' type="text/css" href="{% static 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css' %}" />
    <link rel='stylesheet' type="text/css" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}" />
    <link rel='stylesheet' type="text/css" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}" />
    {% endif %}
    <!-- Home made Styles -->
	<style> .ng-cloak { display: none !important; } </style>
	{% if debug %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-body.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-home.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-nav.css' %}" />
	{% if service.name != 'geotimeline' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/login.css' %}" />
	{% endif %}
	{% if service.about == 'meta-publications' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-publications.css' %}" />
	{% elif service.about == 'meta-credits' %}
	<link rel="stylesheet" type="text/css" href=" {% static 'vgijs/css/vgi-credits.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-sidebar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-maps.css' %}" />
	{% elif service.about == 'meta-help' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-help.css' %}" />
	{% elif service.about == 'service' and service.name != 'geotimeline' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-sidebar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-maps.css' %}" />
	{% elif service.about == 'service' and service.name == 'geotimeline' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/geotimeline.css' %}" />
	{% elif service.about == 'vgi-login' or service.about == 'vgi-error' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-sidebar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/css/vgi-maps.css' %}" />
	{% endif %}
	{% else %}
	{% if service.name == 'home-page' and service.about == 'home' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgihome.min.css' %}" />
	{% elif service.name == 'mapsearch' and service.about == 'service' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgisearch.min.css' %}" />
	{% elif service.name == 'osmtolulc' and service.about == 'service' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/osmtolulc.min.css' %}" />
	{% elif service.about == 'meta-publications' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgipublications.min.css' %}" />
	{% elif service.about == 'meta-credits' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgicredits.min.css' %}" />
	{% elif service.about == 'meta-help' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgihelp.min.css' %}" />
	{% elif service.name == 'login' and service.about == 'vgi-login' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgilogin.min.css' %}" />
	{% elif service.about == 'vgi-error' %}
	<link rel="stylesheet" type="text/css" href="{% static 'vgijs/vgierror.min.css' %}" />
	{% endif %}
	{% endif %}
</head>
<body ng-app="vgijs">
	<!-- Header -->
	{% include "header.html" %}
	
	<!-- body -->
	{% block body_contents %}{% endblock %}
</body>
<!-- Placed at the end of the document so the pages load faster -->
<!-- Import jQuery -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- Charge Angular into it-->
<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 're-tree/re-tree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-device-detector/ng-device-detector.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ua-device-detector/ua-device-detector.min.js' %}"></script>
<!-- Leaflet Magic -->
{% if service.about == 'service' %}
<script type="text/javascript" src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw-src.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script type="text/javascript" src="{% static 'esri-leaflet/dist/esri-leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.markercluster/dist/leaflet.markercluster-src.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>-->
<script src="https://d3js.org/d3.v4.js"></script>
{% endif %}
<!-- VGIJS Angular App-->
{% if debug %}
<script type="text/javascript" src="{% static 'vgijs/vgijs.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/constants/constants.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/services.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/controllers/controllers.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/directives.module.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/charts/charts.module.js' %}"></script>
{% if service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/constants/leaflet.constants.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/constants/expapi.constants.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.layers.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/api/api.geosrv.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leaflet.controls.service.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leaflet.layers.service.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leaflet.thematiclyr.service.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/services/leafletdraw.service.js' %}"></script>
{% endif %}
{% if service.name == 'mapsearch' and service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/controllers/dsnmapquery.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/map.dsn.directive.js' %}"></script>
{% elif service.name == 'osmtolulc' and service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/controllers/osmtolulc.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/osmlulc.form.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/maplegends.directive.js' %}"></script>
{% elif service.name == 'geotimeline' and service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/api/api.geotmlnh.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/charts/geotmlnh.charts.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/geotimeline.directive.js' %}"></script>
{% elif service.app == 'vgi' and service.about == 'meta-publications' %}
<script type="text/javascript" src="{% static 'vgijs/controllers/pub.controller.js' %}"></script>
{% elif service.app == 'vgi' and service.about == 'meta-credits' %}
<script type="text/javascript" src="{% static 'vgijs/controllers/credits.controller.js' %}"></script>
{% elif service.app == 'vgi' and service.about == 'meta-help' %}
<script type="text/javascript" src="{% static 'vgijs/controllers/help.controller.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'vgijs/controllers/home.controller.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'vgijs/controllers/header.controller.js' %}"></script>
{% if service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/directives/leaflet.osm.search.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/leafletMain.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'vgijs/directives/render.html.directive.js' %}"></script>
{% endif %}
{% else %}
{% if service.name == 'home-page' and service.about == 'home' %}
<script type="text/javascript" src="{% static 'vgijs/vgihome.min.js' %}"></script>
{% elif service.name == 'mapsearch' and service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/vgisearch.min.js' %}"></script>
{% elif service.name == 'osmtolulc' and service.about == 'service' %}
<script type="text/javascript" src="{% static 'vgijs/osmtolulc.min.js' %}"></script>
{% elif service.about == 'meta-publications' %}
<script type="text/javascript" src="{% static 'vgijs/vgipublications.min.js' %}"></script>
{% elif service.about == 'meta-credits' %}
<script type="text/javascript" src="{% static 'vgijs/vgicredits.min.js' %}"></script>
{% elif service.about == 'meta-help' %}
<script type="text/javascript" src="{% static 'vgijs/vgihelp.min.js' %}"></script>
{% elif service.name == 'login' and service.about == 'vgi-login' %}
<script type="text/javascript" src="{% static 'vgijs/vgilogin.min.js' %}"></script>
{% elif service.about == 'vgi-error' %}
<script type="text/javascript" src="{% static 'vgijs/vgierror.min.js' %}"></script>
{% endif %}
{% endif %}
{% block scripting %}{% endblock %}
</html>