/*_________________ Path  _________________*/
#path {
    position: fixed;
    top: 65px;
    width: 100%;
    text-align: left;
    background-color: white;
    height: 35px;
    padding: 0;
}

#path p {
    vertical-align: middle;
    margin: auto 4.2%;
}

#path a {
    color: black;
    cursor: pointer;
}

#path a:hover{
    color: #F8E71C;
    text-decoration: underline;
}


/*_________________ Nav2  _________________*/

#nav2{
    background-color: #80AECD;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: calc(65px + 35px);
    height: 55px;
    padding:0% 5%;
    padding-right: 10%;
    box-sizing: border-box;
}

#nav2 h3{
    font-size: 18px;
    margin: auto 0;
}

#nav2 a, #nav2 h1{
    font-size: 18px;
}

#nav2 a:hover, #nav2 h1:hover{
    color: black;
    text-decoration: underline;
}

/*
#nav2 i{
    position: fixed;
    top: 117px;
    font-size: 24px;
    left: 73.5%;
}
*/

#nav2 #navArrowHelp{
    left: 90.5%;
}

#nav2 div {
    position: fixed;
    width: 10%;
    text-align: left;
    top: calc(65px + 35px + 55px);
    color: white;
    background-color: #80AECD;
    padding: 0.5%;
}

#nav2 div h3 {
    margin: 5%;
    padding: 4%;
    font-size: 14px;
}

#nav2 div a:hover {
    color: #F8E71C;
    text-decoration: underline;
}