<!-- Layers container -->
<ul class="d-flex flex-column main-list" *ngFor="let level1 of categories">
    <li class="d-flex flex-column">
        <!-- First Level of Layers -->
        <div class="d-flex flex-row separator" [class.open-category]="level1.isOpen">
            <!-- Layer Category -->
            <fa-icon *ngIf="level1.isOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                (click)="toggleCategory(level1)">
            </fa-icon>
            <fa-icon *ngIf="!level1.isOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                (click)="toggleCategory(level1)">
            </fa-icon>
            <span>{{level1.title}}</span>
        </div>

        <!-- Layer Children Recursive Template -->
        <ng-template #recursiveList let-list="list" let-parent="parent">
            <!-- For each child in children list -->
            <ul *ngFor="let item of list">
                <!-- If the parent is open, display children -->
                <li class="d-flex flex-column" *ngIf="parent.isOpen">
                    <div class="d-flex flex-row separator" [class.open-category]="item.isOpen && item.canOpen">
                        <!-- if this category has subcategories, option to open/close -->
                        <div *ngIf="item.canOpen">
                            <fa-icon *ngIf="item.isOpen" [icon]="minusIcon" size="sm" class="input-symbol"
                                (click)="toggleCategory(item)">
                            </fa-icon>
                            <fa-icon *ngIf="!item.isOpen" [icon]="plusIcon" size="sm" class="input-symbol"
                                (click)="toggleCategory(item)">
                            </fa-icon>
                        </div>

                        <!-- If there are no more subcategories, option to chose this one as a layer -->
                        <div *ngIf="!item.canOpen">
                            <input type="checkbox" class="checkbox-round" (change)="onChangeLayers($event, item)">
                        </div>

                        <!-- Child title display -->
                        <span>{{item.title}}</span>
                    </div>

                    <!-- If there are more children, re-display the template -->
                    <div *ngIf="item.child !== null">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{list: item.child, parent: item}"
                            class="d-flex">
                        </ng-container>
                    </div>
                </li>
            </ul>
        </ng-template>

        <!-- Start Template with First Level Children -->
        <ng-container *ngTemplateOutlet="recursiveList; context:{ list: level1.child, parent: level1 }"></ng-container>

    </li>
</ul>