.main-list {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
}

.separator {
    padding: 5px;
    border-bottom: 2px solid #fff;
    margin-top: 5px;
}

.open-category {
    background-color: white;
}

.input-symbol {
    margin-right: 10px;
    margin-left: 5px;
}

.input-symbol:hover {
    cursor: pointer;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-round:checked {
    background-color: gray;
    box-shadow: inset 0px 0px 0px 4px #ffffff;
}