<div id="left-box">
	<!-- Form with more information about Statistic Units Layer -->
	<h1>Adicionar nova Layer:</h1>
	<p>A tabela "{{ vm.datasets.filename }}" foi enviada para o servidor</p>
	
	<form id="add-data-layer" method="POST" class="add-data-form ng-cloak"
		enctype="multipart/form-data" action="/pt/atlas/cases/addstat-unit/">
	
		<h3>Coluna que identifica a Unidade estatística (código dicofre):</h3>
		<select name="col-fid" form="add-data-layer" required>
			<option disabled selected value> -- select an option -- </option>
			<option ng-repeat="col in vm.cols" value="{{ col.name_col }}">
				{{ col.name_col }}
			</option>
		</select>
		
		<select ng-if="vm.scaledif==='true'" name='col-fid-ctx'
			form="add-data-layer" required>
			<option disabled selected value> -- select an option -- </option>
			<option ng-repeat="col in vm.cols_ctx" value="{{ col.name_col }}">
				{{ col.name_col }}
		</select>
	
		<h3>Indicadores que constam na tabela:</h3>
		
		<p>
			Coluna: <select name="col-data-1" form="add-data-layer" required>
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="col in vm.cols" value="{{ col.name_col }}">
					{{ col.name_col }}
				</option>
			</select>
			&nbsp;Nome indicador: <select name="col-text-1" form="add-data-layer" required>
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="i in vm.indicators" value="{{ i.fid }}">
					{{ i.name }}
				</option>
			</select>
			&nbsp;
			Ano: <select name="data-year-1" form="add-data-layer" required>
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="year in vm.years" value="{{ year.fid }}">
					{{ year.year }}
				</option>
			</select>
			&nbsp;
			Coluna dados contexto:
			<select  ng-if="vm.scaledif==='true'"
				name="col-ctx-data-1"
				form="add-data-layer" required>
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="col in vm.cols_ctx" value="{{ col.name_col }}">
					{{ col.name_col }}
				</option>
			</select>
		</p>
	
		<p ng-repeat="col in vm.cols" ng-if="$index > 1">
			Coluna: <select name="col-data-{{ $index }}" form="add-data-layer">
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="coli in vm.cols" value="{{ coli.name_col }}">
					{{ coli.name_col }}
				</option>
			</select>
			&nbsp;Nome indicador: <select name="col-text-{{ $index }}" form="add-data-layer">
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="i in vm.indicators" value="{{ i.fid }}">
					{{ i.name }}
				</option>
			</select>
			&nbsp;
			Ano: <select name="data-year-{{ $index }}" form="add-data-layer">
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="year in vm.years" value="{{ year.fid }}">
					{{ year.year }}
				</option>
			</select>
			&nbsp;
			<span ng-if="vm.scaledif==='true'">Coluna dados contexto:</span>
			<select  ng-if="vm.scaledif==='true'"
				name="col-ctx-data-{{ $index }}"
				form="add-data-layer">
				<option disabled selected value> -- select an option -- </option>
				<option ng-repeat="col_ctx in vm.cols_ctx" value="{{ col_ctx.name_col }}">
					{{ col_ctx.name_col }}
				</option>
			</select>
		</p>
	
		<input type="text" name="fid-rqst" ng-model="vm.rqstfid"/>
		<input type="text" name="n_cols" ng-model="vm.cols.length" />
		<input type="text" name="file_name" ng-model="vm.datasets.filename" />
		<input type="text" name="scale-setup" ng-model="vm.scaledif" />
		<hr>
		<button id="submitform" type="submit">Submeter...</button>
	</form>
</div>