<div id="right-box" ng-cloak>
	<div id="MapControls" class="caixa-zoom" ng-animate>
		<a href="#">
			<img src="/static/jsidejs/img/maps/zoom-in.png" alt="Zoom In Icon" ng-click="vm.activateZoomIn()">
		</a>
	
		<a href="#">
			<img src="/static/jsidejs/img/maps/zoom-out.png" alt="Zoom Out Icon" ng-click="vm.activateZoomOut()">
		</a>
	
		<a href="#">
			<img src="/static/jsidejs/img/maps/zoom-fe.png" alt="Zoom Out Icon" ng-click="vm.zoomToFullExtent()">
		</a>
	</div>
</div>

<div id="bass-div" ng-if="!vm.show_map_input_a && !vm.show_map_input_b"></div>

<!-- Add new Study Case Form -->
<div id="left-box" ng-if="vm.addcases">
	<h1>Adicionar novo caso de estudo:</h1>
	<form id="add-study-case" method="POST" class="add-case-form ng-cloak"
		enctype="multipart/form-data" action="/api/cases/addcase/">
		<h3>Designação estudo de caso:</h3>
		<input type="text" name="case-name" required />
		
		<hr>
		
		<h3>Descrição estudo de caso:</h3>
		<input type="text" name="case-description" required />
		
		<hr>
		
		<h3>Extensão geográfica da área em estudo:</h3>
		<p>Escolha o modo de definição da área de interesse:</p>
		
		<select name="list-def-ext" form="add-study-case" ng-model="vm.how_to_a" required>
			<option disabled selected value> -- select an option -- </option>
			<option value="coord">Fornecer coordenadas</option>
			<option value="mapa">Usar mapa</option>
			<option value="upfile">Upload de ficheiro</option>
		</select>
		
		<hr>
		
		<div ng-if="vm.show_coord_input_a">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord" required>
				BOTTOM: <input type="number" step="any" name="bottom-coord" required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord" required>
				RIGHT: <input type="number" step="any" name="right-coord" required></p>
			</span>
		</div>
		
		<div ng-if="vm.show_map_input_a">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord"
					ng-model="vm.top_coord" readonly required>
				BOTTOM: <input type="number" step="any" name="bottom-coord"
					ng-model="vm.bottom_coord" readonly required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord"
					ng-model="vm.left_coord" readonly required>
				RIGHT: <input type="number" step="any" name="right-coord"
					ng-model="vm.right_coord" readonly required></p>
			</span>
		</div>
		
		<button type="button" ng-if="vm.show_map_input_a"
			ng-click="vm.enableDraw('a')">Desenhar</button>
		
		<input ng-if="vm.show_file_input_a" type="file" name="shp-a" multiple required/>
		
		<hr>
		
		<h3>Extensão geográfica de área de contexto:</h3>
		<p>Escolha o modo de definição da área de contexto:</p>
		
		<select name="list-def-ext-b" form="add-study-case" ng-model="vm.how_to_b" required>
			<option disabled selected value> -- select an option -- </option>
			<option value="coord">Fornecer coordenadas</option>
			<option value="mapa">Usar mapa</option>
			<option value="upfile">Upload de ficheiro</option>
		</select>
		
		<hr>
		
		<div ng-if="vm.show_coord_input_b">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord-b" required>
				BOTTOM: <input type="number" step="any" name="bottom-coord-b" required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord-b" required>
				RIGHT: <input type="number" step="any" name="right-coord-b" required></p>
			</span>
		</div>
		
		<div ng-if="vm.show_map_input_b">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord-b"
					ng-model="vm.top_coord_b" readonly required>
				BOTTOM: <input type="number" step="any" name="bottom-coord-b"
					ng-model="vm.bottom_coord_b" readonly required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord-b"
					ng-model="vm.left_coord_b" readonly required>
				RIGHT: <input type="number" step="any" name="right-coord-b"
					ng-model="vm.right_coord_b" readonly required></p>
			</span>
		</div>
		
		<button type="button" ng-if="vm.show_map_input_b"
			ng-click="vm.enableDraw('b')">Desenhar</button>
		
		<input ng-if="vm.show_file_input_b" type="file" name="shp-b" multiple required/>
		
		<hr>
		
		<h3>Grupo de unidades estatísticas</h3>
		<select name="list-stats" form="add-study-case" required>
			<option ng-repeat="grp in vm.StatsGrpOptions" value="{{ grp.fid }}">
				{{ grp.descricao }}
			</option>
		</select>
		
		<hr>
		
		<button id="submitform" type="submit">Submeter...</button>
	</form>
	
	<span>
		<button type="button" ng-click="vm.disableForm()">
			Listar estudos de caso
		</button>
	</span>
</div>

<!-- Edit a existing Study Case -->
<div id="left-box" ng-if="vm.editcase">
	<h1>Editar estudo de caso com o nome "{{ vm.editcase.slug }}":</h1>
	
	<form id="edit-study-case" method="POST" class="edit-case-form ng-cloak"
		enctype="multipart/form-data" action="/api/cases/editcase/">
		
		<div style="display:none">
			<input type="text" name="fid-case" ng-model="vm.editcase.fid" required />
		</div>
		<h3>Designação estudo de caso:</h3>
		<input type="text" name="case-name" ng-model="vm.newname" required />
		
		<hr>
		
		<h3>Descrição estudo de caso:</h3>
		<input type="text" name="case-description" ng-model="vm.newDesc" required />
		
		<hr>
		
		<h3>Extensão geográfica da área em estudo:</h3>
		<p>Escolha o modo de definição da sua área de estudo:</p>
		
		<select name="list-def-ext" form="edit-study-case" ng-model="vm.how_to_a">
			<option disabled selected value> -- select an option -- </option>
			<option value="coord">Fornecer coordenadas</option>
			<option value="mapa">Usar mapa</option>
			<option value="upfile">Upload de ficheiro</option>
		</select>
		
		<hr>
		
		<div ng-if="vm.show_coord_input_a">
			<span>
				<p>TOP: <input type="number" step="any" name="top-coord" required>
				BOTTOM: <input type="number" step="any" name="bottom-coord" required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord" required>
				RIGHT: <input type="number" step="any" name="right-coord" required></p>
			</span>
		</div>
		
		<div ng-if="vm.show_map_input_a">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord"
					ng-model="vm.top_coord" readonly required>
				BOTTOM: <input type="number" step="any" name="bottom-coord"
					ng-model="vm.bottom_coord" readonly required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord"
					ng-model="vm.left_coord" readonly required>
				RIGHT: <input type="number" step="any" name="right-coord"
					ng-model="vm.right_coord" readonly required></p>
			</span>
		</div>
		
		<button type="button" ng-if="vm.show_map_input_a"
			ng-click="vm.enableDraw('a')">Desenhar</button>
		
		<input ng-if="vm.show_file_input_a" type="file" name="shp-a" multiple required/>
		
		<hr>
		
		<h3>Extensão geográfica de área de contexto:</h3>
		<p>Escolha o modo de definição da área de contexto:</p>
		
		<select name="list-def-ext-b" form="edit-study-case" ng-model="vm.how_to_b">
			<option disabled selected value> -- select an option -- </option>
			<option value="coord">Fornecer coordenadas</option>
			<option value="mapa">Usar mapa</option>
			<option value="upfile">Upload de ficheiro</option>
		</select>
		
		<hr>
		
		<div ng-if="vm.show_coord_input_b">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord-b" required>
				BOTTOM: <input type="number" step="any" name="bottom-coord-b" required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord-b" required>
				RIGHT: <input type="number" step="any" name="right-coord-b" required></p>
			</span>
		</div>
		
		<div ng-if="vm.show_map_input_b">
			<span><p>
				TOP: <input type="number" step="any" name="top-coord-b"
					ng-model="vm.top_coord_b" readonly required>
				BOTTOM: <input type="number" step="any" name="bottom-coord-b"
					ng-model="vm.bottom_coord_b" readonly required></p>
				<p>LEFT: <input type="number" step="any" name="left-coord-b"
					ng-model="vm.left_coord_b" readonly required>
				RIGHT: <input type="number" step="any" name="right-coord-b"
					ng-model="vm.right_coord_b" readonly required></p>
			</span>
		</div>
		
		<button type="button" ng-if="vm.show_map_input_b"
			ng-click="vm.enableDraw('b')">Desenhar</button>
		
		<input ng-if="vm.show_file_input_b" type="file" name="shp-b" multiple required/>
		
		<hr>
		
		<h3>Grupo de unidades estatísticas</h3>
		<select name="list-stats" form="add-study-case">
			<option ng-repeat="grp in vm.StatsGrpOptions" value="{{ grp.fid }}">
				{{ grp.descricao }}
			</option>
		</select>
		
		<hr>
		
		<button id="submitform" type="submit">Submeter...</button>
	</form>
	
	<span>
		<button type="button" ng-click="vm.disableForm()">
			Listar estudos de caso
		</button>
	</span>
</div>
<div ng-transclude></div>