.tabs {
    width: 100%;
}

.tabs a {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.tab-1 {
    background-color: #F5A32A;
}

.tab-2 {
    background-color: #EE7B27;
}

.tab-3 {
    background-color: #E65029;
}

.tab-4 {
    background-color: #cc2f23;
}

.tab-1:hover,
.tab-1.active,
.tab-2:hover,
.tab-2.active,
.tab-3:hover,
.tab-3.active,
.tab-4:hover,
.tab-4.active {
    background-color: #575756;
}

.tab-content {
    max-height: -moz-calc(100vh - 100px);
    max-height: -webkit-calc(100vh - 100px);
    max-height: calc(100vh - 100px);

    min-height: max-content;
    background-color: #F2EFEA;
}