<table>
    <thead>
        <tr>
            <!-- Table Headers -->
            <th *ngFor="let col of headers; let i = index" (click)="sortHeader(i)">
                {{col.columnLabel}}
                <fa-icon [icon]="downArrow" size="sm" id="arrowIcon" *ngIf="selectedHeader === i && sortDir === 'desc'">
                </fa-icon>
                <fa-icon [icon]="upArrow" size="sm" id="arrowIcon" *ngIf="selectedHeader === i && sortDir === 'asc'">
                </fa-icon>
            </th>
            <!-- Header Space for Actions -->
            <th *ngIf="component === 'groups-groups' || component === 'groups-layers'"></th>
        </tr>
    </thead>
    <tbody>
        <!-- Table Rows -->
        <tr *ngFor="let obj of filteredData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            (click)="selectRow(obj, $event)" [ngClass]="obj.open ? 'active' : ''">
            <!-- Table Rows Content -->
            <td *ngFor="let col of headers">
                <div class="element-container">
                    <!-- Special styling for groups and chart types -->
                    <div
                        [ngClass]="
                        {'blue': obj[col.objProperty] === 'superuser', 
                        'dark-red':obj[col.objProperty] === 'fireloc' || obj[col.objProperty] === 'BAR',
                        'pink':obj[col.objProperty] === 'riskmanager' || obj[col.objProperty] === 'LINE',
                        'orange':obj[col.objProperty] === 'volunteer' || obj[col.objProperty] === 'PIE',
                        'yellow':obj[col.objProperty] === 'justauser' || obj[col.objProperty] === 'SCATTER',
                        'group-element': col.columnLabel === 'Grupo' || col.columnLabel === 'Tipo'}">
                        <h6 *ngIf="obj[col.objProperty] !== null">{{obj[col.objProperty]}}</h6>
                        <h6 *ngIf="obj[col.objProperty] === null">Sem Informação</h6>
                    </div>
                </div>
            </td>
            <!-- Special Icons for Groups Table -->
            <td *ngIf="component === 'groups-groups' || component === 'groups-layers'" class="not-clickable">
                <fa-icon *ngIf="component === 'groups-groups'" [icon]="editIcon" size="lg" id="editIcon"
                    (click)="editRow(obj)"></fa-icon>
                <fa-icon [icon]="deleteIcon" size="lg" id="deleteIcon" (click)="deleteRow(obj)"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>