* {
    font-family: 'Montserrat', sans-serif !important;
}

thead {
    background: #EE6112;
    height: 40px;
}

table th {
    padding: 0 40px;
    color: white;
    text-align: center;

    /* Disable text selection  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

table th:hover {
    cursor: pointer;
}

table th:first-child {
    border-radius: 10px 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
}

table th:last-child {
    border-radius: 0 10px 0 0;
}

table td {
    padding: 0 40px;
    height: 40px;
    text-align: center;
}

table tbody tr:last-child {
    border-radius: 0 0 10px 10px;
}

table tbody tr:hover {
    background: rgba(255, 214, 0, 0.2);
    cursor: pointer;
}

table tbody tr.active {
    background: rgba(255, 214, 0, 0.4);
}

.element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.element-container h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

table tr td:not(:first-child) .element-container h6 {
    word-break: break-all;
}

.group-element {
    background-color: gray;
    color: white;
    width: max-content;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
}

.group-element h6 {
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    margin-top: 5px;
}

.blue {
    background: #0090B0;
}

.dark-red {
    background: #B00600;
}

.pink {
    background: #C71A3F;
}

.orange {
    background: #EE6112;
}

.yellow {
    background: #F5A32A;
}

.not-clickable {
    pointer-events: none;
}

#editIcon {
    pointer-events: auto;
    color: #F5A32A;
    margin-right: 20px;
}

#deleteIcon {
    pointer-events: auto;
    color: #B00600;
}