* {
    font-family: 'Montserrat', sans-serif !important;
}

.tabs {
    width: 100vw;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
}

.right-tab, .left-tab {
    transition: 0.2s ease-in-out;
}

.right-tab:hover,
.left-tab:hover {
    background-color: #F9BE2D;
}

.active {
    background-color: #F9BE2D;
}

.active a {
    color: white;
}

.right-tab:hover a,
.left-tab:hover a {
    color: white;
}

span {
    margin-right: 10px;
}

.input-group {
    width: 300px;
    margin-bottom: 20px;
    padding: 5px;
}

.input-group label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9fc;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    z-index: 2;

    font-size: 16px;
    font-weight: 400;
}

.input-group input {
    font-size: 1rem;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px !important;
    padding: 1rem 0.7rem;
    color: black;
    transition: 0.1s ease-out;
    z-index: 1;
    background-color: #f9f9fc;

    padding: 20px 10px 20px 10px;
    font-size: 14px;
    font-weight: 300;
}

.input-group input:disabled {
    color: gray;
    background-color: #f9f9fc;
    border: 2px solid #c9c9c9 !important;
}

.input-group input:focus {
    border-color: #EE7927;
    z-index: 1;
    box-shadow: none;
}

.input-group input:focus+label {
    color: #EE7927;
    top: 0;
    transform: translateY(-30%) scale(0.9) !important;
}

.input-group input:not(:placeholder-shown)+label {
    top: 0;
    transform: translateY(-30%) scale(0.9) !important;
}

.input-group input:not(:focus)::placeholder {
    opacity: 0;
}

.edit-button {
    border: none;
    font-size: 14px;
    transition: 0.1s ease-in-out;
    width: 295px;
}

.edit-button:hover {
    background-color: #EE7927;
}

.delete-button {
    border: none;
    margin-top: 20px;
    background-color: #cc2f23;
    font-size: 14px;
    transition: 0.1s ease-in-out;
    width: 295px;
}

.delete-button:hover {
    background-color: #8a150d;
}

.error-container {
    margin-bottom: 15px;
    font-size: 14px;
}

.password-content {
    min-width: min-content;
    width: 400px;
}

.left-contrib-container {
    width: 90vw;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-event-open {
    width: 40vw !important;
}

.contrib-container {
    padding: 5px 0;
}

.contrib-container:hover {
    cursor: pointer;
}

.contrib-photo img {
    height: 100px;
    width: auto;
    border-radius: 5px;
}

.info-coord p {
    margin: 0;
}

.right-event-container {
    width: 45vw;
    height: 75vh;
}

.right-header {
    padding: 5px 10px;
}

.close-icon-container:hover {
    cursor: pointer;
}

.modal-image {
    max-height: calc(100vh - 225px);
    max-width: calc(100vw - 500px);
}

.conf-intro {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
}

.modal-body .check-container p {
    font-weight: 400;
    font-size: 12px;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
    height: 20px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.check-container:hover input~.checkmark {
    background-color: rgb(240, 240, 240);
}

.check-container input:checked~.checkmark {
    background-color: #EE6112;
    border: 1px solid #FFFFFF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.warn {
    font-weight: 600 !important;
    color: #B00600 !important;
}

/* Loading Animation */
.loading {
    height: 50px;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
    box-shadow: 9999px 0 0 -5px #EE7927;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #EE7927;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #EE7927;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9984px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9999px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 10014px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }
}