<div class="modal-body">
    <!-- Title -->
    <div>
        <h1 class="modal-title">{{ 'HOME.Register' | translate }}</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Warning alert for non-matching password inputs -->
        <ngb-alert [type]="'danger'" *ngIf="registerForm.hasError('notSame')" [dismissible]="false">
            {{ 'PROFILE.PasswordsMatch' | translate }}
        </ngb-alert>

        <!-- First Name Input -->
        <app-form-input 
            [icon]="userIcon" 
            [inputType]="'text'" 
            [inputPlaceholder]="'PROFILE.FirstName' | translate"
            [required]="true"
            formControlName="name"
            [inputFormControl]="registerForm.get('name')"
        ></app-form-input>

        <!-- Last Name Input -->
        <app-form-input 
            [icon]="userIcon" 
            [inputType]="'text'" 
            [inputPlaceholder]="'PROFILE.LastName' | translate"
            [required]="true"
            formControlName="lastName"
            [inputFormControl]="registerForm.get('lastName')"
        ></app-form-input>

        <!-- Email Input -->
        <app-form-input 
            [icon]="emailIcon" 
            [inputType]="'email'" 
            [inputPlaceholder]="'Email'"
            [required]="true"
            formControlName="email"
            [inputFormControl]="registerForm.get('email')"
        ></app-form-input>

        <!-- Password Input -->
        <app-form-input 
            [icon]="passwordIcon" 
            [inputType]="'password'" 
            [inputPlaceholder]="'Password'"
            [showIcon]="showIcon" 
            [hideIcon]="hideIcon"
            [required]="true"
            formControlName="password"
            [inputFormControl]="registerForm.get('password')"
        ></app-form-input>

        <!-- Confirm Password Input -->
        <app-form-input 
            [icon]="passwordIcon" 
            [inputType]="'password'" 
            [inputPlaceholder]="'PROFILE.ConfPassword' | translate"
            [showIcon]="showIcon" 
            [hideIcon]="hideIcon"
            [required]="true"
            formControlName="confirmation"
            [inputFormControl]="registerForm.get('confirmation')"
        ></app-form-input>

        <!-- Remember Password Checkbox -->
        <div class="form-check checkbox-group">
            <label class="form-check-label" for="rememberPass">
                <input type="checkbox" class="form-check-input" id="rememberPass" formControlName="rememberSession">
                {{ 'LOGIN.KeepSession' | translate }}
            </label>
        </div>

        <!-- Register Button -->
        <div class="button-submit">
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">
                {{ 'HOME.Register' | translate }}
            </button>
        </div>

    </form>
</div>
