/* FORMAT JANELA LOGIN */

/* Full-width input fields */
input[type=text], input[type=password] {
font-size:small;
  display: inline-block;
  box-sizing: border-box;
	width: 250px;
	padding: 3px;
	margin: 5px 5px 10px 5px;
	color:#447077;
	border-radius: 6px;  
	background-color: #f0f5f3;
	border: 1px solid #447077;
	letter-spacing: 1px;	
}
input[type=submit] {
	width: 100px;
	padding: 3px 1px 1px 1px;
	background-color: #f0f5f3;
	color: #447077; 
	border: 1px solid #CE605E;
	border-radius: 6px;
	letter-spacing: 1px;
font-weight: 600;	
margin: 10px 0 0 0;
}

/* Set a style for all buttons */
button {

  cursor: pointer;
    padding: 3px 7px 3px 7px;	
	margin-left: 75px;
	font-size: 10px;
	font-weight: 600;
	color: #CE605E; 
	background-color: #f0f5f3;
	border: 1px solid #72A6AD;  
    border-radius: 8px;	
	letter-spacing: 1px;  
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 3px 7px 3px 7px;	
  background-color: #f0f5f3;
  border: 1px solid #CE605E; 
  color:#CE605E;
  border-radius: 8px; 
  letter-spacing: 1px;   
}

/* position the close button */

.container {
  padding: 20px;
  font-size: 0.9em;
}

span.psw {
  float: right;
  padding-top: 25px;
}

/* The Modal (background) */
.modal {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 50%;
	top: 50%;
	width: 30em; /* Full width */
	height: 18em; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	margin-top: -9em;
	margin-left: -15em;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}