@charset "utf-8";
/* CSS Document */


body{
	margin: auto;
	padding: 0;	
	font-family: sans-serif;
	background-color:#f0f5f3;}

.conteudo {
	margin: auto;
	padding: 0;
}

.cabecalho {margin: 0;
	padding: 0;	
	background-image: url(/static/jsidejs/img/js-header-back.jpg);
    background-repeat: repeat-x;
	height: 100px;}

.zona-nome{padding: 43px 20px 10px 50px;
	float: left;		
	width: 280px; 
	margin: 0;
	text-align: center;	}
.zona-nome img{	width: 215px;}

.zona-menu {display: block;	float:left;}
.zona-menu ul { padding: 53px 20px 10px 10px;}
.zona-menu ul li{ display: inline; 	color: #447077; }
.zona-menu ul li a{
    padding: 9px 7px 8px 10px;
    margin: 2px;	
	text-align: center;
    border-radius: 8px;
	font-size: small;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #447077; 
	background-color: #f0f5f3;
	border: 1px solid #DCCBC7;}

ul li a:hover{background-color: #FDFFFE;}
ul li a:active{background-color: #FDFFFE; color: #CE605E; }
.zona-menu ul li#atlas a{
    padding: 7px 5px 6px 8px;
    margin: 2px;	
	font-weight: 800;
	color: #447077; 
	background-color: #f0f5f3;
	border: 2px solid #CE605E;}
ul li#atlas a:hover{background-color: #FDFFFE;}
ul li#atlas a:active{background-color: #FDFFFE; color: #CE605E; }

.zona-menu ul li#login a{
    padding: 5px 5px 4px 6px;	
	margin-left: 70px;
	font-size: 10px;
	font-weight: 600;
	color: #CE605E; 
	background-color: #f0f5f3;
	border: 1px solid #72A6AD;}
ul li#login a:hover{background-color: #FDFFFE;}
ul li#login a:active{background-color: #FDFFFE; color: #447077; }

.zona-menu ul li#lingua a{
    padding: 5px 5px 4px 6px;	
	margin-left: 10px;
	font-size: 10px;
	font-weight: 600;
	color: #CE605E; 
	background-color: #f0f5f3;
	border: 1px solid #72A6AD;}
ul li#lingua a:hover{background-color: #FDFFFE;}
ul li#lingua a:active{background-color: #FDFFFE; color: #447077; }


.zona-conteudo {
	clear: both;
	font-size: 14px;
	text-align: justify;
	padding: 10px 0 10px 0px;
	color: #3f798e;
}
.zona-conteudo table {
	background-color: #CFDFDE;
}

.zona-rodape {
	padding: 50px 50px 10px 50px;
	background-color: white;
	text-align: center; }
.zona-rodape a img { width: 100%;}
.zona-rodape a:visited{ color: #91b5c3; text-decoration: none;}
.zona-rodape a:link{ color: #91b5c3; text-decoration: none;}
.zona-rodape a:hover{ color: #c3a8a7; text-decoration: none;}
.zona-rodape a:active{ color: black; text-decoration: none;}	

.creditos {
	padding-top: 30px;
	text-align: center;
	color: #3f798e;
	font-size: 11px;}

.dropdown-submenu {position: relative;}
.dropdown-submenu .dropdown-menu {top: 0; left: 100%; margin-top: -1px;}

.menu-mapa {padding: 0 50px 0 50px; background-color:#f0f5f3;}
.menu-mapa-btn{padding: 3px 8px 1px 8px;
	font-size: small;
	background-color: #CFDFDE; 
    border-radius: 7px 7px 0 0;	
	border: none;
	color: #447077;}
.menu-mapa-btn1{padding: 5px 8px 5px 8px;
	font-size: small;
	background-color: #f0f5f3; 
    border-radius: 5px;	
	border: none;
	min-width: 30px;}
ul.menu-mapa-btn1 li a:link{text-decoration: none;}

.just-mapa {
	background-color: #CFDFDE;
	width: auto;
	height: 78vh;}	
	
#mapa-esquerda{width:50%; float:left;}
#mapa-direita{width:50%; float:right;}
	
	
.tab-org {width: 94%;}	
.tab-org tr td {padding:8px 15px;}	
.tab-org-1col {width: 25%;}	
.tab-org-pais {background-color: #E1EBEA;border-radius: 5px;}
.tab-org-pais td {font-weight: 700; font-size: large;}
.tab-org-univ {background-color: #E9F0F0; border-radius: 5px;}	
.tab-org-univ td {font-weight: 600; font-size: medium;}
.tab-org-coord {background-color: #EEF4F3;}
.tab-org-colab {background-color: #EEF4F3;}
#tab-coo {width: 97%;}

.tab-org-coord, .tab-org-univ, .tab-org-pais, .tab-org-colab {
	clear: both;
	color : #3f798e;
	text-align: justify;
	font-size : 14px;
	line-height: 150%;
}

.titulo{font-weight: 700; font-size: large; letter-spacing: 4px;}

select {
	width: 200px;
	padding: 3px;
	margin: 5px 5px 10px 5px;
	background-color: #EEF4F3;
	color:#447077;
	border: 1px solid #72A6AD;
	border-radius: 6px;
}
input[type=submit] {
	width: 100px;
	padding: 3px 1px 1px 1px;
	background-color: #f0f5f3;
	color: #447077; 
	border: 1px solid #CE605E;
	border-radius: 6px;
	letter-spacing: 1px;
font-weight: 600;	
margin: 10px 0 0 0;
}

::placeholder {
color: #cccccc;
}

/*_________ POP-UPS with description information _________*/

#popUp {
    position: absolute;
    margin: 0 auto;
    width: 40%;
    padding: 3%;
    background-color: white;
    border: solid;
    border-color: black;
    position: fixed;
    top: 30%;
    left: 25%;
    z-index: 50000;
    border-radius: 10px;
}

#popUp h3{
    font-size: 21px;
    margin-bottom: 7%;
}

#popUp p{
    margin-bottom: 7%;
}

#closeButton {
    cursor: pointer;
    background-color: #0696ae;
    padding: 2%;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

a.info-box-close {
    float:right;
    margin-top:-55px;
    margin-right:-55px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.info-box-close:before {
    content: "×";
}