.container {
    padding: 0;
}

.legend-item {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
}

.legend-item span {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}