<div id="products">
    <h1>Products available:</h1>

    <mat-form-field appearance="fill">
        <mat-label>Select products category:</mat-label>

        <mat-select (selectionChange)="selectProdType($event.value)">
            <mat-option *ngFor="let pt of productsTypes" [value]="pt">
                {{pt}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <p *ngIf="!selPType"><b>No Products selected</b></p>

    <ul *ngIf="selPType">
        <li *ngFor="let p of selProds">
            {{p.designation}} || {{p.price}}€ ||
            <button (click)="addProductToCart(p)">Add to cart</button>
        </li>
    </ul>
</div>

<div id="cart">
    <h1>Cart:</h1>

    <p *ngIf="!cart.length"><b>No Products in the cart</b></p>

    <ul *ngIf="cart.length">
        <li *ngFor="let c of cart; let idx = index">
            {{c.designation}} || {{c.price}}€ ||
            <button (click)="rmProductFmCart(idx, c.price)">Remove</button>
        </li>
    </ul>

    <h2 *ngIf="totalprice">Total: {{totalprice}}</h2>
</div>
