<div class="events-container d-flex flex-column">
    <!-- Events Header -->
    <header class="header-container d-flex align-items-center justify-content-between">
        <!-- Greeting -->
        <div class="greeting">
            <h1>Eventos FireLoc</h1>
            <h3>Todos os eventos de fogos florestais identificados pelo sistema FireLoc</h3>
        </div>

        <!-- Search  -->
        <nav class="search d-flex align-items-center justify-content-end">
            <feat-search [placeholder]="'Procurar Eventos...'" (search)="searchEvents($event)"></feat-search>
        </nav>
    </header>

    <!-- Events Content -->
    <div class="content-container d-flex flex-column">
        <!-- Actions -->
        <div class="actions-container d-flex align-items-center justify-content-start">
            <!-- Location Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block" #locationDrop>
                <!-- Open/Close Dropdown -->
                <button type="button" class="d-flex align-items-center justify-content-center" ngbDropdownToggle
                    id="locDropdown" (click)="toggleFilterMap(locationDrop)">
                    <fa-icon [icon]="locIcon"></fa-icon>
                    <p>Localização</p>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="loc-filter action-dropdown-container dropdown-menu dropdown-menu-lg-end"
                    aria-labelledby="locDropdown">
                    <div class="loc-filter-actions d-flex align-items-center justify-content-between">
                        <button (click)="clearLocFilter()">Limpar Filtro</button>
                        <button (click)="filterLoc()" [disabled]="pointCounter < 4">Filtrar</button>
                    </div>
                    <div *ngIf="showFilterMap" class="map-container">
                        <app-leafmap [map-settings]="filterMapsettings" (map)="receiveFilterMap($event)"
                            class="filterMap">
                        </app-leafmap>
                    </div>
                </div>
            </div>

            <!-- Date Range Filter -->
            <div ngbDropdown class="action-dropdown d-inline-block">
                <!-- Open/Close Dropdown -->
                <button class="d-flex align-items-center justify-content-center" ngbDropdownToggle>
                    <fa-icon [icon]="dateIcon"></fa-icon>
                    <div class="dates d-flex align-items-center justify-content-center">
                        <p *ngIf="fromDate !== null">{{fromDate.day}}</p>
                        <p *ngIf="fromDate === null">Data</p>
                        <p *ngIf="fromDate !== null">/{{fromDate.month}}</p>
                        <p *ngIf="fromDate !== null">/{{fromDate.year}}</p>
                        <p>&nbsp;-&nbsp;</p>
                        <p *ngIf="toDate !== null">{{toDate.day}} </p>
                        <p *ngIf="toDate === null">Data</p>
                        <p *ngIf="toDate !== null">/{{toDate.month}} </p>
                        <p *ngIf="toDate !== null">/{{toDate.year}} </p>
                    </div>
                    <fa-icon [icon]="dropIcon" size="xs"></fa-icon>
                </button>
                <!-- Dropdown Menu -->
                <div ngbDropdownMenu class="action-dropdown-container dropdown-menu dropdown-menu-lg-end">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                        outsideDays="hidden">
                    </ngb-datepicker>

                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- Tables Container -->
        <div class="tables-container d-flex align-items-start justify-items-between">
            <!-- Data Table -->
            <div class="table-container" [ngClass]="isEventOpen ? 'event-open' : ''">
                <feat-table [component]="'events'" [data]="events" [headers]="displayedHeaders" [page]="currentPage"
                    [searchFilter]="searchTerms" (rowCount)="updateRowCount($event)"
                    (selectedID)="toggleEventView($event)">
                </feat-table>
            </div>

            <!-- Event Details -->
            <div *ngIf="isEventOpen" class="event-details-container d-flex flex-column">
                <!-- Event Header -->
                <div class="event-header d-flex align-items-start justify-content-between">

                    <!-- Edit Event Details -->
                    <fa-icon [icon]="editIcon" size="2x" class="details-edit" ngbTooltip="Editar Evento"
                        placement="bottom" (click)="open(editModal)"></fa-icon>

                    <!-- Event Sections -->
                    <div class="event-sections d-flex align-items-center justify-content-around">
                        <button (click)="selectEventSection(1)"
                            [ngClass]="selectedEventSection === 1 ? 'active-section' : '' ">Detalhes</button>
                        <button (click)="selectEventSection(2)"
                            [ngClass]="selectedEventSection === 2 ? 'active-section' : '' ">Serviços</button>
                        <button (click)="selectEventSection(3)"
                            [ngClass]="selectedEventSection === 3 ? 'active-section' : '' ">Fotos</button>
                        <button (click)="selectEventSection(4)"
                            [ngClass]="selectedEventSection === 4 ? 'active-section' : '' ">Mapa</button>
                    </div>

                    <!-- Delete Event -->
                    <fa-icon [icon]="deleteIcon" size="2x" class="details-delete" ngbTooltip="Remover Evento"
                        placement="bottom" (click)="open(deleteModal)"></fa-icon>
                </div>

                <!-- Event Details -->
                <div class="event-info-container" *ngIf="selectedEventSection === 1">
                    <!-- Location -->
                    <div class="d-flex flex-column">
                        <h5>Localização</h5>
                        <h3>{{this.openEvent.place}}</h3>
                    </div>

                    <!-- Duration -->
                    <div class="d-flex flex-column">
                        <h5>Duration</h5>
                        <h3>{{this.openEvent.duration}}</h3>
                    </div>

                    <!-- Dimension -->
                    <div class="d-flex flex-column">
                        <h5>Dimensão</h5>
                        <h3>{{this.openEvent.dim}}</h3>
                    </div>

                    <!-- Location Info -->
                    <div class="d-flex flex-column">
                        <h5>Freguesia</h5>
                        <h3>{{this.openEvent.freg}}</h3>
                    </div>

                    <!-- Location Info -->
                    <div class="d-flex flex-column">
                        <h5>Município</h5>
                        <h3>{{this.openEvent.mun}}</h3>
                    </div>
                </div>

                <!-- Event Services -->
                <div class="event-services-container" *ngIf="selectedEventSection === 2">
                    Services here
                </div>

                <!-- Event Images -->
                <!-- TODO CHANGE TO ACTUAL IMAGES -->
                <div class="event-images-container d-flex flex-row align-items-start justify-content-start"
                    *ngIf="selectedEventSection === 3">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                    <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
                        alt="FireLoc" (click)="open(eventImage)">
                </div>

                <!-- Event Map -->
                <div *ngIf="selectedEventSection === 4"
                    class="event-map-container d-flex flex-column align-items-center justify-content-center">
                    <app-leafmap [map-settings]="mapsettings" (map)="receiveMap($event)" class="map">
                    </app-leafmap>
                </div>
            </div>
        </div>

        <!-- Tables Pagination -->
        <div class="pagination-container d-flex align-items-center justify-content-end">
            <feat-pagination [rowCount]="rowCount" (page)="getPage($event)"></feat-pagination>
        </div>
    </div>
</div>

<!-- Expand Image Popup Template -->
<ng-template #eventImage let-modal id="modal-container">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{openEvent.place}}</h4>
        <div class="close-icon-container" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="closeIcon" size="lg" id="icon"></fa-icon>
        </div>
    </div>
    <div class="modal-body d-flex justify-content-center align-items-center">
        <!-- TODO CHANGE TO ACTUAL IMAGE -->
        <img src="https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?cs=srgb&dl=pexels-pixabay-51951.jpg&fm=jpg"
            alt="Contribution Image" loading="lazy" class="modal-image" />
    </div>
</ng-template>

<!-- Edit User Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Editar Evento</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form class="edit-event-form" [formGroup]="editEventForm">
            <!-- Name -->
            <div>
                <p>Nome</p>
                <input type="text" class="edit-event-input" #editName required formControlName="name"
                    [value]="editEvent.name" (ngModelChange)="updateEditEventField(editName.value, 'name')">
            </div>

            <!-- Place -->
            <div>
                <p>Localização</p>
                <input type="text" class="edit-event-input" #editPlace required formControlName="place"
                    [value]="editEvent.place" (ngModelChange)="updateEditEventField(editPlace.value, 'place')">
            </div>

            <!-- Start Date -->
            <div>
                <p>Data de Início</p>
                <div class="d-flex date-input">
                    <input class="form-control edit-event-input" placeholder="yyyy-mm-dd" required #editStartDate
                        formControlName="start" [value]="editEvent.start"
                        (ngModelChange)="updateEditEventField(editStartDate.value, 'start')" ngbDatepicker
                        #ds="ngbDatepicker" />
                    <button (click)="ds.toggle()" type="button">
                        <fa-icon [icon]="dateIcon" size="xs" class="date-icon"></fa-icon>
                    </button>
                </div>

            </div>

            <!-- End Date -->
            <div>
                <p>Data de Fim</p>
                <div class="d-flex date-input">
                    <input class="form-control edit-event-input" placeholder="yyyy-mm-dd" required #editEndDate
                        formControlName="end" [value]="editEvent.end"
                        (ngModelChange)="updateEditEventField(editEndDate.value, 'end')" ngbDatepicker
                        #de="ngbDatepicker" />
                    <button (click)="de.toggle()" type="button">
                        <fa-icon [icon]="dateIcon" size="xs" class="date-icon"></fa-icon>
                    </button>
                </div>
            </div>

            <!-- Type -->
            <div>
                <p>Tipo</p>
                <input type="text" class="edit-event-input" #editType required formControlName="type"
                    [value]="editEvent.type" (ngModelChange)="updateEditEventField(editType.value, 'type')">
            </div>

            <!-- Cause -->
            <div>
                <p>Causa</p>
                <input type="text" class="edit-event-input" #editCause required formControlName="cause"
                    [value]="editEvent.cause" (ngModelChange)="updateEditEventField(editCause.value, 'cause')">
            </div>

            <!-- Codsgif -->
            <div>
                <p>Código SGIF</p>
                <input type="number" class="edit-event-input" #editCodSGIF required formControlName="codsgif"
                    [value]="editEvent.codsgif" (ngModelChange)="updateEditEventField(editCodSGIF.value, 'codsgif')">
            </div>

            <!-- Codncco -->
            <div>
                <p>Código NCCO</p>
                <input type="number" class="edit-event-input" #editCodNCCO required formControlName="codncco"
                    [value]="editEvent.codncco" (ngModelChange)="updateEditEventField(editCodNCCO.value, 'codncco')">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updateEvent()" [disabled]="!editEventForm.valid">Guardar
            Alterações
        </button>
    </div>
</ng-template>

<!-- Delete Event Confirmation Modal -->
<ng-template #deleteModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between">
        <h4 class="modal-title" id="modal-basic-title">Apagar Evento</h4>
        <fa-icon [icon]="closeIcon" size="1x" (click)="modal.dismiss()"></fa-icon>
    </div>
    <div class="modal-body">
        <form>
            <p class="conf-intro">Tem a certeza que deseja apagar este evento?</p>
            <label class="check-container">
                <p [ngClass]="hasClickedRemove ? 'warn' : ''">
                    Tenho conhecimento que esta ação é irreversível e apaga o evento permanentemente.</p>
                <input type="checkbox" [(ngModel)]="isConfChecked" name="delete-confirmation">
                <span class="checkmark"></span>
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteEvent()">Apagar Evento
        </button>
    </div>
</ng-template>