<!-- Main Container -->
<div class="main-container d-flex">
    <!-- Side Navigation Menu -->
    <feat-side-nav (activeNavItem)="activePage"></feat-side-nav>

    <!-- Main Content -->
    <main class="main-content">
        <boff-dashboard *ngIf="activePage===0"></boff-dashboard>
        <boff-users *ngIf="activePage===1"></boff-users>
        <boff-groups *ngIf="activePage===2"></boff-groups>
        <boff-contribs *ngIf="activePage===3"></boff-contribs>
        <boff-events *ngIf="activePage===4"></boff-events>
        <boff-real-events *ngIf="activePage===5"></boff-real-events>
        <boff-layers *ngIf="activePage===6"></boff-layers>
        <boff-legend *ngIf="activePage===7"></boff-legend>
        <boff-graphs *ngIf="activePage===8"></boff-graphs>
        <boff-satellite *ngIf="activePage===9"></boff-satellite>
        <boff-raster *ngIf="activePage===10"></boff-raster>
        <boff-vetorial *ngIf="activePage===11"></boff-vetorial>
    </main>
</div>