.event-list-info-container {
    height: max-content;
    max-height: calc(100vh - 150px);
}

.event-list-container {
    overflow-y: auto;
}

.event-element-container {
    padding: 10px;
}

.event-element-container:hover {
    cursor: pointer;
    background-color: #DDD9D3;
}

.event-element-container.active {
    background-color: #DDD9D3;
}

#icon-fire {
    margin-right: 10px;
}

#icon {
    margin-right: 10px;
}

#icon:hover {
    cursor: pointer;
}

.event-location h3 {
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
    border: 0;
}

.event-info-container {
    border-top: 3px solid #DDD9D3;
    margin-top: 15px;
    padding: 5px 10px;

    overflow-y: auto;
    min-height: 300px;
}

.event-info-location h3 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
    padding-right: 10px;
    border: 0;
}

.event-button-container {
    margin-top: 15px;
}

.event-button {
    padding: 3px 10px;
    border-radius: 15px;
    border: 3px solid #575756;

    font-size: 11px;
    font-weight: 400;
    background-color: none;
}

.event-button:hover,
.selected {
    background-color: #575756;
    color: white;
}

.event-info {
    margin-top: 20px;
}

#icon-info {
    margin-right: 10px;
}

.info-element #icon-info {
    width: 30px;
    text-align: center;
}

.info-element p {
    margin-left: 5px;
}

.no-events-container {
    height: calc(200px);
}

/* Loading Animation */
.loading {
    height: calc(200px);
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
    box-shadow: 9999px 0 0 -5px #EE7927;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EE7927;
    color: #EE7927;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #EE7927;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #EE7927;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9984px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 9999px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #EE7927;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }

    30% {
        box-shadow: 10014px 0 0 2px #EE7927;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #EE7927;
    }
}