* {
    font-family: 'Montserrat', sans-serif !important;
}

.boff-nav {
    width: 248px;
    min-height: 100vh;
}

.white-bg {
    background-color: white;
}

.collapsed-boff-nav {
    width: 80px !important;
}

.header {
    background-color: white;
    height: 75px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header img {
    height: 100%;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

.header a {
    color: black;
    margin: auto;
}

.header span {
    font-weight: bold;
    font-size: 34px;
    letter-spacing: -1px;
}

.logo-collapsed {
    width: 80px;
    height: 50px;
}

.logo-collapsed img {
    width: 26px;
    height: auto;
}

.logo-collapsed:hover {
    cursor: pointer;
}

.arrow {
    height: 50px;
    width: min-content;
}

.arrow .ng-fa-icon {
    color: #EE6112;
    margin-right: 10px;
}

.arrow:hover {
    cursor: pointer;
}

.nav-container {
    background-color: white;
    height: calc(100vh - 200px - 75px);
    padding: 15px;
    padding-bottom: 30px;
}

.nav-container .ng-fa-icon {
    width: 15px;
    height: auto;
}

.nav-item {
    background-color: white;
    border-radius: 10px;
    height: 32px;
    color: black;
    padding-left: 25px;
}

.nav-item:not(:first-child) {
    margin-top: 5px;
}

.nav-item span {
    font-size: 14;
    font-weight: 300;
}

.nav-item:hover {
    background-color: #ffd08a;
    cursor: pointer;
}

.nav-active {
    background-color: #F5A32A !important;
    color: white;
}

.nav-active span {
    font-weight: 600;
}

.geo-sub {
    margin-top: 2px !important;
    margin-left: 25px;
}

.ng-fa-icon {
    margin-right: 25px;
}

.profile-section {
    background-color: #EE6112;
    height: 200px;
    border-radius: 0 0 40px 0;
    padding: 25px;
}

.profile-header {
    width: 100%;
    padding-left: 3px;
}

.profile-header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-header-closed img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.name-container {
    margin-left: 15px;
}

.profile-header h4 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.profile-header h5 {
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-weight: 300;
    font-size: 12px;
}

.profile-nav-container {
    margin-top: 20px;
    padding-left: 20px;
}

.profile-nav-container .ng-fa-icon {
    color: white;
    width: 16px;
    height: auto;
}

.profile-nav-container span {
    color: white;
    font-weight: 300;
    font-size: 12px;
}

.profile-item:not(:first-child) {
    margin-top: 5px;
}

.profile-item:hover {
    cursor: pointer;
}