<nav class="boff-nav d-flex flex-column"
    [ngClass]="{'collapsed-boff-nav': isNavCollapsed, 'white-bg': activeNavItem === 0 }">
    <!-- Nav Header -->
    <div class="header d-flex">
        <!-- Branding -->
        <a [routerLink]="'/admin'" (click)="selectNavCategory(0)" *ngIf="!isNavCollapsed">
            <div class="d-flex flex-row align-items-center justify-content-center">
                <img src="assets/images/boff/fireloc-logo.png" alt="FireLoc">
                <span>FireLoc</span>
            </div>
        </a>

        <!-- Collapse Nav with arrow -->
        <div class="arrow d-flex align-items-center justify-content-end" (click)="toggleSideNav()"
            *ngIf="!isNavCollapsed">
            <fa-icon [icon]="arrowIcon" size="lg"></fa-icon>
        </div>

        <!-- Open Nav with fire logo -->
        <div class="logo-collapsed d-flex flex-row align-items-center justify-content-center" *ngIf="isNavCollapsed"
            (click)="toggleSideNav()">
            <img src="assets/images/boff/fireloc-logo.png" alt="FireLoc" ngbTooltip="Expandir" placement="right">
        </div>
    </div>

    <!-- Navigation Items Open Nav -->
    <div class="nav-container d-flex flex-column justify-content-center" *ngIf="!isNavCollapsed">
        <!-- Users -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(1)"
            [ngClass]="activeNavItem === 1 ? 'nav-active' : ''">
            <fa-icon [icon]="userIcon"></fa-icon>
            <span>Utilizadores</span>
        </div>

        <!-- Groups -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(2)"
            [ngClass]="activeNavItem === 2 ? 'nav-active' : ''">
            <fa-icon [icon]="groupIcon"></fa-icon>
            <span>Grupos</span>
        </div>

        <!-- Contribs -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(3)"
            [ngClass]="activeNavItem === 3 ? 'nav-active' : ''">
            <fa-icon [icon]="contribIcon"></fa-icon>
            <span>Contribuições</span>
        </div>

        <!-- Events -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(4)"
            [ngClass]="activeNavItem === 4 ? 'nav-active' : ''">
            <fa-icon [icon]="eventIcon"></fa-icon>
            <span>Eventos</span>
        </div>

        <!-- Real Events -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(5)"
            [ngClass]="activeNavItem === 5 ? 'nav-active' : ''">
            <fa-icon [icon]="eventIcon"></fa-icon>
            <span>Eventos Reais</span>
        </div>

        <!-- Layers -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(6)"
            [ngClass]="activeNavItem === 6 ? 'nav-active' : ''">
            <fa-icon [icon]="layerIcon"></fa-icon>
            <span>Camadas</span>
        </div>

        <!-- Legend -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(7)"
            [ngClass]="activeNavItem === 7 ? 'nav-active' : ''">
            <fa-icon [icon]="legIcon"></fa-icon>
            <span>Legenda</span>
        </div>

        <!-- Graphs -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(8)"
            [ngClass]="activeNavItem === 8 ? 'nav-active' : ''">
            <fa-icon [icon]="graphIcon"></fa-icon>
            <span>Gráficos</span>
        </div>

        <!-- Geo -->
        <div class="nav-item d-flex align-items-center justify-content-start" (click)="openGeoMenu()"
            [ngClass]="(activeNavItem === 9 || activeNavItem === 10 || activeNavItem === 11) && !isGeoMenuOpen ? 'nav-active' : ''">
            <fa-icon [icon]="geoIcon"></fa-icon>
            <span>Geoespacial</span>
        </div>

        <!-- Geo Sub-Menu -->
        <div *ngIf="isGeoMenuOpen">
            <!-- Satellite -->
            <div class="geo-sub nav-item d-flex align-items-center justify-content-start" (click)="selectNavCategory(9)"
                [ngClass]="activeNavItem === 9 ? 'nav-active' : ''">
                <fa-icon [icon]="satIcon"></fa-icon>
                <span>Satélite</span>
            </div>
            <!-- Raster -->
            <div class="geo-sub nav-item d-flex align-items-center justify-content-start"
                (click)="selectNavCategory(10)" [ngClass]="activeNavItem === 10 ? 'nav-active' : ''">
                <fa-icon [icon]="rasterIcon"></fa-icon>
                <span>Raster</span>
            </div>
            <!-- Vectorial -->
            <div class="geo-sub nav-item d-flex align-items-center justify-content-start"
                (click)="selectNavCategory(11)" [ngClass]="activeNavItem === 11 ? 'nav-active' : ''">
                <fa-icon [icon]="vectIcon"></fa-icon>
                <span>Vetorial</span>
            </div>
        </div>
    </div>

    <!-- Navigation Items Closed Nav -->
    <div class="nav-container d-flex flex-column justify-content-center" *ngIf="isNavCollapsed">
        <!-- Users -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(1)"
            [ngClass]="activeNavItem === 1 ? 'nav-active' : ''" ngbTooltip="Utilizadores" placement="right">
            <fa-icon [icon]="userIcon"></fa-icon>
        </div>

        <!-- Groups -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(2)"
            [ngClass]="activeNavItem === 2 ? 'nav-active' : ''" ngbTooltip="Grupos" placement="right">
            <fa-icon [icon]="groupIcon"></fa-icon>
        </div>

        <!-- Contribs -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(3)"
            [ngClass]="activeNavItem === 3 ? 'nav-active' : ''" ngbTooltip="Contribuições" placement="right">
            <fa-icon [icon]="contribIcon"></fa-icon>
        </div>

        <!-- Events -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(4)"
            [ngClass]="activeNavItem === 4 ? 'nav-active' : ''" ngbTooltip="Eventos" placement="right">
            <fa-icon [icon]="eventIcon"></fa-icon>
        </div>

        <!-- Real Events -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(5)"
            [ngClass]="activeNavItem === 5 ? 'nav-active' : ''" ngbTooltip="Eventos Reais" placement="right">
            <fa-icon [icon]="eventIcon"></fa-icon>
        </div>

        <!-- Layers -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(6)"
            [ngClass]="activeNavItem === 6 ? 'nav-active' : ''" ngbTooltip="Camadas" placement="right">
            <fa-icon [icon]="layerIcon"></fa-icon>
        </div>

        <!-- Legend -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(7)"
            [ngClass]="activeNavItem === 7 ? 'nav-active' : ''" ngbTooltip="Legenda" placement="right">
            <fa-icon [icon]="legIcon"></fa-icon>
        </div>

        <!-- Graphs -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(8)"
            [ngClass]="activeNavItem === 8 ? 'nav-active' : ''" ngbTooltip="Gráficos" placement="right">
            <fa-icon [icon]="graphIcon"></fa-icon>
        </div>

        <!-- Geo -->
        <div class="nav-item d-flex align-items-center justify-content-center" (click)="openGeoMenu()"
            [ngClass]="(activeNavItem === 9 || activeNavItem === 10 || activeNavItem === 11) && !isGeoMenuOpen ? 'nav-active' : ''"
            ngbTooltip="Menu Geoespacial" placement="right">
            <fa-icon [icon]="geoIcon"></fa-icon>
        </div>

        <!-- Geo Sub-Menu -->
        <div *ngIf="isGeoMenuOpen">
            <!-- Satellite -->
            <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(9)"
                [ngClass]="activeNavItem === 9 ? 'nav-active' : ''" ngbTooltip="Satélite" placement="right">
                <fa-icon [icon]="satIcon"></fa-icon>
            </div>
            <!-- Raster -->
            <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(10)"
                [ngClass]="activeNavItem === 10 ? 'nav-active' : ''" ngbTooltip="Raster" placement="right">
                <fa-icon [icon]="rasterIcon"></fa-icon>
            </div>
            <!-- Vectorial -->
            <div class="nav-item d-flex align-items-center justify-content-center" (click)="selectNavCategory(11)"
                [ngClass]="activeNavItem === 11 ? 'nav-active' : ''" ngbTooltip="Vetorial" placement="right">
                <fa-icon [icon]="vectIcon"></fa-icon>
            </div>
        </div>
    </div>

    <!-- Profile Section -->
    <div class="profile-section d-flex flex-column justify-content-start">
        <!-- User Information Open Nav -->
        <div class="profile-header d-flex align-items-center justify-content-betwwen" *ngIf="!isNavCollapsed">
            <img src="assets/images/profile/profile-default.png" alt="FireLoc">
            <div class="name-container d-flex flex-column align-items-start justify-content-center">
                <h4>{{userName}}</h4>
                <h5>Administrador</h5>
            </div>
        </div>

        <!-- User Information Collapsed Nav -->
        <div class="profile-header-closed d-flex align-items-center justify-content-center" *ngIf="isNavCollapsed">
            <img src="assets/images/profile/profile-default.png" alt="FireLoc">
        </div>

        <!-- Navigation Open Nav -->
        <div class="profile-nav-container" *ngIf="!isNavCollapsed">
            <!-- Profile -->
            <a [routerLink]="'/profile'" class="profile-item d-flex align-items-center justify-content-start">
                <fa-icon [icon]="profileIcon"></fa-icon>
                <span>Perfil</span>
            </a>

            <!-- Geoportal -->
            <a [routerLink]="'/geoportal'" class="profile-item d-flex align-items-center justify-content-start">
                <fa-icon [icon]="eventIcon"></fa-icon>
                <span>Geoportal</span>
            </a>

            <!-- Logout -->
            <a class="profile-item d-flex align-items-center justify-content-start" (click)="logout()">
                <fa-icon [icon]="outIcon"></fa-icon>
                <span>Logout</span>
            </a>
        </div>

        <!-- Navigation Collapsed Nav -->
        <div class="profile-nav-container" *ngIf="isNavCollapsed">
            <!-- Profile -->
            <a [routerLink]="'/profile'" class="profile-item d-flex align-items-center justify-content-center"
                ngbTooltip="Perfil" placement="right">
                <fa-icon [icon]="profileIcon"></fa-icon>
            </a>

            <!-- Geoportal -->
            <a [routerLink]="'/geoportal'" class="profile-item d-flex align-items-center justify-content-center"
                ngbTooltip="Geoportal" placement="right">
                <fa-icon [icon]="eventIcon"></fa-icon>
            </a>

            <!-- Logout -->
            <a class="profile-item d-flex align-items-center justify-content-center" (click)="logout()"
                ngbTooltip="Logout" placement="right">
                <fa-icon [icon]="outIcon"></fa-icon>
            </a>
        </div>
    </div>

</nav>
