<! DOCTYPE html>
<html>
{% load static %}
{% load widget_tweaks %}
{% load atags %}
{% debug as debug %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="JUSTICIA, SOSTENIBILIDAD Y TERRITORIO - SISTEMAS DE INFRAESTRUCTURAS DE DATOS ESPACIALES | JUST Side">
	<meta name="keywords" content="JUSTICIA, justiça, SOSTENIBILIDAD, sustentabilidade, TERRITORIO, INFRAESTRUCTURAS, infraestruturas, DATOS, dados, ESPACIALES, esaciais, JUST-Side">
	<meta name="author" content="JUST Side">
	
	<title>JSAtlas - Login</title>
	<link rel="icon" href="{% static 'jsidejs/img/js-logo.png' %}">
	<link rel="stylesheet" href="{%  static 'bootstrap/dist/css/bootstrap.min.css' %}" />
	{% if debug %}
	<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-body.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-nav.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/viewer-map.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/css/login.css' %}" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px)" href="{% static 'jsidejs/css/atlas-style.css' %}" />
	{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'jsidejs/atlaslogin.min.css' %}" />
	{% endif %}
</head>
<body>
<!-- Header -->
{% include 'header.html' %}
<!-- Login -->
<div class="modal">
	<form class="model-content animate" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<!--<div class="imgcontainer">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Fechar">&times;</span>
		</div>-->
		<div class="container">
			<b>JustSide Atlas - LOGIN</b>
			<hr>
			<label>Utilizador</label>
			{{ form.username|attr:"placeholder:Escrever nome de utilizador" }}
			<br>
			<label>Senha</label>
			{{ form.password|attr:"placeholder:Escrever senha" }}
			<hr>
			<input type="submit" value="Entrar">
			<input type="hidden" name="next" value="{{ next }}" />
		</div>	
	</form>
</div>
</body>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</html>